.default-page{
  margin: 0px;
  display: flex;
  flex:1;
  flex-direction: column;

  .flex{
    display:flex;
  }

  input:focus, button:focus, textarea:focus{
    outline:none;
  }
  textarea{
    resize: none;
  }
  .header{
    display: flex;
    border-bottom:1px solid black;
    #logout{
      display: flex;
      flex: 1;
      justify-content: flex-end;
      text-decoration: none;
      color: black;
      padding: 30px;
    }
  }
  .modal{
    display: none; 
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);

    .store_add{
      background-color: white;
      z-index: 10;
      border-radius: 10px;
      border: 1px solid black;
      width: 600px;
      height: 400px;
      padding: 50px;
      margin: 300px auto;

      .store_name, .store_phone, .search_index, .store_hashtag, .store_address, .store_img{
        width: 100px;
        font-size: 15px;
      }
      #store_name, #store_phone, #search_index, #store_hashtag, #store_address, #store_address{
        box-sizing: border-box;
        border: 1px solid #BEBFBE;
        width: 150px;
        padding: 6px;
        font-size: 15px;
      }
      #store_address{
        box-sizing: border-box;
        border: 1px solid #BEBFBE;
        width: 450px;
        padding: 6px;
        font-size: 15px;
      }
      #add_shop, #cancel{
        height: 30px;
        font-size: 15px;
        margin-right: 25px;
        cursor: pointer;
        padding: 5px 20px;
        border: 1px solid #A4A6A4;
        box-sizing:border-box;
        background: #F1F2F1;
      }
    }
  }
  .main{
    display: flex;
    flex: 1;
    .menu{
      display: flex;
      flex-direction: column;
      border-right: 1px solid black;
      padding-top: 40px;
      flex-shrink: 0;
      width: 240px;
      a{
        text-decoration: none;
        color: gray;
        padding: 10px 100px 10px 50px;
        
        &:hover{
          color:black;
        }
      }
    }
    .modal{
      display: none; 
      position: fixed;
      z-index: 9;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0);

      .list_add{
        box-sizing: border-box;
        padding: 50px 0;
        display:block;
        text-align: center;
        border: 1px solid #BEBFBE;
        background-color: white;
        width: 450px;
        height: 220px;
        text-align: center;
        margin: 400px auto;
        
        #b_add_id{
          width: 200px;
          height: 30px;
          border: 1px solid #A5A6A5;
          padding: 6px;
          margin: 0 10px 0 30px;
          font-size: 15px;
        }
        #b_add_btn{
          background: #F1F2F1;
          height: 30px;
          font-size: 15px;
          border-color: #A5A6A5;
          padding: 0 20px;
          cursor: pointer;
        }
        #b_close{
          background: #F1F2F1;
          height: 30px;
          font-size: 15px;
          border-color: #A5A6A5;
          padding: 0 20px;
          cursor: pointer;
          width: 30px;
          border: 1px solid #A5A6A5;
          margin: 50px auto 0 auto;
          align-items: center; 
          display: flex;
          justify-content: center;
        }
      }
    }
    .submain{
      display: flex;
      flex:1;
      flex-direction: column;
      
      .submenu{
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 50px;
        border-bottom: 1px solid black;
        margin-top: 2px;
        border-top: 1px solid black;

        .list, .b_text, .b_file, .rank, .blacklist, .ask, .content, .store{
          cursor: pointer;
          padding-right: 70px;
        }
      }
      .contents{
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px 50px;
        table{
          border-collapse: collapse;
          width: 100%
        }
        table th{
          border-bottom: 5px solid gray;
          height:50px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        table td{
          height:50px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

        }
        
        .search_list{
          display: flex;
          align-items: center;
          height: 50px;
          margin: 30px 0 20px 0;
          
          #list_text{
            padding-right: 150px;
            padding-left: 10px;
            font-size: 24px;
          }
          .search-form{
            flex:1;

            #search{
              margin: 0;

              #select_option{
                margin-right: 20px;
                font-size: 15px;
              }

              #search_word{
                width: 300px;
                height: 30px;
                border: 1px solid #A5A6A5;
                padding: 6px;
                margin-right: 10px;
                font-size: 15px;
              }
              #search_btn{
                width: 100px;
                background: #F1F2F1;
                height: 30px;
                font-size: 15px;
                border-color: #A5A6A5;
                padding: 0 20px;
                cursor: pointer;
              }
            }
          }
        }
        .user_list{
          height: 550px;
        }
        .paging_area{
          font-size: 19px;
          width: 500px;
          text-align: center;
          margin: 30px auto;

          .current{
            text-decoration: none;
            color:black !important;
          }
          .pagenum{
            padding: 0 5px;
            text-decoration: none;
            color:#A5A6A5;

            &:hover{
              text-decoration: none;
              color: coral;
            }
          }
          .move_btn{
            padding: 0 5px;
          }
        }
        .add_btn{
          width: 100px;
          text-align: center;
          background: #F1F2F1;
          height: 30px;
          font-size: 15px;
          border-color: #A5A6A5;
          margin-right: 10px;
          padding: 0 20px;
          cursor: pointer;
          padding: 5px 20px;
          border: 1px solid #A4A6A4;
          box-sizing:border-box;
        }
        #add_btn, .sub_btn, #del_btn {
          width: 100px;
          text-align: center;
          background: #F1F2F1;
          height: 30px;
          font-size: 15px;
          border-color: #A5A6A5;
          margin-right: 10px;
          padding: 0 20px;
          cursor: pointer;
          padding: 5px 20px;
          border: 1px solid #A4A6A4;
          box-sizing:border-box;
        }
        #contents_text, #store_text{
          padding-right: 150px;
          padding-left: 10px;
          font-size: 24px;
        }
        .store_search form{
          margin: 0;

          #store_search{
            width: 350px;
            height: 30px;
            border: 1px solid #A5A6A5;
            padding: 6px;
            margin-right: 20px;
            font-size: 15px;
          }
        }
        .contents_search form{
          margin: 0;

          #c_search{
            width: 350px;
            height: 30px;
            border: 1px solid #A5A6A5;
            padding: 6px;
            margin-right: 20px;
            font-size: 15px;
          }
        }
        #add_contents, #del_contents, #add_store, #del_store{
          width: 100px;
          height: 30px;
          border: 1px solid #B3B4B3;
          border-radius: 7px;
          font-size: 13px;
          margin-right: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        .add_title{
          width: 800px;
          height: 30px;
          border: 1px solid #A5A6A5;
          padding: 6px;
          margin: 50px 0 20px 0;
          font-size: 15px;
        }
        .add_text{
          width: 800px;
          height: 450px;
          border: 1px solid #A5A6A5;
          padding: 10px;
          font-size: 15px;
        }
        .c_file,.c_file_sub{
          width: 300px;
          height: 30px;
          border: 1px solid #A5A6A5;
          padding: 6px;
          margin: 0 20px;
          font-size: 15px;
        }
        .btn_file{
          height: 30px;
          font-size: 15px;
          margin-right: 10px;
          cursor: pointer;
          padding: 5px 20px;
          border: 1px solid #A4A6A4;
          box-sizing:border-box;
          background: #F1F2F1;
        }
        #add_main, #add_sub{
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1;
          overflow: hidden;
          clip: rect(0,0,0,0);
          border: 0;
        }
        .text_h{
          margin: 30px 0 20px 0;
          font-size: 24px;
        }
        .banner_guide{
          display: flex;
          margin-bottom: 10px;
          align-items: center;
          
          #h_text{
            width: 350px;
            height: 30px;
            border: 1px solid #A5A6A5;
            padding: 6px;
            margin-right: 10px;
            font-size: 15px;
          }
          #h_btn{
            background: #F1F2F1;
            width: 100px;
            height: 30px;
            font-size: 15px;
            border-color: #A5A6A5;
            padding: 0 20px;
            cursor: pointer;
          }
        }
        .m_banner{
          display: flex;
          align-items: center;

          #m_text{
            width: 350px;
            height: 30px;
            border: 1px solid #A5A6A5;
            padding: 6px;
            margin-right: 10px;
            font-size: 15px;
          }
          #m_btn{
            background: #F1F2F1;
            width: 100px;
            height: 30px;
            font-size: 15px;
            border-color: #A5A6A5;
            padding: 0 20px;
            cursor: pointer;
          }
        }
        .file_h{
          margin-right: 60px;
          font-size: 24px;
        }
        .web, .mobile{
          font-size: 20px;
          margin-right: 20px;
          cursor: pointer;
        }
        
        .banner_file{
          display: flex;
          flex-direction: column;
  
          .f_title, .h_file{
            width: 450px;
            height: 30px;
            border: 1px solid #A5A6A5;
            padding: 6px;
            font-size: 15px;
            margin-right: 20px;
          }
          .h_title{
            margin-bottom: 10px;
          }
          .h_file{
            margin-right: 15px;
          }
          .btn_file, .del_btn{
            width: 100px;
            text-align: center;
            background: #F1F2F1;
            height: 30px;
            font-size: 15px;
            border-color: #A5A6A5;
            margin-right: 10px;
            padding: 0 20px;
            cursor: pointer;
          }
          .btn_file, .del_btn{
            width: 100px;
            padding: 5px 20px;
            border: 1px solid #A4A6A4;
            box-sizing:border-box;
          }
          #up_btn{
            width: 100px;
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
          }
        }
        #rank_text{
          margin: 30px 0 20px 0;
          font-size: 24px;
          display: flex;

        }
        #up_btn, .store_btn{
          width: 100px;
          background: #F1F2F1;
          height: 30px;
          font-size: 15px;
          border-color: #A5A6A5;
          margin-right: 10px;
          cursor: pointer;
          padding: 5px 20px;
          border: 1px solid #A4A6A4;
          box-sizing:border-box;
        }
        .store_btn{
          margin: 20px 0 20px 100px;
        }
        .tag_option{
          margin: 0 0 0 65px;
          
          #tag_option{
            width: 100px;
            height: 30px;
            font-size: 15px;
          }
        }

        .rank_theme, .rank_store{
          display: flex;
          margin-bottom: 10px;
          flex-direction: column;
          
          .edit-store{
            display:flex; 
            flex-direction:column; 
            margin-bottom:10px;
            font-size: 18px;

            .store_title{
              width: 200px;
              height: 30px;
              border: 1px solid #A5A6A5;
              padding: 6px;
              font-size: 18px;
            }
          }

          .theme_title, .theme_tag{
            width: 350px;
            height: 30px;
            border: 1px solid #A5A6A5;
            padding: 6px;
            margin-right: 15px;
            font-size: 15px;
          }
          .del_btn, .up_btn{
            text-align: center;
            width: 100px;
            background: #F1F2F1;
            height: 30px;
            font-size: 15px;
            border-color: #A5A6A5;
            margin-right: 10px;
            padding: 0 20px;
            cursor: pointer;
            padding: 5px 20px;
            border: 1px solid #A4A6A4;
            box-sizing:border-box;
          }
        }
        #b_list_text{
          padding-right: 150px;
          padding-left: 10px;
          font-size: 24px;
        }
        .b_search-form{
          
          #b_search{
            margin: 0;
            #b_search_id{
              width: 350px;
              height: 30px;
              border: 1px solid #A5A6A5;
              padding: 6px;
              margin-right: 15px;
              font-size: 15px;
            }
          }
        }
        .ask_text{
          margin: 30px 0 20px 0;
          font-size: 24px;
        }
        .title{
          cursor: pointer;
        }
        .confirm_area{
          margin-top: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;

          #confirm_title, #confirm_email, #confirm_text{
            width: 800px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #C9CAC9; 
          }
          
          #confirm_title, #confirm_email{
            display: flex;
            align-items: center;
            height: 40px;
            margin-bottom: 20px;
          }
          #confirm_text{
            height: 450px;
            line-height: 20px;
            margin-bottom: 40px;
          }
          #confirm_btn{
            width: 100px;
            height: 50px;
            background-color: #DBE5F1;
            border: 1px solid #DBE5F1;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
        .reply_area{

          form{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            #reply_title, #reply_email, #reply_text{
              width: 800px;
              padding: 10px;
              box-sizing: border-box;
              border: 1px solid #C9CAC9; 
              font-size:16px;
            }
            #reply_title, #reply_email{
              display: flex;
              align-items: center;
              height: 40px;
              margin-bottom: 20px;
            }
            #reply_text{
              height: 450px;
              line-height: 20px;
              margin-bottom: 40px;
            }
            #reply_btn{
              width: 100px;
              height: 50px;
              background-color: #DBE5F1;
              border: 1px solid #DBE5F1;
              border-radius: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }
          }
        }
      }
    }
    .test-form{
      display:flex;
      flex-direction:column;
      margin: 10px auto;
      align-items:center;
      
      #admin_id, #admin_pw{
        width: 450px;
        height: 49px;
        font-size: 14px;
        border-radius: 51px;
        padding-left: 30px;
        padding-right: 30px;
        border: 1px solid black;
        background-color: white;
        box-sizing: border-box;
        color: black;
        margin-bottom:10px;
      }
      #admin_pw{
        margin-bottom:20px;
      }
      #admin-btn{
        width: 200px;
        height: 46px;
        color: white;
        background-color: #504f57;
        font-size: 15px;
        border: 0px solid #504f57;
        border-radius: 50px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
.login-page{
  
  .main{
    align-items: center;
  }
}
.contents-page{
  
  .contents{

    #img_box{
      width: 100px;
      height: 100px;

      #td-img{
        width: 100%;
        height: 100%;
        margin: 20px 0;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    
    #enter_btn, #cancel_btn{
      width: 100px;
      height: 35px;
      font-size: 15px;
      background-color: #DBE5F1;
      border: 1px solid #DBE5F1;
      border-radius: 30px;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
.store-page{
  
  .contents{
    display: flex;
    flex-direction: column;
    padding: 50px 100px !important; 

    .store_info{
      display: flex;
      border-bottom: 3px solid black;
      padding-bottom: 20px;
      margin-bottom: 20px;

      .edit_btn, .end_btn{
        position: absolute;
        right: 50px;
        background: #4E81BD;
        color: white;
        width: 80px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
      }
      .photo{
        width: 350px;
        height: 350px;
        overflow: hidden;
        position: relative;

        >img{
          position: absolute;
          margin: auto;
          height: 100%;
          width: 100%;
          left: -100%;
          right: -100%;
          top: -100%;
          bottom: -100%;
          cursor: pointer;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .info{
        padding: 20px 50px;
        
        >input{
          width: 250px;
          height: 30px;
          font-size: 16px !important;
          margin-right: 20px;
        }

        .name{
          font-size: 40px;
          margin: 20px 0 30px 0;
        }
        .hashtag{
          display: flex;
          font-size: 20px;
          margin-bottom: 80px;
          
          >input{
            width: 50px;
            height: 30px;
            font-size: 16px;
            margin-right: 20px;

          }
          #hashtag{
            margin-right: 30px;
            
          }
        }
        .number{
          font-size: 20px;
          margin-bottom: 10px;
        }
        .adress{
          font-size: 20px;
        }
        .keyword{
          margin-right: 10px; 
          width: 100px;
          height: 30px;
          border: 2px solid #A1B1C3;
          border-radius: 30px;
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }
      .etc{
        padding-top: 100px;
      }
    }
    .store_list{
      .list-line{
        
        #img_box{
          overflow: hidden;
          width: 100px;
          height: 100px;
          position: relative;

          #td-img{
            margin: auto;
            height: 100%;
            width: 100%;
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
            cursor: pointer;
            object-fit: cover;
            border-radius: 5px;
          }
        }
      }
    }
    .store_img{
      margin: 50px 0;
  
      #img_name{
        flex:1;
        justify-content: center;
        display: flex;
        font-size: 40px;
      }
      #img_list, #img_save{
        width: 80px;
        height: 40px;
        color: white;
        background-color: #4E81BD;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
    .del_div{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      width : 100%;
      .del_btn{
        position: relative;
        right: 50px;
        background: #4E81BD;
        color: white;
        width: 80px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    .detail_img{
      display: flex;
      flex : 1;
      flex-wrap: wrap;
      .list-line{
        overflow: hidden;
        width: 250px;
        height: 250px;
        position: relative;
        margin: 15px;
  
        .del_check{
          position: absolute;
          width: 20px;
          height: 20px;
        }
        >img{
          margin: auto;
          height: 100%;
          width: 100%;
          left: -100%;
          right: -100%;
          top: -100%;
          bottom: -100%;
          cursor: pointer;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
  }
}