.default-page {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-page .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.default-page input:focus, .default-page button:focus, .default-page textarea:focus {
  outline: none;
}

.default-page textarea {
  resize: none;
}

.default-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
}

.default-page .header #logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
  color: black;
  padding: 30px;
}

.default-page .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.default-page .main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid black;
  padding-top: 40px;
}

.default-page .main .menu a {
  text-decoration: none;
  color: gray;
  padding: 10px 100px 10px 50px;
}

.default-page .main .menu a:hover {
  color: black;
}

.default-page .main .modal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0);
}

.default-page .main .modal .list_add {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 0;
  display: block;
  text-align: center;
  border: 1px solid #BEBFBE;
  background-color: white;
  width: 450px;
  height: 220px;
  text-align: center;
  margin: 400px auto;
}

.default-page .main .modal .list_add #b_add_id {
  width: 200px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin: 0 10px 0 30px;
  font-size: 15px;
}

.default-page .main .modal .list_add #b_add_btn {
  background: #F1F2F1;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  padding: 0 20px;
  cursor: pointer;
}

.default-page .main .modal .list_add #b_close {
  background: #F1F2F1;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  padding: 0 20px;
  cursor: pointer;
  width: 30px;
  border: 1px solid #A5A6A5;
  margin: 50px auto 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.default-page .main .submain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-page .main .submain .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding-left: 50px;
  border-bottom: 1px solid black;
  margin-top: 2px;
  border-top: 1px solid black;
}

.default-page .main .submain .submenu .list, .default-page .main .submain .submenu .b_text, .default-page .main .submain .submenu .b_file, .default-page .main .submain .submenu .rank, .default-page .main .submain .submenu .blacklist, .default-page .main .submain .submenu .ask, .default-page .main .submain .submenu .content, .default-page .main .submain .submenu .store {
  cursor: pointer;
  padding-right: 70px;
}

.default-page .main .submain .contents {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 50px;
}

.default-page .main .submain .contents table {
  border-collapse: collapse;
  width: 100%;
}

.default-page .main .submain .contents table th {
  border-bottom: 5px solid gray;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.default-page .main .submain .contents table td {
  height: 50px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.default-page .main .submain .contents .search_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin: 30px 0 20px 0;
}

.default-page .main .submain .contents .search_list #list_text {
  padding-right: 150px;
  padding-left: 10px;
  font-size: 24px;
}

.default-page .main .submain .contents .search_list .search-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.default-page .main .submain .contents .search_list .search-form #search {
  margin: 0;
}

.default-page .main .submain .contents .search_list .search-form #search #select_option {
  margin-right: 20px;
  font-size: 15px;
}

.default-page .main .submain .contents .search_list .search-form #search #search_word {
  width: 300px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin-right: 10px;
  font-size: 15px;
}

.default-page .main .submain .contents .search_list .search-form #search #search_btn {
  width: 100px;
  background: #F1F2F1;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  padding: 0 20px;
  cursor: pointer;
}

.default-page .main .submain .contents .user_list {
  height: 550px;
}

.default-page .main .submain .contents .paging_area {
  font-size: 19px;
  width: 500px;
  text-align: center;
  margin: 30px auto;
}

.default-page .main .submain .contents .paging_area .current {
  text-decoration: none;
  color: black !important;
}

.default-page .main .submain .contents .paging_area .pagenum {
  padding: 0 5px;
  text-decoration: none;
  color: #A5A6A5;
}

.default-page .main .submain .contents .paging_area .pagenum:hover {
  text-decoration: none;
  color: coral;
}

.default-page .main .submain .contents .paging_area .move_btn {
  padding: 0 5px;
}

.default-page .main .submain .contents .add_btn {
  width: 100px;
  text-align: center;
  background: #F1F2F1;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  margin-right: 10px;
  padding: 0 20px;
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #A4A6A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.default-page .main .submain .contents #add_btn, .default-page .main .submain .contents .sub_btn, .default-page .main .submain .contents #del_btn {
  width: 100px;
  text-align: center;
  background: #F1F2F1;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  margin-right: 10px;
  padding: 0 20px;
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #A4A6A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.default-page .main .submain .contents #contents_text, .default-page .main .submain .contents #store_text {
  padding-right: 150px;
  padding-left: 10px;
  font-size: 24px;
}

.default-page .main .submain .contents .store_search form {
  margin: 0;
}

.default-page .main .submain .contents .store_search form #store_search {
  width: 350px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin-right: 20px;
  font-size: 15px;
}

.default-page .main .submain .contents .contents_search form {
  margin: 0;
}

.default-page .main .submain .contents .contents_search form #c_search {
  width: 350px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin-right: 20px;
  font-size: 15px;
}

.default-page .main .submain .contents #add_contents, .default-page .main .submain .contents #del_contents, .default-page .main .submain .contents #add_store, .default-page .main .submain .contents #del_store {
  width: 100px;
  height: 30px;
  border: 1px solid #B3B4B3;
  border-radius: 7px;
  font-size: 13px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.default-page .main .submain .contents .add_title {
  width: 800px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin: 50px 0 20px 0;
  font-size: 15px;
}

.default-page .main .submain .contents .add_text {
  width: 800px;
  height: 450px;
  border: 1px solid #A5A6A5;
  padding: 10px;
  font-size: 15px;
}

.default-page .main .submain .contents .c_file, .default-page .main .submain .contents .c_file_sub {
  width: 300px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin: 0 20px;
  font-size: 15px;
}

.default-page .main .submain .contents .btn_file {
  height: 30px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #A4A6A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F1F2F1;
}

.default-page .main .submain .contents #add_main, .default-page .main .submain .contents #add_sub {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.default-page .main .submain .contents .text_h {
  margin: 30px 0 20px 0;
  font-size: 24px;
}

.default-page .main .submain .contents .banner_guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-page .main .submain .contents .banner_guide #h_text {
  width: 350px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin-right: 10px;
  font-size: 15px;
}

.default-page .main .submain .contents .banner_guide #h_btn {
  background: #F1F2F1;
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  padding: 0 20px;
  cursor: pointer;
}

.default-page .main .submain .contents .m_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-page .main .submain .contents .m_banner #m_text {
  width: 350px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin-right: 10px;
  font-size: 15px;
}

.default-page .main .submain .contents .m_banner #m_btn {
  background: #F1F2F1;
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  padding: 0 20px;
  cursor: pointer;
}

.default-page .main .submain .contents .file_h {
  margin-right: 60px;
  font-size: 24px;
}

.default-page .main .submain .contents .web, .default-page .main .submain .contents .mobile {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.default-page .main .submain .contents .banner_file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-page .main .submain .contents .banner_file .f_title, .default-page .main .submain .contents .banner_file .h_file {
  width: 450px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  font-size: 15px;
  margin-right: 20px;
}

.default-page .main .submain .contents .banner_file .h_title {
  margin-bottom: 10px;
}

.default-page .main .submain .contents .banner_file .h_file {
  margin-right: 15px;
}

.default-page .main .submain .contents .banner_file .btn_file, .default-page .main .submain .contents .banner_file .del_btn {
  width: 100px;
  text-align: center;
  background: #F1F2F1;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  margin-right: 10px;
  padding: 0 20px;
  cursor: pointer;
}

.default-page .main .submain .contents .banner_file .btn_file, .default-page .main .submain .contents .banner_file .del_btn {
  width: 100px;
  padding: 5px 20px;
  border: 1px solid #A4A6A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.default-page .main .submain .contents .banner_file #up_btn {
  width: 100px;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.default-page .main .submain .contents #rank_text {
  margin: 30px 0 20px 0;
  font-size: 24px;
}

.default-page .main .submain .contents #up_btn, .default-page .main .submain .contents .store_btn {
  width: 100px;
  background: #F1F2F1;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #A4A6A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.default-page .main .submain .contents .store_btn {
  margin: 20px 0 20px 100px;
}

.default-page .main .submain .contents .rank_theme, .default-page .main .submain .contents .rank_store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-page .main .submain .contents .rank_theme .edit-store, .default-page .main .submain .contents .rank_store .edit-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 18px;
}

.default-page .main .submain .contents .rank_theme .edit-store .store_title, .default-page .main .submain .contents .rank_store .edit-store .store_title {
  width: 200px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  font-size: 18px;
}

.default-page .main .submain .contents .rank_theme .theme_title, .default-page .main .submain .contents .rank_theme .theme_tag, .default-page .main .submain .contents .rank_store .theme_title, .default-page .main .submain .contents .rank_store .theme_tag {
  width: 350px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin-right: 15px;
  font-size: 15px;
}

.default-page .main .submain .contents .rank_theme .del_btn, .default-page .main .submain .contents .rank_theme .up_btn, .default-page .main .submain .contents .rank_store .del_btn, .default-page .main .submain .contents .rank_store .up_btn {
  text-align: center;
  width: 100px;
  background: #F1F2F1;
  height: 30px;
  font-size: 15px;
  border-color: #A5A6A5;
  margin-right: 10px;
  padding: 0 20px;
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #A4A6A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.default-page .main .submain .contents #b_list_text {
  padding-right: 150px;
  padding-left: 10px;
  font-size: 24px;
}

.default-page .main .submain .contents .b_search-form #b_search {
  margin: 0;
}

.default-page .main .submain .contents .b_search-form #b_search #b_search_id {
  width: 350px;
  height: 30px;
  border: 1px solid #A5A6A5;
  padding: 6px;
  margin-right: 15px;
  font-size: 15px;
}

.default-page .main .submain .contents .ask_text {
  margin: 30px 0 20px 0;
  font-size: 24px;
}

.default-page .main .submain .contents .title {
  cursor: pointer;
}

.default-page .main .submain .contents .confirm_area {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-page .main .submain .contents .confirm_area #confirm_title, .default-page .main .submain .contents .confirm_area #confirm_email, .default-page .main .submain .contents .confirm_area #confirm_text {
  width: 800px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #C9CAC9;
}

.default-page .main .submain .contents .confirm_area #confirm_title, .default-page .main .submain .contents .confirm_area #confirm_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 20px;
}

.default-page .main .submain .contents .confirm_area #confirm_text {
  height: 450px;
  line-height: 20px;
  margin-bottom: 40px;
}

.default-page .main .submain .contents .confirm_area #confirm_btn {
  width: 100px;
  height: 50px;
  background-color: #DBE5F1;
  border: 1px solid #DBE5F1;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.default-page .main .submain .contents .reply_area form {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-page .main .submain .contents .reply_area form #reply_title, .default-page .main .submain .contents .reply_area form #reply_email, .default-page .main .submain .contents .reply_area form #reply_text {
  width: 800px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #C9CAC9;
  font-size: 16px;
}

.default-page .main .submain .contents .reply_area form #reply_title, .default-page .main .submain .contents .reply_area form #reply_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 20px;
}

.default-page .main .submain .contents .reply_area form #reply_text {
  height: 450px;
  line-height: 20px;
  margin-bottom: 40px;
}

.default-page .main .submain .contents .reply_area form #reply_btn {
  width: 100px;
  height: 50px;
  background-color: #DBE5F1;
  border: 1px solid #DBE5F1;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.default-page .main .test-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-page .main .test-form #admin_id, .default-page .main .test-form #admin_pw {
  width: 450px;
  height: 49px;
  font-size: 14px;
  border-radius: 51px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid black;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  margin-bottom: 10px;
}

.default-page .main .test-form #admin_pw {
  margin-bottom: 20px;
}

.default-page .main .test-form #admin-btn {
  width: 200px;
  height: 46px;
  color: white;
  background-color: #504f57;
  font-size: 15px;
  border: 0px solid #504f57;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.login-page .main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-page .contents #img_box {
  width: 100px;
  height: 100px;
}

.contents-page .contents #img_box #td-img {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  border-radius: 10px;
  cursor: pointer;
}

.contents-page .contents #enter_btn, .contents-page .contents #cancel_btn {
  width: 100px;
  height: 35px;
  font-size: 15px;
  background-color: #DBE5F1;
  border: 1px solid #DBE5F1;
  border-radius: 30px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.store-page .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 100px !important;
}

.store-page .contents .store_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.store-page .contents .store_info .edit_btn, .store-page .contents .store_info .end_btn {
  position: absolute;
  right: 50px;
  background: #4E81BD;
  color: white;
  width: 80px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.store-page .contents .store_info .photo {
  width: 350px;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.store-page .contents .store_info .photo > img {
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.store-page .contents .store_info .info {
  padding: 20px 50px;
}

.store-page .contents .store_info .info > input {
  width: 250px;
  height: 30px;
  font-size: 16px !important;
  margin-right: 20px;
}

.store-page .contents .store_info .info .name {
  font-size: 40px;
  margin: 20px 0 30px 0;
}

.store-page .contents .store_info .info .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin-bottom: 80px;
}

.store-page .contents .store_info .info .hashtag > input {
  width: 250px;
  height: 30px;
  font-size: 16px;
  margin-right: 20px;
}

.store-page .contents .store_info .info .hashtag #hashtag {
  margin-right: 30px;
}

.store-page .contents .store_info .info .number {
  font-size: 20px;
  margin-bottom: 10px;
}

.store-page .contents .store_info .info .adress {
  font-size: 20px;
}

.store-page .contents .store_info .info .keyword {
  margin-right: 10px;
  width: 80px;
  height: 30px;
  border: 2px solid #A1B1C3;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.store-page .contents .store_info .etc {
  padding-top: 100px;
}

.store-page .contents .store_list .list-line #img_box {
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: relative;
}

.store-page .contents .store_list .list-line #img_box #td-img {
  margin: auto;
  height: 100%;
  width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.store-page .contents .store_img {
  margin: 50px 0;
}

.store-page .contents .store_img #img_name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
}

.store-page .contents .store_img #img_list, .store-page .contents .store_img #img_save {
  width: 80px;
  height: 40px;
  color: white;
  background-color: #4E81BD;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.store-page .contents .del_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.store-page .contents .del_div .del_btn {
  position: relative;
  right: 50px;
  background: #4E81BD;
  color: white;
  width: 80px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.store-page .contents .detail_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.store-page .contents .detail_img .list-line {
  overflow: hidden;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 15px;
}

.store-page .contents .detail_img .list-line .del_check {
  position: absolute;
  width: 20px;
  height: 20px;
}

.store-page .contents .detail_img .list-line > img {
  margin: auto;
  height: 100%;
  width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
/*# sourceMappingURL=a_style.css.map */