.default-page{
  margin: 0px;
  display: flex;
  flex:1;
  flex-direction: column;

  input:focus{
    outline:none;
  }
  button:focus{
    outline:none;
  }
  .header{
    display: flex;
    border-bottom:1px solid black;
    #logout{
      display: flex;
      flex: 1;
      justify-content: flex-end;
      text-decoration: none;
      color: black;
      padding: 30px;
    }
  }
  .main{
    display: flex;
    flex: 1;
    .menu{
      display: flex;
      flex-direction: column;
      border-right: 1px solid black;
      a{
        text-decoration: none;
        color: gray;
        padding: 10px 50px;
        
        &:hover{
          color:black;
        }
      }
    }
    .submain{
      display: flex;
      flex:1;
      flex-direction: column;
      
      .submenu{
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 50px;
        border-bottom: 1px solid black;
      }
      .contents{
        flex: 1;
        padding: 20px 50px;
        
        .search_list{
          display: flex;
          align-items: center;
          height: 50px;
          
          #list_text{
            padding-right: 200px;
          }
          .search-form{
            flex:1;
            
            .search{
              display: flex;
            }
          }
        }
        .user_list table{
          border-collapse: collapse;
          text-align: center;
        }
        .user_list th{
          border-bottom: 2px solid black;
          height:50px;
        }
        .user_list td{
          height:50px;
        }
      }
    }
    .test-form{
      display:flex;
      flex-direction:column;
      margin: 10px auto;
      align-items:center;
      
      #admin_id, #admin_pw{
        width: 400px;
        height: 49px;
        font-size: 14px;
        border-radius: 51px;
        padding-left: 30px;
        padding-right: 30px;
        border: 1px solid black;
        background-color: white;
        box-sizing: border-box;
        color: black;
        margin-bottom:10px;
      }
      #admin_pw{
        margin-bottom:20px;
      }
      #admin-btn{
        width: 200px;
        height: 46px;
        color: white;
        background-color: #504f57;
        font-size: 15px;
        border: 0px solid #504f57;
        border-radius: 50px;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }
}
.login-page{
  
  .main{
    align-items: center;
  }
}