@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: 'Montserrat-bold';
  font-style: bold;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format("truetype");
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.default-page {
  max-width: 960px;
  min-width: 960px;
  width: 100%;
  margin: 0px;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

.default-page .loading {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  display: none;
}

.default-page .dot div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 10px;
  background-color: #D0C1D0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: dot 1.5s linear infinite;
          animation: dot 1.5s linear infinite;
}

.default-page .dot div:nth-child(1) {
  left: -50px;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.default-page .dot div:nth-child(3) {
  right: -50px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.default-page .head .head-hot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 50px;
  background: #f9f5f8;
}

.default-page .head .head-hot .rank-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 50px;
  margin-right: 55px;
}

.default-page .head .head-hot .rank-container .hot-ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 2;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot {
  font-size: 20px;
  border-radius: 3px;
  padding: 0 30px;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list-h .num {
  color: #D8A3D2;
  font-family: "Noto Sans KR", sans-serif;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list-h a {
  text-decoration: none;
  color: #504F57;
  padding: 0 20px 0 30px;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 10px 0;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list .num {
  color: #D8A3D2;
  font-family: "Noto Sans KR", sans-serif;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list a {
  text-decoration: none;
  color: #504F57;
  padding: 0 20px 0 30px;
}

.default-page .head .head-hot .rank-container .rank-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20px;
  height: 50px;
  padding-left: 20px;
}

.default-page .head .head-hot .rank-container .rank-btn #down-btn {
  display: block;
  padding: 5px;
}

.default-page .head .head-hot .rank-container .rank-btn #up-btn {
  display: none;
  padding: 5px;
}

.default-page .head .head-top {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.default-page .head .head-top .menu {
  width: 22px;
  height: 27px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 49px 60px 52px 0px;
}

.default-page .head .head-top .menu .menu-bar {
  width: 100%;
  height: 100%;
}

.default-page .head .head-top .menu .menu-bar .slide-bar {
  width: 22px;
  height: 3px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #504F57;
  background: #504F57;
  margin-bottom: 6px;
}

.default-page .slide-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(80, 79, 87, 0.4);
}

.default-page .slide-modal .menu-slide {
  position: absolute;
  width: 130px;
  height: 100%;
  background: white;
  right: 0;
  z-index: 4;
}

.default-page .slide-modal .menu-slide #close-icon {
  width: 28px;
  font-size: 28px;
  margin: 45px auto 50px auto;
  text-align: center;
}

.default-page .slide-modal .menu-slide #login-icon, .default-page .slide-modal .menu-slide #ranking-icon, .default-page .slide-modal .menu-slide #news-icon, .default-page .slide-modal .menu-slide #rank-area-icon, .default-page .slide-modal .menu-slide #contents-icon, .default-page .slide-modal .menu-slide #service-icon, .default-page .slide-modal .menu-slide #ask-icon {
  width: 28px;
  margin: 50px auto;
}

.default-page .slide-modal .menu-slide .tooltip-content {
  position: absolute;
  width: 400px;
  height: auto;
  top: 400px;
  background-color: #faf6f9;
  border: 1px solid #ebdaeb;
  border-radius: 10px;
  padding: 100px 100px 100px 60px;
  -webkit-box-shadow: 10px 10px 30px 2px rgba(80, 79, 87, 0.5);
          box-shadow: 10px 10px 30px 2px rgba(80, 79, 87, 0.5);
  z-index: 5;
  right: 150px;
  line-height: 30px;
  visibility: hidden;
}

.default-page .slide-modal .menu-slide .tooltip-content ::after {
  position: absolute;
  content: '';
  right: 0;
  top: 40px;
  bottom: -30px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left-color: #faf6f9;
  margin-right: -30px;
}

.default-page .slide-modal .menu-slide #favorite-icon {
  text-align: center;
  width: 60px;
  margin: 50px auto 0 auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #d0c1d0;
}

.default-page input:focus {
  outline: none;
}

.default-page button:focus {
  outline: none;
}

.default-page textarea:focus {
  outline: none;
}

.main-page .head .head-top {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .head .head-top .search-icon {
  display: none !important;
}

.main-page .head .head-top .logo {
  display: block !important;
}

.main-page .head .head-top .logo > img {
  width: 170px;
  height: 55px;
  margin: 35px 0px 35px 80px;
}

.main-page .head .head-top .form-container {
  display: none;
}

.main-page .head .head-top .menu {
  width: 22px;
  height: 27px;
  position: absolute;
  right: 0;
  margin: 49px 60px 52px 0px;
}

.main-page .head .head-top .menu .menu-bar {
  width: 100%;
  height: 100%;
}

.main-page .head .head-top .menu .menu-bar .slide-bar {
  width: 22px;
  height: 3px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #504F57;
  background: #504F57;
  margin-bottom: 6px;
}

.main-page .main {
  margin: 30px 0 60px 0;
}

.main-page .main .slide-picture {
  width: 100%;
  height: 100%;
}

.main-page .main .slide-picture .slide {
  width: 902px;
  height: 966px;
  margin: 0 auto;
}

.main-page .main .slide-picture .slide > img {
  width: 902px;
  height: 966px;
  border-radius: 40px;
}

.main-page .footer .footer-top {
  color: #504F57;
  font-size: 36px;
  margin-left: 80px;
  margin-bottom: 30px;
}

.main-page .footer .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main-page .footer .search-form > input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 70px;
  border: 1px solid #504f57;
  margin: 0 auto;
  border-radius: 40px;
  padding-left: 30px;
  font-size: 26px;
  margin-bottom: 40px;
}

.main-page .footer .search-form #search-img {
  width: 29px;
  height: 30px;
  position: absolute;
  right: 85px;
  top: 20px;
}

.main-page .footer .search-form > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin: 0 auto;
  height: 70px;
  font-size: 20px;
  letter-spacing: 4px;
  border-radius: 40px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #504F57;
  border: 1px solid #504F57;
  font-family: "Montserrat-bold", sans-serif;
  margin-bottom: 50px;
}

.main-page .footer .search-form > button:hover {
  background: #d0c1d0;
}

.main-page .footer .search-form > button:active {
  background: #d8a3d2;
}

.search-o-page .img-container {
  width: 890px !important;
  height: 890px !important;
}

.search-o-page .img-container > img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.search-page, .search-o-page {
  font-family: "Noto Sans KR", sans-serif;
}

.search-page .head .head-top, .search-o-page .head .head-top {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-page .head .head-top .search-icon, .search-o-page .head .head-top .search-icon {
  display: none;
}

.search-page .head .head-top .logo, .search-o-page .head .head-top .logo {
  display: none !important;
}

.search-page .head .head-top .logo > img, .search-o-page .head .head-top .logo > img {
  width: 170px;
  height: 55px;
  margin: 35px 0px 35px 80px;
}

.search-page .head .head-top .form-container, .search-o-page .head .head-top .form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-page .head .head-top .form-container .back, .search-o-page .head .head-top .form-container .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  margin: 40px 0 40px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.search-page .head .head-top .form-container .search-form2, .search-o-page .head .head-top .form-container .search-form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.search-page .head .head-top .form-container .search-form2 > input, .search-o-page .head .head-top .form-container .search-form2 > input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 55px;
  border: 1px solid #504f57;
  margin: 35px auto 35px 80px;
  border-radius: 40px;
  padding-left: 30px;
  font-size: 22px;
  margin-bottom: 40px;
}

.search-page .head .head-top .form-container .search-form2 #search-img2, .search-o-page .head .head-top .form-container .search-form2 #search-img2 {
  width: 29px;
  height: 30px;
  position: absolute;
  right: 225px;
  top: 45px;
}

.search-page .head .head-top .menu, .search-o-page .head .head-top .menu {
  width: 22px;
  height: 27px;
  position: absolute;
  right: 0;
  margin: 49px 60px 52px 0px;
}

.search-page .head .head-top .menu .menu-bar, .search-o-page .head .head-top .menu .menu-bar {
  width: 100%;
  height: 100%;
}

.search-page .head .head-top .menu .menu-bar .slide-bar, .search-o-page .head .head-top .menu .menu-bar .slide-bar {
  width: 22px;
  height: 3px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #504F57;
  background: #504F57;
  margin-bottom: 6px;
}

.search-page .main .main-top, .search-o-page .main .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  position: relative;
}

.search-page .main .main-top .text, .search-o-page .main .main-top .text {
  font-size: 36px;
  color: #504f57;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 40px 0 0 80px;
}

.search-page .main .main-top .search-time, .search-o-page .main .main-top .search-time {
  margin: 40px 60px 0 0;
}

.search-page .main .main-top .search-time #all, .search-o-page .main .main-top .search-time #all {
  text-decoration: none;
  color: #504F57;
  margin-right: 30px;
  font-size: 20px;
}

.search-page .main .main-top .search-time #recently, .search-o-page .main .main-top .search-time #recently {
  text-decoration: none;
  color: #504F57;
  font-size: 20px;
}

.search-page .main .view-type, .search-o-page .main .view-type {
  position: absolute;
  right: 80px;
  bottom: -100px;
}

.search-page .main .view-type #double, .search-o-page .main .view-type #double {
  margin-right: 20px;
}

.search-page .main .search-list .no-search, .search-o-page .main .search-list .no-search {
  display: none;
  text-align: center;
  font-size: 28px;
}

.search-page .main .search-list .list-line, .search-o-page .main .search-list .list-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-page .main .search-list .list-line .store-list, .search-o-page .main .search-list .list-line .store-list {
  margin: 20px auto;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.search-page .main .search-list .list-line .store-list .img-container, .search-o-page .main .search-list .list-line .store-list .img-container {
  width: 420px;
  height: 420px;
}

.search-page .main .search-list .list-line .store-list .img-container > img, .search-o-page .main .search-list .list-line .store-list .img-container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.search-page .main .search-list .list-line .store-list .store-name, .search-o-page .main .search-list .list-line .store-list .store-name {
  font-weight: 400;
  font-size: 28px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-page .main .search-list .list-line .store-list .views, .search-o-page .main .search-list .list-line .store-list .views {
  color: #d8a3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
  font-size: 28px;
  padding-top: 3px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.search-page .main .search-list .list-line .store-list .keyword, .search-o-page .main .search-list .list-line .store-list .keyword {
  margin-right: 10px;
  font-size: 18px;
  min-width: 59px;
  border: 1px solid #d8a3d2;
  border-radius: 5px;
  padding: 0px 8px;
  text-align: center;
  color: #8a7f8a;
}

.ranking-theme-page .search-icon, .ranking-nowdays-page .search-icon, .ranking-thismonth-page .search-icon, .news-page .search-icon, .detail-page .search-icon, .ask-page .search-icon, .login-page .search-icon, .find-page .search-icon, .signup-page .search-icon, .edit-pw-page .search-icon, .contents-page .search-icon, .favorite-page .search-icon, .mypage-page .search-icon {
  position: absolute;
  margin: 50px 30px;
}

.ranking-theme-page .logo, .ranking-nowdays-page .logo, .ranking-thismonth-page .logo, .news-page .logo, .detail-page .logo, .ask-page .logo, .login-page .logo, .find-page .logo, .signup-page .logo, .edit-pw-page .logo, .contents-page .logo, .favorite-page .logo, .mypage-page .logo {
  display: block;
  margin: 35px auto;
}

.ranking-theme-page .form-container, .ranking-nowdays-page .form-container, .ranking-thismonth-page .form-container, .news-page .form-container, .detail-page .form-container, .ask-page .form-container, .login-page .form-container, .find-page .form-container, .signup-page .form-container, .edit-pw-page .form-container, .contents-page .form-container, .favorite-page .form-container, .mypage-page .form-container {
  width: 100%;
  display: none;
}

.ranking-theme-page .form-container .back, .ranking-nowdays-page .form-container .back, .ranking-thismonth-page .form-container .back, .news-page .form-container .back, .detail-page .form-container .back, .ask-page .form-container .back, .login-page .form-container .back, .find-page .form-container .back, .signup-page .form-container .back, .edit-pw-page .form-container .back, .contents-page .form-container .back, .favorite-page .form-container .back, .mypage-page .form-container .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  margin: 40px 0 40px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.ranking-theme-page .form-container .search-form2, .ranking-nowdays-page .form-container .search-form2, .ranking-thismonth-page .form-container .search-form2, .news-page .form-container .search-form2, .detail-page .form-container .search-form2, .ask-page .form-container .search-form2, .login-page .form-container .search-form2, .find-page .form-container .search-form2, .signup-page .form-container .search-form2, .edit-pw-page .form-container .search-form2, .contents-page .form-container .search-form2, .favorite-page .form-container .search-form2, .mypage-page .form-container .search-form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.ranking-theme-page .form-container .search-form2 > input, .ranking-nowdays-page .form-container .search-form2 > input, .ranking-thismonth-page .form-container .search-form2 > input, .news-page .form-container .search-form2 > input, .detail-page .form-container .search-form2 > input, .ask-page .form-container .search-form2 > input, .login-page .form-container .search-form2 > input, .find-page .form-container .search-form2 > input, .signup-page .form-container .search-form2 > input, .edit-pw-page .form-container .search-form2 > input, .contents-page .form-container .search-form2 > input, .favorite-page .form-container .search-form2 > input, .mypage-page .form-container .search-form2 > input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 55px;
  border: 1px solid #504f57;
  margin: 35px auto 35px 80px;
  border-radius: 40px;
  padding-left: 30px;
  font-size: 22px;
  margin-bottom: 40px;
}

.ranking-theme-page .form-container .search-form2 #search-img2, .ranking-nowdays-page .form-container .search-form2 #search-img2, .ranking-thismonth-page .form-container .search-form2 #search-img2, .news-page .form-container .search-form2 #search-img2, .detail-page .form-container .search-form2 #search-img2, .ask-page .form-container .search-form2 #search-img2, .login-page .form-container .search-form2 #search-img2, .find-page .form-container .search-form2 #search-img2, .signup-page .form-container .search-form2 #search-img2, .edit-pw-page .form-container .search-form2 #search-img2, .contents-page .form-container .search-form2 #search-img2, .favorite-page .form-container .search-form2 #search-img2, .mypage-page .form-container .search-form2 #search-img2 {
  width: 29px;
  height: 30px;
  position: absolute;
  right: 225px;
  top: 45px;
}

.ranking-thismonth-page .nowdays, .ranking-thismonth-page .theme {
  font-size: 36px;
  color: #c5c5c7;
  padding: 30px 50px;
  cursor: pointer;
}

.ranking-thismonth-page .thismonth {
  font-size: 36px;
  color: #504f57;
  padding: 30px 50px;
  cursor: pointer;
}

.ranking-thismonth-page .thismonth .margin {
  border-bottom: 4px solid #504f57;
  width: 50px;
  margin: 0 auto;
  padding: 8px 0;
}

.ranking-nowdays-page .theme, .ranking-nowdays-page .thismonth {
  font-size: 36px;
  color: #c5c5c7;
  padding: 30px 50px;
  cursor: pointer;
}

.ranking-nowdays-page .nowdays {
  font-size: 36px;
  color: #504f57;
  padding: 30px 50px;
  cursor: pointer;
}

.ranking-nowdays-page .nowdays .margin {
  border-bottom: 4px solid #504f57;
  width: 50px;
  margin: 0 auto;
  padding: 8px 0;
}

.ranking-theme-page .nowdays, .ranking-theme-page .thismonth {
  font-size: 36px;
  color: #c5c5c7;
  padding: 30px 50px;
  cursor: pointer;
}

.ranking-theme-page .theme {
  font-size: 36px;
  color: #504f57;
  padding: 30px 50px;
  cursor: pointer;
}

.ranking-theme-page .theme .margin {
  border-bottom: 4px solid #504f57;
  width: 50px;
  margin: 0 auto;
  padding: 8px 0;
}

.ranking-theme-page .insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6px;
  margin-bottom: 50px;
}

.ranking-theme-page .insta .insta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.ranking-theme-page .insta .insta-container .insta-btn {
  padding: 18px 0 0 3px;
}

.ranking-theme-page .insta .insta-container .insta-btn #in-down_bt {
  display: block;
  padding: 2px 1px;
}

.ranking-theme-page .insta .insta-container .insta-btn #in-up_bt {
  display: none;
  padding: 2px 1px;
}

.ranking-theme-page .insta .insta-container .insta-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.ranking-theme-page .insta .insta-container .insta-tag .insta-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  padding: 0 2px 0 0;
  background-color: white;
}

.ranking-theme-page .insta .insta-container .insta-tag .insta-list a {
  padding-right: 10px;
  padding-left: 10px;
  color: #D8A3D2;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.ranking-theme-page .main .title, .ranking-thismonth-page .main .title, .ranking-nowdays-page .main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ranking-theme-page .main .rank-area .ranking-store, .ranking-thismonth-page .main .rank-area .ranking-store, .ranking-nowdays-page .main .rank-area .ranking-store {
  width: 890px;
  margin: 20px auto 40px auto;
  -webkit-animation: fadeInUp 2s;
          animation: fadeInUp 2s;
}

.ranking-theme-page .main .rank-area .ranking-store .store-info, .ranking-thismonth-page .main .rank-area .ranking-store .store-info, .ranking-nowdays-page .main .rank-area .ranking-store .store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.ranking-theme-page .main .rank-area .ranking-store .store-info .store-name, .ranking-thismonth-page .main .rank-area .ranking-store .store-info .store-name, .ranking-nowdays-page .main .rank-area .ranking-store .store-info .store-name {
  font-size: 45px;
  font-weight: 500;
  cursor: pointer;
  color: #504f57;
}

.ranking-theme-page .main .rank-area .ranking-store .store-info .rank-num, .ranking-thismonth-page .main .rank-area .ranking-store .store-info .rank-num, .ranking-nowdays-page .main .rank-area .ranking-store .store-info .rank-num {
  font-family: 'Montserrat-bold', sans-serif;
  padding-right: 30px;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: #D0C1D0;
  letter-spacing: 8px;
}

.ranking-theme-page .main .rank-area .ranking-store .store-info .keyword, .ranking-thismonth-page .main .rank-area .ranking-store .store-info .keyword, .ranking-nowdays-page .main .rank-area .ranking-store .store-info .keyword {
  font-size: 18px;
  min-width: 59px;
  border: 1px solid #d8a3d2;
  border-radius: 5px;
  padding: 0px 8px;
  text-align: center;
  color: #8a7f8a;
}

.ranking-theme-page .main .rank-area .ranking-store .store-img > img, .ranking-thismonth-page .main .rank-area .ranking-store .store-img > img, .ranking-nowdays-page .main .rank-area .ranking-store .store-img > img {
  width: 890px;
  height: 890px;
  border-radius: 10px;
}

.news-page .main .news-detail {
  display: none;
  -webkit-animation: fadeInUp 2s;
          animation: fadeInUp 2s;
}

.news-page .main .news-detail .detail-date {
  font-size: 22px;
  color: #b9bbc4;
  margin: 0 100px;
  padding-bottom: 10px;
}

.news-page .main .news-detail .detail-title {
  font-size: 36px;
  font-weight: 500;
  margin: 0 100px;
  padding-bottom: 30px;
  color: #504f57;
}

.news-page .main .news-detail .main-photo {
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}

.news-page .main .news-detail .main-photo > img {
  width: inherit;
  height: inherit;
}

.news-page .main .news-detail .detail-text {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 100px;
  word-break: keep-all;
  line-height: 35px;
  padding-right: 75px;
  padding-bottom: 15px;
  font-size: 24px;
  color: #504f57;
}

.news-page .main .news-list .list-item {
  -webkit-animation: fadeInUp 3s;
          animation: fadeInUp 3s;
}

.news-page .main .news-list .list-item .news-picture {
  width: 890px;
  margin: 50px auto;
}

.news-page .main .news-list .list-item .news-picture > img {
  width: 890px;
  height: 644px;
  border-radius: 10px;
}

.news-page .main .news-list .list-item .news-info {
  width: 890px;
  margin: 0 auto;
}

.news-page .main .news-list .list-item .news-info .news-date {
  font-family: "Montserrat-bold", sans-serif;
  color: #d0c1d0;
  font-size: 24px;
}

.news-page .main .news-list .list-item .news-info .news-title {
  color: #504f57;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 500;
}

.news-page .main .news-list .list-item .news-info .news-content {
  font-size: 24px;
  color: #504F57;
  padding-bottom: 50px;
  border-bottom: 2px solid #E1EAE9;
}

.detail-page .detail-main {
  font-family: "Noto Sans KR", sans-serif !important;
  width: 890px;
  margin: 0 auto;
}

.detail-page .detail-main .loading {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  display: none;
}

.detail-page .detail-main .dot div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 10px;
  background-color: #D0C1D0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: dot 1.5s linear infinite;
          animation: dot 1.5s linear infinite;
}

.detail-page .detail-main .dot div:nth-child(1) {
  left: -50px;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.detail-page .detail-main .dot div:nth-child(3) {
  right: -50px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.detail-page .detail-main .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
  border-bottom: 2px solid #E1EAE9;
  margin: 40px 2px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.detail-page .detail-main .main-top .store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-page .detail-main .main-top .store-info .photo {
  width: 189px;
  height: 189px;
}

.detail-page .detail-main .main-top .store-info .photo > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.detail-page .detail-main .main-top .store-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0px 50px;
}

.detail-page .detail-main .main-top .store-info .info .keyword {
  margin-right: 10px;
  font-size: 18px;
  min-width: 59px;
  border: 1px solid #d8a3d2;
  border-radius: 5px;
  padding: 0px 8px;
  text-align: center;
  color: #8a7f8a;
}

.detail-page .detail-main .main-top .store-info .info .name {
  color: #504f57;
  font-weight: 500;
  font-size: 36px;
  padding-bottom: 20px;
}

.detail-page .detail-main .main-top .store-info .info .detail-text {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: #d0c1d0;
}

.detail-page .detail-main .main-top .store-info .info .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-page .detail-main .main-top .store-info .info .hashtag #hashtag {
  font-size: 17px;
  color: #a39aa3;
  padding-right: 10px;
  font-weight: 500;
}

.detail-page .detail-main .main-top .store-info .etc {
  width: 200px;
  max-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  position: relative;
}

.detail-page .detail-main .main-top .store-info .etc .share {
  margin: 0 auto;
}

.detail-page .detail-main .main-top .store-info .etc .phone {
  margin: 0 auto;
}

.detail-page .detail-main .main-top .store-info .etc .usage {
  margin: 0 auto;
}

.detail-page .detail-main .main-top .store-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 30px;
}

.detail-page .detail-main .main-top .store-adress .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.detail-page .detail-main .main-top .store-adress .hashtag #hashtag {
  font-size: 24px;
  color: #a39aa3;
  padding-right: 10px;
  font-weight: 500;
}

.detail-page .detail-main .main-top .store-adress .adress {
  color: #504f57;
  font-size: 24px;
  padding-bottom: 20px;
}

.detail-page .detail-main .main-top .store-adress .map {
  position: absolute;
  right: 40px;
  bottom: 0;
}

.detail-page .detail-main .map-container {
  position: relative;
  text-align: center;
  margin: 20px auto;
  height: 0;
}

.detail-page .detail-main .map-container #detail-map {
  width: 460px;
  padding: 0px 10px;
  border: 0;
  height: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.detail-page .detail-main .map-container #detail-site {
  display: none;
  position: absolute;
  top: 0;
  left: 215px;
  width: 460px;
  height: 292px;
}

.detail-page .detail-main .detail-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detail-page .detail-main .detail-picture .store-list {
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px auto;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.detail-page .detail-main .detail-picture .store-list .img-container {
  width: 440px;
  height: 440px;
}

.detail-page .detail-main .detail-picture .store-list .img-container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ask-page .modal-container {
  display: none;
  width: 100%;
  height: 100%;
}

.ask-page .modal-container #notice {
  width: 600px;
  height: 300px;
  margin: 250px auto;
  text-align: center;
}

.ask-page .modal-container #notice #home {
  padding: 0;
  width: 200px;
  height: 50px;
  border: 0px solid #504f57;
  background: #504f57;
  color: white;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
}

.ask-page .modal-container #notice #home:active {
  background: #d8a3d2;
}

.ask-page .main {
  width: 600px;
  margin: 30px auto;
}

.ask-page .main .ask-title {
  font-size: 36px;
  color: #504f57;
  margin-bottom: 20px;
}

.ask-page .main .ask-text {
  font-size: 24px;
  color: #504f57;
  margin-bottom: 20px;
}

.ask-page .main .ask-form .ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ask-page .main .ask-form .ask #ask-title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  width: 600px;
  height: 50px;
  border: 1px solid #d0c0d1;
  border-radius: 50px;
  padding-left: 30px;
  background: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.ask-page .main .ask-form .ask #ask-email {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  width: 600px;
  height: 50px;
  border: 1px solid #d0c0d1;
  border-radius: 50px;
  padding-left: 30px;
  background: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}

.ask-page .main .ask-form .ask #ask-contents {
  font-family: "Noto Sans KR", sans-serif;
  padding: 30px;
  font-size: 18px;
  width: 600px;
  height: 300px;
  border: 1px solid #d0c0d1;
  border-radius: 25px;
  background: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}

.ask-page .main .ask-form .ask #search-btn {
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border: 0px solid #504f57;
  border-radius: 50px;
  background: #504f57;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  margin: 0 auto;
}

.ask-page .main .ask-form .ask #search-btn:active {
  background: #d8a3d2;
}

.login-page .main {
  text-align: center;
}

.login-page .main .login-center {
  margin: 100px auto 70px auto;
}

.login-page .main .login-center .login-form .login-title {
  font-size: 45px;
  font-weight: bold;
  color: #504f57;
  padding-bottom: 50px;
}

.login-page .main .login-center .login-form .login-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .main .login-center .login-form .login-input #e-mail {
  width: 500px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.login-page .main .login-center .login-form .login-input #password {
  width: 500px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.login-page .main .login-center .login-form .login-btn #login-btn {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-page .main .login-center .login-form .login-btn #login-btn:active {
  background-color: #d8a3d2;
}

.login-page .main .login-center .login-form .sns-login {
  margin-top: 50px;
  font-size: 18px;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn .sns-btn {
  margin: 15px;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn .sns-btn .btn-box {
  width: 70px;
  height: 70px;
  border: 2px solid #EEE1EE;
  border-radius: 50%;
  margin: 6px auto;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn .sns-btn .text-box {
  font-size: 15px;
  color: gray;
}

.login-page .main .login-center .login-form .login-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  font-size: 16px;
}

.login-page .main .login-center .login-form .login-help a {
  text-decoration: none;
  color: #504f57;
}

.find-page .find-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  margin: 70px auto;
}

.find-page .find-center .find-form {
  text-align: center;
}

.find-page .find-center .find-form #post-mail {
  width: 600px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.find-page .find-center .find-form #mail-send {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.find-page .find-center .find-form #mail-send:active {
  background-color: #d8a3d2;
}

.find-page .notice {
  display: none;
  text-align: center;
  width: 600px;
  text-align: center;
  margin: 150px auto;
}

.find-page .notice #home {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.find-page .notice #home:active {
  background-color: #d8a3d2;
}

.edit-pw-page .edit-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px auto;
  width: 600px;
}

.edit-pw-page .edit-center .edit-form {
  text-align: center;
}

.edit-pw-page .edit-center .edit-form #new_pw {
  width: 600px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  margin-bottom: 15px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.edit-pw-page .edit-center .edit-form #new_pw2 {
  width: 600px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  margin-bottom: 70px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.edit-pw-page .edit-center .edit-form #new-btn {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.edit-pw-page .edit-center .edit-form #new-btn:active {
  background-color: #d8a3d2;
}

.edit-pw-page .notice {
  display: none;
  text-align: center;
  width: 600px;
  text-align: center;
  margin: 150px auto;
}

.edit-pw-page .notice #home {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.edit-pw-page .notice #home:active {
  background-color: #d8a3d2;
}

.contents-page .contents-center {
  width: 560px;
  margin: 50px auto;
}

.contents-page .contents-center .box {
  width: 560px;
  height: 300px;
  border: 2px solid #ebdaeb;
  border-radius: 10px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.contents-page .contents-center .box .contents-box {
  width: 500px;
  height: 260px;
  border: 0px solid #0e080e;
  margin: 20px auto;
  font-size: 17px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 50px;
}

.favorite-page .favorite-list .list-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.favorite-page .favorite-list .list-line .store-list {
  margin: 20px auto;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.favorite-page .favorite-list .list-line .store-list .img-container {
  width: 420px;
  height: 420px;
}

.favorite-page .favorite-list .list-line .store-list .img-container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.favorite-page .favorite-list .list-line .store-list .store-name {
  font-weight: 400;
  font-size: 28px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.favorite-page .favorite-list .list-line .store-list .views {
  color: #d8a3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
  font-size: 28px;
  padding-top: 3px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.favorite-page .favorite-list .list-line .store-list .keyword {
  margin-right: 10px;
  font-size: 18px;
  min-width: 59px;
  border: 1px solid #d8a3d2;
  border-radius: 5px;
  padding: 0px 8px;
  text-align: center;
  color: #8a7f8a;
}

.mypage-page .modal-container {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.mypage-page .modal-container .logout-box {
  display: none;
  border: 0px solid white;
  background-color: white;
  width: 460px;
  height: 220px;
  border-radius: 10px;
  text-align: center;
  margin: 430px auto;
}

.mypage-page .modal-container .logout-box .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mypage-page .modal-container .logout-box .answer .yes, .mypage-page .modal-container .logout-box .answer .no {
  margin: 50px 85px;
}

.mypage-page .myinfo {
  width: 700px;
  margin: 50px auto;
  color: #504f57;
}

.mypage-page .myinfo .user-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E1D6E1;
}

.mypage-page .myinfo .user-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E1D6E1;
}

.mypage-page .myinfo .edit-btn {
  margin-right: 40px;
}

.mypage-page .myinfo .edit-btn #edit {
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border: 0px solid #504f57;
  border-radius: 50px;
  background: #504f57;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  margin: 0 auto;
}

.mypage-page .myinfo .edit-btn #edit:active {
  background: #d8a3d2;
}

.mypage-page .myinfo .logout-btn #logout {
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border: 0px solid #504f57;
  border-radius: 50px;
  background: #504f57;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  margin: 0 auto;
}

.mypage-page .myinfo .logout-btn #logout:active {
  background: #d8a3d2;
}

.mypage-page .edit-info {
  display: none;
  width: 700px;
  margin: 50px auto;
  color: #504f57;
}

.mypage-page .edit-info .edit-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.mypage-page .edit-info .edit #edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.mypage-page .edit-info .edit #edit-form #password, .mypage-page .edit-info .edit #edit-form #new_pw, .mypage-page .edit-info .edit #edit-form #new_pw2, .mypage-page .edit-info .edit #edit-form #username {
  width: 700px;
  margin: 10px auto;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.mypage-page .edit-info .edit #save {
  margin-right: 10px;
}

.mypage-page .edit-info .edit #cancel {
  margin-left: 10px;
}

.mypage-page .edit-info .edit #save, .mypage-page .edit-info .edit #cancel {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  margin-top: 50px;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mypage-page .edit-info .edit #save:active, .mypage-page .edit-info .edit #cancel:active {
  background-color: #d8a3d2;
}

.signup-page .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup-page .main .sign-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto 140px auto;
  width: 800px;
  text-align: center;
}

.signup-page .main .sign-center .page-num1 {
  margin-top: 100px;
}

.signup-page .main .sign-center .page-num1 .num {
  font-size: 40px;
  margin-bottom: 30px;
  color: #CFBFCF;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 10px;
}

.signup-page .main .sign-center .page-num1 .sign-form #sign-mail {
  width: 600px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.signup-page .main .sign-center .page-num1 .sign-form #sign-pw {
  width: 600px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 62px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.signup-page .main .sign-center .page-num1 .sign-form #next-btn1 {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup-page .main .sign-center .page-num1 .sign-form #next-btn1:active {
  background-color: #d8a3d2;
}

.signup-page .main .sign-center .page-num2 {
  margin-top: 100px;
  display: none;
}

.signup-page .main .sign-center .page-num2 .num {
  font-size: 40px;
  margin-bottom: 30px;
  color: #CFBFCF;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 10px;
}

.signup-page .main .sign-center .page-num2 .sign-form #username {
  width: 600px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  margin-bottom: 50px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.signup-page .main .sign-center .page-num2 .sign-form .accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.signup-page .main .sign-center .page-num2 .sign-form .accept .checkbox3 {
  padding-top: 1px;
}

.signup-page .main .sign-center .page-num2 .sign-form .accept #accept {
  border-bottom: 2px solid #504f57;
  padding-bottom: 4px;
  font-size: 18px;
  color: #504f57;
}

.signup-page .main .sign-center .page-num2 .sign-form .accept #agree3 {
  padding: 0px 10px;
  color: gray;
  font-size: 18px;
}

.signup-page .main .sign-center .page-num2 .sign-form #next-btn2 {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup-page .main .sign-center .page-num2 .sign-form #next-btn2:active {
  background-color: #d8a3d2;
}

.signup-page .main .sign-center .page-num3 {
  margin-top: 100px;
  display: none;
}

.signup-page .main .sign-center .page-num3 .num {
  font-size: 45px;
  margin-bottom: 30px;
  color: #CFBFCF;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 10px;
}

.signup-page .main .sign-center .page-num3 .sign-form #get-mail {
  width: 600px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 116px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.signup-page .main .sign-center .page-num3 .sign-form #send-btn {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup-page .main .sign-center .page-num3 .sign-form #send-btn:active {
  background-color: #d8a3d2;
}

.signup-page .main .accept-contents {
  display: none;
  border: 0px solid white !important;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  width: 560px;
  margin: 0 auto;
}

.signup-page .main .accept-contents .contents #view-accept {
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.signup-page .main .accept-contents .contents .box {
  width: 560px;
  height: 300px;
  border: 2px solid #ebdaeb;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px 0px;
}

.signup-page .main .accept-contents .contents .box .contents-box {
  width: 500px;
  height: 260px;
  border: 0px solid #ebdaeb;
  margin: 20px auto;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 50px;
  text-align: left;
}

.signup-page .main .accept-contents .contents .checkbox1, .signup-page .main .accept-contents .contents .checkbox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.signup-page .main .accept-contents .contents .checkbox1 #agree1, .signup-page .main .accept-contents .contents .checkbox1 #agree2, .signup-page .main .accept-contents .contents .checkbox2 #agree1, .signup-page .main .accept-contents .contents .checkbox2 #agree2 {
  float: left;
  padding-right: 10px;
  color: gray;
}

.signup-page .main .accept-contents .contents .checkbox1 #checkbox1, .signup-page .main .accept-contents .contents .checkbox1 #checkbox2, .signup-page .main .accept-contents .contents .checkbox2 #checkbox1, .signup-page .main .accept-contents .contents .checkbox2 #checkbox2 {
  float: left;
  height: 22px;
  padding-top: 5px;
}

.signup-page .main .accept-contents #confirm-btn {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
}

.signup-page .main .accept-contents #confirm-btn:active {
  background-color: #d8a3d2;
}

.signup-page .main .signup-end {
  margin-top: 220px;
  display: none;
}

.signup-page .main .signup-end .end {
  font-size: 45px;
  margin-bottom: 32px;
  color: #504f57;
}

.signup-page .main .signup-end .home-btn {
  margin-bottom: 100px;
}

.signup-page .main .signup-end .home-btn #home-btn {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signup-page .main .signup-end .home-btn #home-btn:active {
  background-color: #d8a3d2;
}
/*# sourceMappingURL=m.style.css.map */