@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600);
@font-face{
  font-family: 'Montserrat-bold';
  font-style: bold;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes dot {
  0% {
      transform: scale(0);
  }
  35% {
      transform: scale(1);
  }
  70% {
      transform: scale(0);
  }
  100% {
      transform: scale(0);
  }
}

.default-page{
  width: 100%;
  margin: 0px;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  
  .head{
    .head-top{
      display: flex;
      padding: 10px 0px;
      align-items: center;
      height: 35px;

      .search-icon{
        display: flex;
        align-items: center;
        margin-left: 18px;

        >img{
          width: 14px;
          height: auto;
        }
      }
      .logo{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        >img{
          width: auto;
          height: 30px;
        }
      }
      .menu{
        display: flex;
        padding: 0px 20px;

        .menu-bar{
          width: auto;
          height: auto;
          
          .slide-bar{
            width: 12px;
            height: 2px;
            border-radius: 1px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #504F57;
            background: #504F57;
            margin-bottom: 3px;
          }
        }
      }

      .form-container{
        display: none;
        flex: 1;
        align-items: center;

        .back{
          padding: 0px 20px;
          >img{
            width: 12px;
            height: auto;
          } 
        }

        .search-form2{
          display: flex;
          flex: 1;
          flex-direction: column;
          
          .input-container{
            display: flex;
            position: relative;
            
            #search2-input{
              width: 100%;
              border: 1px solid #c9c9cc;
              color:#717076;
              border-radius: 40px;
              padding-left: 30px;
              padding: 5px 30px 5px 10px;
              font-size: 14px;
              box-sizing: border-box;
            }

            #search-img2{
              position: absolute;
              width: 14px;
              height: auto;
              right: 14px;
              top: 25%;
            }
          }
        }
      }
    }
  }

  .loading {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
    display : none;
  }
  
  .dot div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: #D0C1D0;
    transform: scale(0);
    animation: dot 1.5s linear infinite;
  }
  
  .dot div:nth-child(1) {
    left: -50px;
    animation-delay: -0.1s;
  }
  
  .dot div:nth-child(3) {
    right: -50px;
    animation-delay: 0.1s;
  }

  .head{

    .head-hot{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 30px;
      background: #f9f5f8;
      
      .rank-container{
        display: flex;
        width: 150px;
        margin-right: 10px;
        align-items: center;

        .hot-ranking{
          display: flex;
          flex: 1;
          z-index: 3;

          .hot{
            font-size: 14px;
            border-radius: 3px;
            padding: 0 20px;
            width: 85%;
            margin: 0;
            list-style-type: none;
            
            .hot-list-h{

              .num{
                color: #D8A3D2;
                font-family: "Noto Sans KR", sans-serif;
                float:left;
              }
              a{
                text-decoration: none;
                color: #504F57;
                padding: 0 0 0 20px;
              }
            }
            .hot-list{
              padding: 0 0 10px 0;
              
  
              .num{
                color: #D8A3D2;
                font-family: "Noto Sans KR", sans-serif;
                float:left;
              }
              a{
                text-decoration: none;
                color: #504F57;
                padding: 0 0 0 20px;
              }
            }
          }
        }
        .rank-btn{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 20px;
          
          #down-btn{
            display:block;
            padding: 5px;
          }
          #up-btn{
            display:none;
            padding: 5px;
          }
        }
      }
    }
  }
  .slide-modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgba(80, 79, 87, 0.4);

    .tooltip-content{
      position: absolute;
      width: 60%;
      height: 20%;
      top: 40%;
      background-color: #faf6f9;
      border: 1px solid #ebdaeb;
      border-radius: 5px;
      padding: 15px;
      box-shadow:10px 10px 30px 2px rgba(80,79,87, 0.5);
      z-index: 5;
      right: 78px;
      line-height: 20px;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;

      #content-title{
        font-size:20px;
        color:#4d4c54;
        margin:0 0 10px 0;
      }
      #content-text{
        color:#998e99;
        font-size:12px;
      }
      ::after{
        position: absolute;
        content: '';
        right: 6px;
        top: 12px;
        bottom: -30px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-left-color: #faf6f9;
        margin-right: -30px;
      }
    }
    .menu-slide{
      position: absolute;
      height: 100%;
      background: white;
      right: 0;
      z-index: 4;
      display: flex;
      flex-direction: column;

      #close-icon{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        >img{
          width: 12px;
          height: auto;
        }
      }
      .slide-line{
        height: 1px;
        width: 50%;
        background-color: #d0c1d0;
        margin: 20px auto;
      }
      #contents-icon, #service-icon, #ask-icon{
        color:#a39aa3;
      }
      #login-icon, #ranking-icon, #news-icon, #rank-area-icon,#favorite-icon{
        color:#504f57;
      }
      #login-icon, #ranking-icon, #news-icon, #rank-area-icon, #contents-icon, #service-icon, #ask-icon,#favorite-icon{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        padding: 5px 5px;
        text-align: center;
        >img{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  input:focus{
    outline:none;
  }
  button:focus{
    outline:none;
  }
  textarea:focus{
    outline:none;    
  }
}

.main-page{
  .head{
    .head-top{
      
      .search-icon{
        display:none !important;
      }
      .logo{
        display: flex !important;
        padding: 0px 25px;
        justify-content: flex-start !important;
      }
      .form-container{
        display: none;
      }
    }
  }
  .main{
    margin: 10px 0 20px 0;

    .item{

      >img{
        width: 280px;
        height: auto;
        border-radius: 15px;
      }
    } 
  }
  .footer{
    padding: 0px 50px;

    .footer-top{
      color: #504F57;
      font-size: 20px;
      padding: 0 0 20px 10px;
      letter-spacing: -1px;
    }
    .search-form{
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;

      .input-form{
        position: relative;
        display: flex;
        width: 95%;

        #search-input{
          display: flex;
          flex: 1;
          color:#a39aa3;
          border: 1px solid #c9c9cc;
          border-radius: 20px;
          padding:10px 30px 10px 14px;
          font-size: 14px;
        }
        #search-img{
          width: 14px;
          height: auto;
          position: absolute;
          right: 5%;
          top: 31%;
        }
      }
      
      >button{
        padding: 14px;
        display: flex;
        width: 150px;
        font-size: 11px;
        letter-spacing: 1px;
        border-radius: 30px;
        color: white;
        justify-content: center;
        background: #504F57;
        border: 0px solid #504F57;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        margin-top: 20px;
        letter-spacing: 3px;

        &:active{
          background: #d8a3d2;

        }
      }
    }
  }
}
.search-o-page{
  .store-list{
    margin: 10px auto !important;

    .img-container{
      width: 290px !important;
      height: 290px !important;
      
      >img{
        border-radius: 10px !important;
      }
    }
    .store-name{
      font-size: 18px !important; 
    }
    .views{
      font-size: 18px !important;
    }
    .keyword{
      font-size: 14px !important;
    }
  }
}

.search-page, .search-o-page{
  font-family: "Noto Sans KR", sans-serif;
  .head{
    .head-top{
      .search-icon{
        display: none;
      }
      .logo{
        display: none !important;
      }
      .form-container{
        display: flex !important; 
      }
    }
  }
  .main{
    .main-top{
      display: flex;
      flex-direction: column;
      .top_layer_1{
        display: flex;
        padding: 10px 18px;
        .text{
          font-size: 20px;
          color: #504f57;
          flex: 1;
          padding-left: 7px;
        }
        .search-time{
          #all{
            text-decoration: none;
            color: #504F57;
            margin-right: 15px;
            font-size: 13px;
          }
          #recently{
            text-decoration: none;
            color: #504F57;
            font-size: 13px;
          }
        }
      }
      .top_layer_2{
        display: flex;
        justify-content: flex-end;
        padding-right: 25px;
        .view-type{
          >img{
            width: 16px;
            height: auto;
          }
          #double{
            margin-right: 10px;
          }
        }
      }
    }
    .search-list{
      .no-search{
        display:none;
        text-align: center;
        font-size: 20px;
        margin-top: 40px;
      }
      .list-line{
        display: flex;
        padding: 0px 20px;
        flex-wrap: wrap;
        justify-content: center;

        .store-list{
          margin: 10px auto;
          animation: fadeInUp 1s;
          flex-basis: auto;

          .img-container{
            width: 150px;
            height: 150px;            
            >img{
              width:100%; 
              height:100%;
              border-radius: 5px;
            }
          }

          .store-name{
            font-weight:400;
            font-size: 14px;
            flex:1;
            color:#47464f;
          }

          .views{
            color:#d8a3d2; 
            display:flex;  
            justify-content:center;
            font-size: 12px;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 500;

          }
          .keyword{
            margin-right: 3px;
            font-size: 10px;
            min-width: 40px;
            border: 1px solid #ebdaeb;
            padding: 0px 3px;
            text-align: center;
            color:#8a7f8a;
          }
        }
      }
    }
  }
}

.ranking-theme-page,.ranking-nowdays-page,.ranking-thismonth-page, .news-page, .detail-page, .ask-page, .login-page, .find-page, .signup-page, .edit-pw-page, .contents-page, .favorite-page, .mypage-page{

  .form-container{
    display: none;
  }
  .margin{
    border-bottom: 2px solid #504f57;
    width: 30px;
    margin: 0 auto;
    padding: 4px 0; 
  }
}

.ranking-thismonth-page{
  
  .nowdays, .theme{
    display:flex;
    flex-direction: column;
    flex:1;
    font-size: 18px;
    color: #c5c5c7; 
    padding: 10px 5px;
  }
  .thismonth{
    font-size: 18px;
    color: #504f57;;
    padding: 10px 5px;
  }
}
.ranking-nowdays-page{
  
  .theme, .thismonth{
    display:flex;
    flex-direction: column;
    flex:1;
    font-size: 18px;
    color: #c5c5c7; 
    padding: 10px 5px;
  }
  .nowdays{
    font-size: 18px;
    color:#504f57;
    padding: 10px 5px;
  }
}
.ranking-theme-page{
  
  .nowdays, .thismonth{
    display:flex;
    flex-direction: column;
    flex:1;
    font-size: 18px;
    color: #c5c5c7; 
    padding: 10px 5px;
  }
  .theme{
    font-size: 18px;
    color:#504f57;
    padding: 10px 5px;
  }
  .insta{
    display: flex;
    width: 100%;
    justify-content: center;

    .insta-container{
      display: flex;
      
      .insta-btn{
        padding:10px 0 0 3px; 
        
        #in-down_bt{
        display:block;
        padding:2px 1px;
        }
        #in-up_bt{
        display:none;
        padding:2px 1px;
        }
      }
      .insta-tag{
        display: flex;
        z-index: 2;

        .insta-list{
          display: flex;
          flex-direction: column;
          border-radius: 5px;
          padding: 0 2px 0 0;
          background-color: white;
        }
        .insta-list a{
          padding-right:10px;
          padding-left: 10px;
          color: #D8A3D2;
          font-size: 15px;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}

.ranking-theme-page, .ranking-thismonth-page, .ranking-nowdays-page{
  
  .main{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;

    .title{
      display: flex;
      text-align: center;
      width: 90%;
    }
    .rank-area{
      display: flex;
      flex-direction: column;
      width: 90%;

      .ranking-store{
        width: 100%;
        margin: 10px auto;
        animation: fadeInUp 2s;

        .store-info{
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .store-name{
            font-size: 18px;
            font-weight: 500;
            color:#504f57;
            display: flex;
            flex:1;
          }
          .rank-num{
            font-family: 'Montserrat-bold', sans-serif;
            padding-right: 10px; 
            font-size: 25px;
            text-align: center;
            font-weight:bold;
            color: #D0C1D0;
            letter-spacing: 5px;
          }
          .keyword{
            font-size: 12px;
            min-width: 40px;
            border: 1px solid #ebdaeb;
            border-radius: 5px;
            padding: 0px 5px;
            text-align: center;
            color:#8a7f8a;
          }
        }
        .store-img{

          >img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
.news-page{
  .main{
    .news-list{
      padding-top: 20px;

      .list-item{
        animation: fadeInUp 3s;
        width: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        .news-picture{
          width: 85%;
          height: auto;

          >img{
            width: 100%;
            height: 100%;
            border-radius: 3%;
          }
        }
        .news-info{
          width: 85%;
          padding: 10px 10px 0 10px;
    
          .news-date{
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            color:#d0c1d0;
            letter-spacing: 2px;
            font-size: 12px;
          }
          .news-title{
            color:#504f57;
            font-size: 22px;
            margin-bottom: 10px;
            font-weight: 500;
          }
          .news-content{
            font-size: 14px;
            line-height: 24px;
            color:#504F57;
            padding-bottom: 15px;
            border-bottom: 1px solid #E1EAE9;
          }
        }
      }
    }
    .news-detail{
      display:none;
      animation: fadeInUp 2s;
      flex-direction: column;
      flex: 1;
      width: 100%;
      align-items: center;

      .detail-date{
        width: 85%;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        color:#d0c1d0;
        letter-spacing: 2px;
        font-size: 12px;
      }
      .detail-title{
        width: 85%;
        font-size: 22px;
        font-weight: 500;
        color:#504f57;
        margin-bottom: 10px;
      }
      .main-photo{
        width: 100%;
        height: 280px;
        margin-bottom: 20px;
        
        >img{
          width: 100%;
          height: 100%;
        }
      }
      .detail-text{
        width: 85%;
        font-family: "Noto Sans KR", sans-serif;
        word-break: keep-all;
        line-height: 24px;
        padding-bottom: 15px;
        font-size: 14px;
        color:#504f57;
      }
    }
  }
}

.detail-page{
  .main{
    width: 100%;

    .detail-main{
      font-family: "Noto Sans KR", sans-serif !important;

      .loading {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        padding: 10px;
        display : none;
      }
      
      .dot div {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        height: 10px;
        margin: auto;
        border-radius: 10px;
        background-color: #D0C1D0;
        transform: scale(0);
        animation: dot 1.5s linear infinite;
      }
      
      .dot div:nth-child(1) {
        left: -50px;
        animation-delay: -0.1s;
      }
      
      .dot div:nth-child(3) {
        right: -50px;
        animation-delay: 0.1s;
      }
      .main-top{
        display:flex;
        flex-direction: column;
        padding: 20px 5px;
        border-bottom: 2px solid #E1EAE9;
        margin-bottom: 10px;
        font-family: "Noto Sans KR", sans-serif !important;
        
        .store-info{
          display: flex;
          padding: 10px 0;

          .photo{
            width: 75px;
            height: 75px;
            padding: 10px 0;
          
            >img{
              width:100%; 
              height:100%;
              border-radius: 5px;
            }
          }
          .info{
            display: flex;
            flex: 1;
            flex-direction: column;
            padding:0px 10px;
    
            .keyword{
              margin-right: 7px;
              font-size: 11px;
              min-width: 40px;
              border: 1px solid #ebdaeb;
              border-radius: 5px;
              padding: 0px 8px;
              text-align: center;
              color: #8a7f8a;
            }
            .name{
              color:#504f57;
              font-weight: 500;
              font-size: 18px;
              padding-top: 5px
            }
            .detail-text{
              padding:0 5px 0 0;
              font-size: 13px;
              font-weight:500;
              color:#d0c1d0;
            }
            .hashtag{
              display: flex;
              
              #hashtag{
                font-size:17px;
                color: #a39aa3;
                padding-right:10px;
                font-weight: 500;
              }
            }
          }
          .etc{
            display: flex;
            position: relative;
            padding: 15px 0 0 0;
              
            .share, .phone, .usage {
              margin: 0 auto;
              padding-right: 8px;

              >img{
                width: 15px;
                height: 15px;
              }
            }
          }
        }
        .store-adress{
          display: flex;
          position: relative;

          .hashtag{
            display: flex;
            padding-bottom: 10px;

            #hashtag{
              font-size:15px;
              color: #a39aa3;
              padding-right:10px;
              font-weight: 500;
            }
          }
          .adress{
            color:#504f57;
            font-size:15px;
          }
          .map{
            position: absolute;
            right: 20px;
            bottom: 0;

            >img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .map-container{
        position: relative;
        text-align: center;
        margin: 10px auto;
        height: 0;
        
        #detail-map{
          width:100%;
          border: 0;
          height: 0;
          transition: all 0.5s;
        }
      }

      .detail-picture{
        display:flex;
        justify-content: center;
        flex-wrap:wrap;

        .store-list{
          display: flex;
          animation: fadeInUp 1s;
          margin: 10px auto;

          .img-container{
            width: 150px;
            height: 150px;
            
            >img{
              width:100%; 
              height:100%;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
.ask-page{
  .main{
    width: 100%;

    .ask-center{
      padding: 30px;
      display: flex;
      flex: 1;
      flex-direction: column;

      .ask-title{
        font-size: 20px;
        color:#504f57;
        margin-bottom: 20px;
      }
      .ask-text{
        font-size: 15px; 
        color:#504f57;
        margin-bottom: 20px;
      }
      .ask-form{
        
        .ask{
          display: flex;
          flex-direction: column;
    
          #ask-title{
            font-family:"Noto Sans KR", sans-serif;
            width: 100%;
            font-size: 14px;
            border-radius: 20px;
            padding: 10px 0 10px 20px;
            margin-bottom: 10px;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
          #ask-email{
            font-family:"Noto Sans KR", sans-serif;
            width: 100%;
            font-size: 14px;
            border-radius: 20px;
            padding: 10px 0 10px 20px;
            margin-bottom: 10px;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
          #ask-contents{
            font-family:"Noto Sans KR", sans-serif;
            width: 100%;
            height: 200px;
            font-size: 14px;
            border-radius: 20px;
            padding: 10px 0 10px 20px;
            margin-bottom: 10px;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
          .ask-btn{
            display: flex;
            justify-content: center;

            #search-btn{
              font-family:"Montserrat-bold", sans-serif;
              color: white;
              background-color: #504f57;
              font-size: 14px;
              border: 0px solid #504f57;
              border-radius: 20px;
              font-family: "Montserrat-bold", sans-serif;
              letter-spacing: 1px;
              box-sizing: border-box;
              padding: 10px 50px;
              
              &:active{
                background: #d8a3d2;
              }
            }
          }
        }
      }
    }
  }
  .modal-container{
    display: none;
    width: 100%;
    height: 100%;

    #notice{
      text-align: center;
      padding-top: 150px;

      .notice-title{
        font-size:30px; 
        margin-bottom: 50px; 
        color:#504f57;
      }
      #home{
        font-family:"Montserrat-bold", sans-serif;
        color: white;
        background-color: #504f57;
        font-size: 14px;
        border: 0px solid #504f57;
        border-radius: 20px;
        font-family: "Montserrat-bold", sans-serif;
        letter-spacing: 1px;
        box-sizing: border-box;
        padding: 10px 50px;
        
        &:active{
          background: #d8a3d2;
        }
      }
    }
  }
}
.login-page{

  .main{
    text-align: center;

    .login-center{
      display:flex;
      flex: 1;

      .login-form{
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0px 30px;
        
        .login-title{
          font-size: 22px;
          font-weight: bold;
          color:#504f57;
          margin: 75px 0px 30px 0px;
        }
        .login-input{
          display:flex;
          flex-direction:column;
          align-items: center;

          #e-mail{
            width: 100%;
            font-size: 14px;
            border-radius: 20px;
            padding: 10px 0 10px 20px;
            margin: 0 10px 10px 10px;
            border: 1px solid #f6eff5;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
            -webkit-box-shadow: 0 0 0 1000px #F9F5F8 inset;
          }
          #password{
            width: 100%;
            font-size: 14px;
            border-radius: 20px;
            padding: 10px 0 10px 20px;
            margin: 0 10px 0px 10px;
            border: 1px solid #f6eff5;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
            -webkit-box-shadow: 0 0 0 1000px #F9F5F8 inset;
          }
        }
        
        .login-btn{

          #login-btn{
            color: white;
            background-color: #504f57;
            font-size: 10px;
            border: 0px solid #504f57;
            border-radius: 20px;
            font-family: "Montserrat", sans-serif;
            box-sizing: border-box;
            padding: 10px 50px;
            font-weight: 600;
            letter-spacing: 2px;
            height: 40px;
            margin: 30px 0px;
            
            &:active{
              background-color: #d8a3d2;
            }
          }
        }
        .sns-login{
          font-size:12px;
          .sub-text{
            font-size:14px;
            letter-spacing: -1px;
            margin-bottom:20px;
            color:#504f57;
          }

          .sns-login-btn{
            display: flex;
            justify-content: center;

            .sns-btn{
              margin: 4px;
              display: flex;
              flex:1;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-size: 14px;

              .btn-box{
                width: 40px;
                height: 40px;
                border: 2px solid #EEE1EE;
                border-radius: 50%;
                margin: 0 0 6px 0;
                padding: 8px;
                box-sizing: border-box;
                justify-content: center;
                align-items: center;
                
                >img{
                  width: 20px;
                  height: 20px;
                }
              }
              .btn-box{
                #naverIdLogin{
                  #naverIdLogin_loginButton{
                    >img{
                      width: 20px;
                      height: 20px;
                    }
                  }
                }
              }
              .text-box{
                font-size: 10px;
                color: #a89fa8;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
              }
            }
          }
        }
        .login-help{
          display: flex;
          justify-content: center;
          margin-top: 40px;
          font-size: 10px;
          align-items: center;

          .line{
            width: 1px;
            height: 8px;
            margin: 0px 5px;
            background-color: #ebdaeb;
          }

          a{
            text-decoration: none;
            color: #504f57;
          }
        }
      }
    }
  }
}
.find-page{
  .main{
    width: 100%;

    .find-center{
      display: flex;
      flex-direction: column;
      padding: 30px;
  
      .find-title{
        font-size:20px; 
        margin-bottom:15px; 
        color:#504f57
      }
      .find-text{
        margin-bottom:30px; 
        font-size:15px; 
        color:#504f57
      }
      .find-form{
        text-align: center;
  
        #post-mail{
          width: 100%;
          font-size: 14px;
          border-radius: 20px;
          padding: 10px 0 10px 20px;
          margin: 0 0 50px 0;
          border: 1px solid #d0c0d1;
          background-color: #F9F5F8;
          box-sizing: border-box;
          color: #504f57;
        }
        #mail-send{
          color: white;
          background-color: #504f57;
          font-size: 14px;
          border: 0px solid #504f57;
          border-radius: 20px;
          font-family: "Montserrat-bold", sans-serif;
          letter-spacing: 1px;
          box-sizing: border-box;
          padding: 10px 50px;
  
          &:active{
            background-color: #d8a3d2;
          }
        }
      }
    }
    .notice{
      display:none;
      text-align: center;
  
      #home{
        color: white;
        background-color: #504f57;
        font-size: 14px;
        border: 0px solid #504f57;
        border-radius: 20px;
        font-family: "Montserrat-bold", sans-serif;
        letter-spacing: 1px;
        box-sizing: border-box;
        padding: 10px 50px;
  
        &:active{
          background-color: #d8a3d2;
        }
      }
    }
  }
}
.edit-pw-page{
  .main{
    width: 100%;
  }
  .edit-center{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;

    .edit-form{
      text-align: center;

      #new_pw{
        width: 100%;
        font-size: 14px;
        border-radius: 20px;
        padding: 10px 0 10px 20px;
        margin: 0 0 10px 0;
        border: 1px solid #d0c0d1;
        background-color: #F9F5F8;
        box-sizing: border-box;
        color: #504f57;
      }
      #new_pw2{
        width: 100%;
        font-size: 14px;
        border-radius: 20px;
        padding: 10px 0 10px 20px;
        margin: 0 0 10px 0;
        border: 1px solid #d0c0d1;
        background-color: #F9F5F8;
        box-sizing: border-box;
        color: #504f57;
      }
      #new-btn{
        color: white;
        background-color: #504f57;
        font-size: 14px;
        border: 0px solid #504f57;
        border-radius: 20px;
        font-family: "Montserrat-bold", sans-serif;
        letter-spacing: 1px;
        box-sizing: border-box;
        padding: 10px 50px;
        
        &:active{
          background-color: #d8a3d2;
        }
      }
    }
  }
  .notice{
    display:block;
    text-align: center;
    padding: 100px 0;

    #home{
      color: white;
      background-color: #504f57;
      font-size: 14px;
      border: 0px solid #504f57;
      border-radius: 20px;
      font-family: "Montserrat-bold", sans-serif;
      letter-spacing: 1px;
      box-sizing: border-box;
      padding: 10px 50px;

      &:active{
        background-color: #d8a3d2;
      }
    }
  }
}
.contents-page{
  
  .contents-center{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0 0 30px 0;

    .contents{
      width: 90%;
      margin-top: 20px;

      .contents-title{
        font-size:16px; 
        margin-bottom:10px;
        padding-left: 10px;
      }

      .box{
        width: 100%;
        height: 250px;
        border: 2px solid #ebdaeb;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    
        .contents-box{
          width: 90%;
          height: 90%;
          border: 0px solid #0e080e;
          font-size: 12px;
          overflow-x:hidden;
          box-sizing: border-box;
          padding-right: 20px;
        }
      }
    }
  }
}
.favorite-page{
  .main{
    width: 100%;

    .favorit-title{
      font-size:25px; 
      color:#504f57; 
      padding: 30px
    }
    .favorite-list{
  
      .list-line{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        animation: fadeInUp 2s;
  
        .store-list{
          margin: 10px auto;
          flex-basis: auto;
          animation: fadeInUp 1s;
  
          .img-container{
            width: 150px;
            height: 150px;
            
            >img{
              width:100%; 
              height:100%;
              border-radius: 5px;
            }
          }
          .store-name{
            font-weight:400;
            font-size: 14px;
            flex:1;
  
          }
          .views{
            color:#d8a3d2; 
            display:flex;  
            justify-content:center;
            padding-right:10px;
            font-size: 14px;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 500;
  
          }
          .keyword{
            margin-right: 10px;
            font-size: 10px;
            min-width: 40px;
            border: 1px solid #ebdaeb;
            border-radius: 5px;
            padding: 0px 8px;
            text-align: center;
            color:#8a7f8a;
          }
        }
      }
    }
  }
}

.mypage-page{
  .modal-container{
    display: none; 
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .logout-box{
      display: none;
      border: 0px solid white;
      background-color: white;
      width: 280px;
      height: 200px;
      border-radius: 10px;
      text-align: center;
      margin: 150px auto;
  
      .answer{
        display: flex;
        justify-content: center;
  
        .yes, .no{
          margin: 50px;
        }
      }
    }
  }
  .main{
    width: 100%;

    .myinfo{
      padding: 20px;
      color:#504f57;
  
      .mypage-title{
        font-size:22px; 
        font-family:'Noto Sans KR', 'sans-serif'; 
        margin-bottom:20px;
      }
      .user-mail,.user-id{
        display: flex;
        font-size: 15px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #E1D6E1;
        
        .myinfo-nm{
          color:#504f57; 
          display:flex; 
          flex:1;
        }
      }
      
      .info-form-btn{
        display:flex;
        justify-content: center; 
        padding: 20px 0;
  
        .edit-btn{
          padding-right: 5px;

          #edit{
            color: white;
            background-color: #504f57;
            width: 130px;
            font-size: 13px;
            border: 0px solid #504f57;
            border-radius: 20px;
            font-family: "Montserrat-bold", sans-serif;
            letter-spacing: 1px;
            box-sizing: border-box;
            padding: 10px;
            
            &:active{
              background: #d8a3d2;
            }
          }
        }
        .logout-btn{
          padding-left: 5px;

          #logout{
            color: white;
            background-color: #504f57;
            font-size: 13px;
            border: 0px solid #504f57;
            border-radius: 20px;
            font-family: "Montserrat-bold", sans-serif;
            letter-spacing: 1px;
            box-sizing: border-box;
            padding: 10px;
            width: 130px;
            
            &:active{
              background: #d8a3d2;
            }
          }
        }
      }
    }
    .edit-info{
      display: none;
      margin: 10px;
      color:#504f57;
  
      .edit-top{
        display: flex;
        padding: 20px 5px;
  
        .edit-title{
          font-size:20px; 
          flex:1;
        }
        .edit-sub{
          font-size:12px; 
          padding-top:15px; 
          font-weight:bold;
        }
      }
      .edit{
        #edit-form{
          display: flex;
          flex:1;
          flex-direction: column;
          margin-bottom: 20px;
  
          #password, #new_pw, #new_pw2, #username{
            width: 100%;
            font-size: 14px;
            border-radius: 20px;
            padding: 10px 0 10px 20px;
            margin: 0 0 10px 0;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
        }
        #save{
          margin-right: 5px;
        }
        #cancel{
          margin-left: 5px;
        }
        #save, #cancel{
          color: white;
          background-color: #504f57;
          font-size: 13px;
          border: 0px solid #504f57;
          border-radius: 20px;
          font-family: "Montserrat-bold", sans-serif;
          letter-spacing: 1px;
          box-sizing: border-box;
          padding: 10px;
          width: 130px;
    
          &:active{
            background-color: #d8a3d2;
          }
        }
      }
    }
  }
}
.signup-page{
  .main{
    .sign-center{
      display: flex;
      flex-direction: column;
      margin: 70px auto;
      width: 100%;
      text-align: center;

      .page-num1, .page-num2, .signup-end{
        .num{
          font-size: 25px;
          margin-bottom: 10px;
          color: #CFBFCF;
          font-family: "Montserrat-bold", sans-serif;
          letter-spacing: 5px;
        }
        .sign-title{
          font-size:20px; 
          margin-bottom:20px; 
          font-weight:bold; 
          color:#504f57;
        }
        .sign-text{
          font-size:15px;
          margin-bottom:20px; 
          color:#504f57; 
        }
        .sign-form{
          #sign-mail, #sign-pw, #username {
            width: 100%;
            font-size: 14px;
            border-radius: 20px;
            padding: 10px 0 10px 20px;
            margin: 0 0 10px 0;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
          #next-btn1, #next-btn2{  
            padding: 10px 50px;
            color: white;
            background-color: #504f57;
            font-size: 14px;
            border: 0px solid #504f57;
            border-radius: 20px;
            font-family: "Montserrat-bold", sans-serif;
            letter-spacing: 1px;
      
            &:active{
              background-color: #d8a3d2;
            }
          }
        }
      }
      .page-num1{
        .sign-form{
          #sign-pw{
            margin: 0 0 20px 0;
          }
        }
      }
      .page-num2{
        display: none;
        
        .sign-form{
          .accept{
            display:flex; 
            justify-content:center;
            margin-bottom: 20px;

            .checkbox3{
              padding-top: 1px;
            }
            #accept{
              border-bottom: 1px solid #504f57;
              padding-bottom: 4px;
              font-size: 11px;
              color:#504f57;
            }
            #agree3{
              padding:0px 10px;
              color: gray;
              font-size: 11px;
            }
          }
        }
      }
    }
    .signup-end{
      display: none;
      .end-center{
        padding-top: 70px;
        .end{
          font-size:25px;
          margin-bottom: 30px;
          color:#504f57;
        }
        .sign-text{
          margin-bottom: 70px;
        }
        .home-btn{
          #home-btn{
            padding: 10px 50px;
            color: white;
            background-color: #504f57;
            font-size: 14px;
            border: 0px solid #504f57;
            border-radius: 20px;
            font-family: "Montserrat-bold", sans-serif;
            letter-spacing: 1px;
            
            &:active{
              background-color: #d8a3d2;
            }
          }
        }
      }
    }
  }
  .accept-contents{
    width: 100%;
    display: none;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .contents{
      width: 90%;
      margin-top: 20px;
      
      .contents-title{
        margin-bottom: 10px;
        padding-left: 10px;
        display: flex;

        #view-accept{
          font-size:16px; 
          flex:1; 
        }
        .checkbox1, .checkbox2{
          display: flex;
          flex:1;
          justify-content: flex-end;
          align-items: center;
          
          #agree1, #agree2{
            float:left; 
            padding-right: 10px;
            color: gray;
            font-size: 13px;
          }
          #checkbox1, #checkbox2{
            float:left; 
            height:22px;
            padding-top: 5px;
          }
        }
      }
      .box{
        width: 100%;
        height: 250px;
        border: 2px solid #ebdaeb;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        .contents-box{
          width: 90%;
          height: 90%;
          border: 0px solid #0e080e;
          font-size: 12px;
          overflow-x:hidden;
          box-sizing: border-box;
          padding-right: 20px;
        }
      }
    }
    .confirm-btn{
      padding: 30px;
      #confirm-btn{
        padding: 10px 50px;
        color: white;
        background-color: #504f57;
        font-size: 14px;
        border: 0px solid #504f57;
        border-radius: 20px;
        font-family: "Montserrat-bold", sans-serif;
        letter-spacing: 1px;
  
        &:active{
          background-color: #d8a3d2;
        }   
      }
    }
  }
}