@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: 'Montserrat-bold';
  font-style: bold;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format("truetype");
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.default-page {
  width: 100%;
  margin: 0px;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

.default-page .head .head-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

.default-page .head .head-top .search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.default-page .head .head-top .search-icon > img {
  width: 20px;
  height: 20px;
}

.default-page .head .head-top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.default-page .head .head-top .logo > img {
  width: auto;
  height: 30px;
}

.default-page .head .head-top .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
}

.default-page .head .head-top .menu .menu-bar {
  width: auto;
  height: auto;
}

.default-page .head .head-top .menu .menu-bar .slide-bar {
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #504F57;
  background: #504F57;
  margin-bottom: 3px;
}

.default-page .head .head-top .form-container {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-page .head .head-top .form-container .back {
  padding: 0px 20px;
}

.default-page .head .head-top .form-container .back > img {
  width: 12px;
  height: auto;
}

.default-page .head .head-top .form-container .search-form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-page .head .head-top .form-container .search-form2 .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.default-page .head .head-top .form-container .search-form2 .input-container #search2-input {
  width: 100%;
  border: 1px solid #c9c9cc;
  color: #717076;
  border-radius: 40px;
  padding-left: 30px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.default-page .head .head-top .form-container .search-form2 .input-container #search-img2 {
  position: absolute;
  width: 14px;
  height: auto;
  right: 14px;
  top: 25%;
}

.default-page .loading {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  display: none;
}

.default-page .dot div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 10px;
  background-color: #D0C1D0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: dot 1.5s linear infinite;
          animation: dot 1.5s linear infinite;
}

.default-page .dot div:nth-child(1) {
  left: -50px;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.default-page .dot div:nth-child(3) {
  right: -50px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.default-page .head .head-hot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 30px;
  background: #f9f5f8;
}

.default-page .head .head-hot .rank-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-page .head .head-hot .rank-container .hot-ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 3;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot {
  font-size: 14px;
  border-radius: 3px;
  padding: 0 20px;
  width: 85%;
  margin: 0;
  list-style-type: none;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list-h .num {
  color: #D8A3D2;
  font-family: "Noto Sans KR", sans-serif;
  float: left;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list-h a {
  text-decoration: none;
  color: #504F57;
  padding: 0 0 0 20px;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list {
  padding: 0 0 10px 0;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list .num {
  color: #D8A3D2;
  font-family: "Noto Sans KR", sans-serif;
  float: left;
}

.default-page .head .head-hot .rank-container .hot-ranking .hot .hot-list a {
  text-decoration: none;
  color: #504F57;
  padding: 0 0 0 20px;
}

.default-page .head .head-hot .rank-container .rank-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20px;
}

.default-page .head .head-hot .rank-container .rank-btn #down-btn {
  display: block;
  padding: 5px;
}

.default-page .head .head-hot .rank-container .rank-btn #up-btn {
  display: none;
  padding: 5px;
}

.default-page .slide-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgba(80, 79, 87, 0.4);
}

.default-page .slide-modal .tooltip-content {
  position: absolute;
  width: 60%;
  height: 20%;
  top: 40%;
  background-color: #faf6f9;
  border: 1px solid #ebdaeb;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 10px 10px 30px 2px rgba(80, 79, 87, 0.5);
          box-shadow: 10px 10px 30px 2px rgba(80, 79, 87, 0.5);
  z-index: 5;
  right: 78px;
  line-height: 20px;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.default-page .slide-modal .tooltip-content #content-title {
  font-size: 20px;
  color: #4d4c54;
  margin: 0 0 10px 0;
}

.default-page .slide-modal .tooltip-content #content-text {
  color: #998e99;
  font-size: 12px;
}

.default-page .slide-modal .tooltip-content ::after {
  position: absolute;
  content: '';
  right: 6px;
  top: 12px;
  bottom: -30px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left-color: #faf6f9;
  margin-right: -30px;
}

.default-page .slide-modal .menu-slide {
  position: absolute;
  height: 100%;
  background: white;
  right: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-page .slide-modal .menu-slide #close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-page .slide-modal .menu-slide #close-icon > img {
  width: 12px;
  height: auto;
}

.default-page .slide-modal .menu-slide .slide-line {
  height: 1px;
  width: 50%;
  background-color: #d0c1d0;
  margin: 20px auto;
}

.default-page .slide-modal .menu-slide #contents-icon, .default-page .slide-modal .menu-slide #service-icon, .default-page .slide-modal .menu-slide #ask-icon {
  color: #a39aa3;
}

.default-page .slide-modal .menu-slide #login-icon, .default-page .slide-modal .menu-slide #ranking-icon, .default-page .slide-modal .menu-slide #news-icon, .default-page .slide-modal .menu-slide #rank-area-icon, .default-page .slide-modal .menu-slide #favorite-icon {
  color: #504f57;
}

.default-page .slide-modal .menu-slide #login-icon, .default-page .slide-modal .menu-slide #ranking-icon, .default-page .slide-modal .menu-slide #news-icon, .default-page .slide-modal .menu-slide #rank-area-icon, .default-page .slide-modal .menu-slide #contents-icon, .default-page .slide-modal .menu-slide #service-icon, .default-page .slide-modal .menu-slide #ask-icon, .default-page .slide-modal .menu-slide #favorite-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 5px 5px;
  text-align: center;
}

.default-page .slide-modal .menu-slide #login-icon > img, .default-page .slide-modal .menu-slide #ranking-icon > img, .default-page .slide-modal .menu-slide #news-icon > img, .default-page .slide-modal .menu-slide #rank-area-icon > img, .default-page .slide-modal .menu-slide #contents-icon > img, .default-page .slide-modal .menu-slide #service-icon > img, .default-page .slide-modal .menu-slide #ask-icon > img, .default-page .slide-modal .menu-slide #favorite-icon > img {
  width: 30px;
  height: 30px;
}

.default-page input:focus {
  outline: none;
}

.default-page button:focus {
  outline: none;
}

.default-page textarea:focus {
  outline: none;
}

.main-page .head .head-top .search-icon {
  display: none !important;
}

.main-page .head .head-top .logo {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0px 25px;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.main-page .head .head-top .form-container {
  display: none;
}

.main-page .main {
  margin: 10px 0 20px 0;
}

.main-page .main .item > img {
  width: 280px;
  height: auto;
  border-radius: 15px;
}

.main-page .footer {
  padding: 0px 50px;
}

.main-page .footer .footer-top {
  color: #504F57;
  font-size: 20px;
  padding: 0 0 20px 10px;
  letter-spacing: -1px;
}

.main-page .footer .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .footer .search-form .input-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
}

.main-page .footer .search-form .input-form #search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #a39aa3;
  border: 1px solid #c9c9cc;
  border-radius: 20px;
  padding: 10px 30px 10px 14px;
  font-size: 14px;
}

.main-page .footer .search-form .input-form #search-img {
  width: 14px;
  height: auto;
  position: absolute;
  right: 5%;
  top: 31%;
}

.main-page .footer .search-form > button {
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  font-size: 11px;
  letter-spacing: 1px;
  border-radius: 30px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #504F57;
  border: 0px solid #504F57;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 3px;
}

.main-page .footer .search-form > button:active {
  background: #d8a3d2;
}

.search-o-page .store-list {
  margin: 10px auto !important;
}

.search-o-page .store-list .img-container {
  width: 290px !important;
  height: 290px !important;
}

.search-o-page .store-list .img-container > img {
  border-radius: 10px !important;
}

.search-o-page .store-list .store-name {
  font-size: 18px !important;
}

.search-o-page .store-list .views {
  font-size: 18px !important;
}

.search-o-page .store-list .keyword {
  font-size: 14px !important;
}

.search-page, .search-o-page {
  font-family: "Noto Sans KR", sans-serif;
}

.search-page .head .head-top .search-icon, .search-o-page .head .head-top .search-icon {
  display: none;
}

.search-page .head .head-top .logo, .search-o-page .head .head-top .logo {
  display: none !important;
}

.search-page .head .head-top .form-container, .search-o-page .head .head-top .form-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.search-page .main .main-top, .search-o-page .main .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-page .main .main-top .top_layer_1, .search-o-page .main .main-top .top_layer_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 18px;
}

.search-page .main .main-top .top_layer_1 .text, .search-o-page .main .main-top .top_layer_1 .text {
  font-size: 20px;
  color: #504f57;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 7px;
}

.search-page .main .main-top .top_layer_1 .search-time #all, .search-o-page .main .main-top .top_layer_1 .search-time #all {
  text-decoration: none;
  color: #504F57;
  margin-right: 15px;
  font-size: 13px;
}

.search-page .main .main-top .top_layer_1 .search-time #recently, .search-o-page .main .main-top .top_layer_1 .search-time #recently {
  text-decoration: none;
  color: #504F57;
  font-size: 13px;
}

.search-page .main .main-top .top_layer_2, .search-o-page .main .main-top .top_layer_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 25px;
}

.search-page .main .main-top .top_layer_2 .view-type > img, .search-o-page .main .main-top .top_layer_2 .view-type > img {
  width: 16px;
  height: auto;
}

.search-page .main .main-top .top_layer_2 .view-type #double, .search-o-page .main .main-top .top_layer_2 .view-type #double {
  margin-right: 10px;
}

.search-page .main .search-list .no-search, .search-o-page .main .search-list .no-search {
  display: none;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.search-page .main .search-list .list-line, .search-o-page .main .search-list .list-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-page .main .search-list .list-line .store-list, .search-o-page .main .search-list .list-line .store-list {
  margin: 20px auto;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.search-page .main .search-list .list-line .store-list .img-container, .search-o-page .main .search-list .list-line .store-list .img-container {
  width: 150px;
  height: 150px;
}

.search-page .main .search-list .list-line .store-list .img-container > img, .search-o-page .main .search-list .list-line .store-list .img-container > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.search-page .main .search-list .list-line .store-list .store-name, .search-o-page .main .search-list .list-line .store-list .store-name {
  font-weight: 400;
  font-size: 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #47464f;
}

.search-page .main .search-list .list-line .store-list .views, .search-o-page .main .search-list .list-line .store-list .views {
  color: #d8a3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.search-page .main .search-list .list-line .store-list .keyword, .search-o-page .main .search-list .list-line .store-list .keyword {
  margin-right: 3px;
  font-size: 10px;
  min-width: 40px;
  border: 1px solid #ebdaeb;
  padding: 0px 3px;
  text-align: center;
  color: #8a7f8a;
}

.ranking-theme-page .form-container, .ranking-nowdays-page .form-container, .ranking-thismonth-page .form-container, .news-page .form-container, .detail-page .form-container, .ask-page .form-container, .login-page .form-container, .find-page .form-container, .signup-page .form-container, .edit-pw-page .form-container, .contents-page .form-container, .favorite-page .form-container, .mypage-page .form-container {
  display: none;
}

.ranking-theme-page .margin, .ranking-nowdays-page .margin, .ranking-thismonth-page .margin, .news-page .margin, .detail-page .margin, .ask-page .margin, .login-page .margin, .find-page .margin, .signup-page .margin, .edit-pw-page .margin, .contents-page .margin, .favorite-page .margin, .mypage-page .margin {
  border-bottom: 2px solid #504f57;
  width: 30px;
  margin: 0 auto;
  padding: 4px 0;
}

.ranking-thismonth-page .nowdays, .ranking-thismonth-page .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  color: #c5c5c7;
  padding: 10px 5px;
}

.ranking-thismonth-page .thismonth {
  font-size: 18px;
  color: #504f57;
  padding: 10px 5px;
}

.ranking-nowdays-page .theme, .ranking-nowdays-page .thismonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  color: #c5c5c7;
  padding: 10px 5px;
}

.ranking-nowdays-page .nowdays {
  font-size: 18px;
  color: #504f57;
  padding: 10px 5px;
}

.ranking-theme-page .nowdays, .ranking-theme-page .thismonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  color: #c5c5c7;
  padding: 10px 5px;
}

.ranking-theme-page .theme {
  font-size: 18px;
  color: #504f57;
  padding: 10px 5px;
}

.ranking-theme-page .insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ranking-theme-page .insta .insta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ranking-theme-page .insta .insta-container .insta-btn {
  padding: 10px 0 0 3px;
}

.ranking-theme-page .insta .insta-container .insta-btn #in-down_bt {
  display: block;
  padding: 2px 1px;
}

.ranking-theme-page .insta .insta-container .insta-btn #in-up_bt {
  display: none;
  padding: 2px 1px;
}

.ranking-theme-page .insta .insta-container .insta-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.ranking-theme-page .insta .insta-container .insta-tag .insta-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  padding: 0 2px 0 0;
  background-color: white;
}

.ranking-theme-page .insta .insta-container .insta-tag .insta-list a {
  padding-right: 10px;
  padding-left: 10px;
  color: #D8A3D2;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.ranking-theme-page .main, .ranking-thismonth-page .main, .ranking-nowdays-page .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ranking-theme-page .main .title, .ranking-thismonth-page .main .title, .ranking-nowdays-page .main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 90%;
}

.ranking-theme-page .main .rank-area, .ranking-thismonth-page .main .rank-area, .ranking-nowdays-page .main .rank-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.ranking-theme-page .main .rank-area .ranking-store, .ranking-thismonth-page .main .rank-area .ranking-store, .ranking-nowdays-page .main .rank-area .ranking-store {
  width: 100%;
  margin: 10px auto;
  -webkit-animation: fadeInUp 2s;
          animation: fadeInUp 2s;
}

.ranking-theme-page .main .rank-area .ranking-store .store-info, .ranking-thismonth-page .main .rank-area .ranking-store .store-info, .ranking-nowdays-page .main .rank-area .ranking-store .store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.ranking-theme-page .main .rank-area .ranking-store .store-info .store-name, .ranking-thismonth-page .main .rank-area .ranking-store .store-info .store-name, .ranking-nowdays-page .main .rank-area .ranking-store .store-info .store-name {
  font-size: 18px;
  font-weight: 500;
  color: #504f57;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ranking-theme-page .main .rank-area .ranking-store .store-info .rank-num, .ranking-thismonth-page .main .rank-area .ranking-store .store-info .rank-num, .ranking-nowdays-page .main .rank-area .ranking-store .store-info .rank-num {
  font-family: 'Montserrat-bold', sans-serif;
  padding-right: 10px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #D0C1D0;
  letter-spacing: 5px;
}

.ranking-theme-page .main .rank-area .ranking-store .store-info .keyword, .ranking-thismonth-page .main .rank-area .ranking-store .store-info .keyword, .ranking-nowdays-page .main .rank-area .ranking-store .store-info .keyword {
  font-size: 12px;
  min-width: 40px;
  border: 1px solid #ebdaeb;
  border-radius: 5px;
  padding: 0px 5px;
  text-align: center;
  color: #8a7f8a;
}

.ranking-theme-page .main .rank-area .ranking-store .store-img > img, .ranking-thismonth-page .main .rank-area .ranking-store .store-img > img, .ranking-nowdays-page .main .rank-area .ranking-store .store-img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.news-page .main .news-list {
  padding-top: 20px;
}

.news-page .main .news-list .list-item {
  -webkit-animation: fadeInUp 3s;
          animation: fadeInUp 3s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.news-page .main .news-list .list-item .news-picture {
  width: 90%;
  height: 270px;
}

.news-page .main .news-list .list-item .news-picture > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.news-page .main .news-list .list-item .news-info {
  width: 88%;
  padding: 10px 10px 0 10px;
}

.news-page .main .news-list .list-item .news-info .news-date {
  font-family: "Montserrat-bold", sans-serif;
  color: #d0c1d0;
  font-size: 15px;
  padding: 0 0 5px 0;
}

.news-page .main .news-list .list-item .news-info .news-title {
  color: #504f57;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 500;
}

.news-page .main .news-list .list-item .news-info .news-content {
  font-size: 14px;
  line-height: 24px;
  color: #504F57;
  padding-bottom: 15px;
  border-bottom: 2px solid #E1EAE9;
}

.news-page .main .news-detail {
  display: none;
  -webkit-animation: fadeInUp 2s;
          animation: fadeInUp 2s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-page .main .news-detail .detail-date {
  width: 85%;
  font-size: 14px;
  color: #b9bbc4;
  padding: 20px 0 0 0;
}

.news-page .main .news-detail .detail-title {
  width: 85%;
  font-size: 22px;
  font-weight: 500;
  color: #504f57;
  padding-bottom: 5px;
}

.news-page .main .news-detail .main-photo {
  width: 100%;
  height: 280px;
}

.news-page .main .news-detail .main-photo > img {
  width: 100%;
  height: 100%;
}

.news-page .main .news-detail .detail-text {
  width: 85%;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
  line-height: 24px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #504f57;
}

.detail-page .main {
  width: 100%;
}

.detail-page .main .detail-main {
  font-family: "Noto Sans KR", sans-serif !important;
}

.detail-page .main .detail-main .loading {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  display: none;
}

.detail-page .main .detail-main .dot div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 10px;
  background-color: #D0C1D0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: dot 1.5s linear infinite;
          animation: dot 1.5s linear infinite;
}

.detail-page .main .detail-main .dot div:nth-child(1) {
  left: -50px;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.detail-page .main .detail-main .dot div:nth-child(3) {
  right: -50px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.detail-page .main .detail-main .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 5px;
  border-bottom: 2px solid #E1EAE9;
  margin-bottom: 10px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.detail-page .main .detail-main .main-top .store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.detail-page .main .detail-main .main-top .store-info .photo {
  width: 75px;
  height: 75px;
  padding: 10px 0;
}

.detail-page .main .detail-main .main-top .store-info .photo > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.detail-page .main .detail-main .main-top .store-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 10px;
}

.detail-page .main .detail-main .main-top .store-info .info .keyword {
  margin-right: 7px;
  font-size: 11px;
  min-width: 40px;
  border: 1px solid #ebdaeb;
  border-radius: 5px;
  padding: 0px 8px;
  text-align: center;
  color: #8a7f8a;
}

.detail-page .main .detail-main .main-top .store-info .info .name {
  color: #504f57;
  font-weight: 500;
  font-size: 18px;
  padding-top: 5px;
}

.detail-page .main .detail-main .main-top .store-info .info .detail-text {
  padding: 0 5px 0 0;
  font-size: 13px;
  font-weight: 500;
  color: #d0c1d0;
}

.detail-page .main .detail-main .main-top .store-info .info .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-page .main .detail-main .main-top .store-info .info .hashtag #hashtag {
  font-size: 17px;
  color: #a39aa3;
  padding-right: 10px;
  font-weight: 500;
}

.detail-page .main .detail-main .main-top .store-info .etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 15px 0 0 0;
}

.detail-page .main .detail-main .main-top .store-info .etc .share, .detail-page .main .detail-main .main-top .store-info .etc .phone, .detail-page .main .detail-main .main-top .store-info .etc .usage {
  margin: 0 auto;
  padding-right: 8px;
}

.detail-page .main .detail-main .main-top .store-info .etc .share > img, .detail-page .main .detail-main .main-top .store-info .etc .phone > img, .detail-page .main .detail-main .main-top .store-info .etc .usage > img {
  width: 15px;
  height: 15px;
}

.detail-page .main .detail-main .main-top .store-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.detail-page .main .detail-main .main-top .store-adress .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.detail-page .main .detail-main .main-top .store-adress .hashtag #hashtag {
  font-size: 15px;
  color: #a39aa3;
  padding-right: 10px;
  font-weight: 500;
}

.detail-page .main .detail-main .main-top .store-adress .adress {
  color: #504f57;
  font-size: 15px;
}

.detail-page .main .detail-main .main-top .store-adress .map {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.detail-page .main .detail-main .main-top .store-adress .map > img {
  width: 20px;
  height: 20px;
}

.detail-page .main .detail-main .map-container {
  position: relative;
  text-align: center;
  margin: 10px auto;
  height: 0;
}

.detail-page .main .detail-main .map-container #detail-map {
  width: 100%;
  border: 0;
  height: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.detail-page .main .detail-main .detail-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detail-page .main .detail-main .detail-picture .store-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
  margin: 10px auto;
}

.detail-page .main .detail-main .detail-picture .store-list .img-container {
  width: 150px;
  height: 150px;
}

.detail-page .main .detail-main .detail-picture .store-list .img-container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ask-page .main {
  width: 100%;
}

.ask-page .main .ask-center {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ask-page .main .ask-center .ask-title {
  font-size: 20px;
  color: #504f57;
  margin-bottom: 20px;
}

.ask-page .main .ask-center .ask-text {
  font-size: 15px;
  color: #504f57;
  margin-bottom: 20px;
}

.ask-page .main .ask-center .ask-form .ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ask-page .main .ask-center .ask-form .ask #ask-title {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.ask-page .main .ask-center .ask-form .ask #ask-email {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.ask-page .main .ask-center .ask-form .ask #ask-contents {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 200px;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.ask-page .main .ask-center .ask-form .ask .ask-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ask-page .main .ask-center .ask-form .ask .ask-btn #search-btn {
  font-family: "Montserrat-bold", sans-serif;
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 50px;
}

.ask-page .main .ask-center .ask-form .ask .ask-btn #search-btn:active {
  background: #d8a3d2;
}

.ask-page .modal-container {
  display: none;
  width: 100%;
  height: 100%;
}

.ask-page .modal-container #notice {
  text-align: center;
  padding-top: 150px;
}

.ask-page .modal-container #notice .notice-title {
  font-size: 30px;
  margin-bottom: 50px;
  color: #504f57;
}

.ask-page .modal-container #notice #home {
  font-family: "Montserrat-bold", sans-serif;
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 50px;
}

.ask-page .modal-container #notice #home:active {
  background: #d8a3d2;
}

.login-page .main {
  text-align: center;
}

.login-page .main .login-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px 0;
}

.login-page .main .login-center .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .main .login-center .login-form .login-title {
  font-size: 30px;
  font-weight: bold;
  color: #504f57;
  padding-bottom: 20px;
}

.login-page .main .login-center .login-form .login-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.login-page .main .login-center .login-form .login-input #e-mail {
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin: 0 10px 10px 10px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.login-page .main .login-center .login-form .login-input #password {
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin: 0 10px 20px 10px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.login-page .main .login-center .login-form .login-btn #login-btn {
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 50px;
}

.login-page .main .login-center .login-form .login-btn #login-btn:active {
  background-color: #d8a3d2;
}

.login-page .main .login-center .login-form .sns-login {
  margin-top: 30px;
  font-size: 16px;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn .sns-btn {
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn .sns-btn .btn-box {
  width: 40px;
  height: 40px;
  border: 2px solid #EEE1EE;
  border-radius: 50%;
  margin: 0 0 6px 0;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn .sns-btn .btn-box > img {
  width: 20px;
  height: 20px;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn .sns-btn .btn-box #naverIdLogin #naverIdLogin_loginButton > img {
  width: 20px;
  height: 20px;
}

.login-page .main .login-center .login-form .sns-login .sns-login-btn .sns-btn .text-box {
  font-size: 12px;
  color: gray;
}

.login-page .main .login-center .login-form .login-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  font-size: 14px;
}

.login-page .main .login-center .login-form .login-help a {
  text-decoration: none;
  color: #504f57;
}

.find-page .main {
  width: 100%;
}

.find-page .main .find-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.find-page .main .find-center .find-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #504f57;
}

.find-page .main .find-center .find-text {
  margin-bottom: 30px;
  font-size: 15px;
  color: #504f57;
}

.find-page .main .find-center .find-form {
  text-align: center;
}

.find-page .main .find-center .find-form #post-mail {
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin: 0 0 50px 0;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.find-page .main .find-center .find-form #mail-send {
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 50px;
}

.find-page .main .find-center .find-form #mail-send:active {
  background-color: #d8a3d2;
}

.find-page .main .notice {
  display: none;
  text-align: center;
}

.find-page .main .notice #home {
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 50px;
}

.find-page .main .notice #home:active {
  background-color: #d8a3d2;
}

.edit-pw-page .main {
  width: 100%;
}

.edit-pw-page .edit-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 30px;
}

.edit-pw-page .edit-center .edit-form {
  text-align: center;
}

.edit-pw-page .edit-center .edit-form #new_pw {
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin: 0 0 10px 0;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.edit-pw-page .edit-center .edit-form #new_pw2 {
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin: 0 0 10px 0;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.edit-pw-page .edit-center .edit-form #new-btn {
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 50px;
}

.edit-pw-page .edit-center .edit-form #new-btn:active {
  background-color: #d8a3d2;
}

.edit-pw-page .notice {
  display: block;
  text-align: center;
  padding: 100px 0;
}

.edit-pw-page .notice #home {
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 50px;
}

.edit-pw-page .notice #home:active {
  background-color: #d8a3d2;
}

.contents-page .contents-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 30px 0;
}

.contents-page .contents-center .contents {
  width: 90%;
  margin-top: 20px;
}

.contents-page .contents-center .contents .contents-title {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.contents-page .contents-center .contents .box {
  width: 100%;
  height: 250px;
  border: 2px solid #ebdaeb;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-page .contents-center .contents .box .contents-box {
  width: 90%;
  height: 90%;
  border: 0px solid #0e080e;
  font-size: 12px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
}

.favorite-page .main {
  width: 100%;
}

.favorite-page .main .favorit-title {
  font-size: 25px;
  color: #504f57;
  padding: 30px;
}

.favorite-page .main .favorite-list .list-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeInUp 2s;
          animation: fadeInUp 2s;
}

.favorite-page .main .favorite-list .list-line .store-list {
  margin: 10px auto;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
}

.favorite-page .main .favorite-list .list-line .store-list .img-container {
  width: 150px;
  height: 150px;
}

.favorite-page .main .favorite-list .list-line .store-list .img-container > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.favorite-page .main .favorite-list .list-line .store-list .store-name {
  font-weight: 400;
  font-size: 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.favorite-page .main .favorite-list .list-line .store-list .views {
  color: #d8a3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.favorite-page .main .favorite-list .list-line .store-list .keyword {
  margin-right: 10px;
  font-size: 10px;
  min-width: 40px;
  border: 1px solid #ebdaeb;
  border-radius: 5px;
  padding: 0px 8px;
  text-align: center;
  color: #8a7f8a;
}

.mypage-page .modal-container {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.mypage-page .modal-container .logout-box {
  display: none;
  border: 0px solid white;
  background-color: white;
  width: 280px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  margin: 150px auto;
}

.mypage-page .modal-container .logout-box .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mypage-page .modal-container .logout-box .answer .yes, .mypage-page .modal-container .logout-box .answer .no {
  margin: 50px;
}

.mypage-page .main {
  width: 100%;
}

.mypage-page .main .myinfo {
  padding: 20px;
  color: #504f57;
}

.mypage-page .main .myinfo .mypage-title {
  font-size: 22px;
  font-family: 'Noto Sans KR', 'sans-serif';
  margin-bottom: 20px;
}

.mypage-page .main .myinfo .user-mail, .mypage-page .main .myinfo .user-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #E1D6E1;
}

.mypage-page .main .myinfo .user-mail .myinfo-nm, .mypage-page .main .myinfo .user-id .myinfo-nm {
  color: #504f57;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mypage-page .main .myinfo .info-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.mypage-page .main .myinfo .info-form-btn .edit-btn {
  padding-right: 5px;
}

.mypage-page .main .myinfo .info-form-btn .edit-btn #edit {
  color: white;
  background-color: #504f57;
  width: 130px;
  font-size: 13px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.mypage-page .main .myinfo .info-form-btn .edit-btn #edit:active {
  background: #d8a3d2;
}

.mypage-page .main .myinfo .info-form-btn .logout-btn {
  padding-left: 5px;
}

.mypage-page .main .myinfo .info-form-btn .logout-btn #logout {
  color: white;
  background-color: #504f57;
  font-size: 13px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 130px;
}

.mypage-page .main .myinfo .info-form-btn .logout-btn #logout:active {
  background: #d8a3d2;
}

.mypage-page .main .edit-info {
  display: none;
  margin: 10px;
  color: #504f57;
}

.mypage-page .main .edit-info .edit-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 5px;
}

.mypage-page .main .edit-info .edit-top .edit-title {
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mypage-page .main .edit-info .edit-top .edit-sub {
  font-size: 12px;
  padding-top: 15px;
  font-weight: bold;
}

.mypage-page .main .edit-info .edit #edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.mypage-page .main .edit-info .edit #edit-form #password, .mypage-page .main .edit-info .edit #edit-form #new_pw, .mypage-page .main .edit-info .edit #edit-form #new_pw2, .mypage-page .main .edit-info .edit #edit-form #username {
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin: 0 0 10px 0;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.mypage-page .main .edit-info .edit #save {
  margin-right: 5px;
}

.mypage-page .main .edit-info .edit #cancel {
  margin-left: 5px;
}

.mypage-page .main .edit-info .edit #save, .mypage-page .main .edit-info .edit #cancel {
  color: white;
  background-color: #504f57;
  font-size: 13px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 130px;
}

.mypage-page .main .edit-info .edit #save:active, .mypage-page .main .edit-info .edit #cancel:active {
  background-color: #d8a3d2;
}

.signup-page .main .sign-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px auto;
  width: 100%;
  text-align: center;
}

.signup-page .main .sign-center .page-num1 .num, .signup-page .main .sign-center .page-num2 .num, .signup-page .main .sign-center .signup-end .num {
  font-size: 25px;
  margin-bottom: 10px;
  color: #CFBFCF;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 5px;
}

.signup-page .main .sign-center .page-num1 .sign-title, .signup-page .main .sign-center .page-num2 .sign-title, .signup-page .main .sign-center .signup-end .sign-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #504f57;
}

.signup-page .main .sign-center .page-num1 .sign-text, .signup-page .main .sign-center .page-num2 .sign-text, .signup-page .main .sign-center .signup-end .sign-text {
  font-size: 15px;
  margin-bottom: 20px;
  color: #504f57;
}

.signup-page .main .sign-center .page-num1 .sign-form #sign-mail, .signup-page .main .sign-center .page-num1 .sign-form #sign-pw, .signup-page .main .sign-center .page-num1 .sign-form #username, .signup-page .main .sign-center .page-num2 .sign-form #sign-mail, .signup-page .main .sign-center .page-num2 .sign-form #sign-pw, .signup-page .main .sign-center .page-num2 .sign-form #username, .signup-page .main .sign-center .signup-end .sign-form #sign-mail, .signup-page .main .sign-center .signup-end .sign-form #sign-pw, .signup-page .main .sign-center .signup-end .sign-form #username {
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 0 10px 20px;
  margin: 0 0 10px 0;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.signup-page .main .sign-center .page-num1 .sign-form #next-btn1, .signup-page .main .sign-center .page-num1 .sign-form #next-btn2, .signup-page .main .sign-center .page-num2 .sign-form #next-btn1, .signup-page .main .sign-center .page-num2 .sign-form #next-btn2, .signup-page .main .sign-center .signup-end .sign-form #next-btn1, .signup-page .main .sign-center .signup-end .sign-form #next-btn2 {
  padding: 10px 50px;
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
}

.signup-page .main .sign-center .page-num1 .sign-form #next-btn1:active, .signup-page .main .sign-center .page-num1 .sign-form #next-btn2:active, .signup-page .main .sign-center .page-num2 .sign-form #next-btn1:active, .signup-page .main .sign-center .page-num2 .sign-form #next-btn2:active, .signup-page .main .sign-center .signup-end .sign-form #next-btn1:active, .signup-page .main .sign-center .signup-end .sign-form #next-btn2:active {
  background-color: #d8a3d2;
}

.signup-page .main .sign-center .page-num1 .sign-form #sign-pw {
  margin: 0 0 20px 0;
}

.signup-page .main .sign-center .page-num2 {
  display: none;
}

.signup-page .main .sign-center .page-num2 .sign-form .accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.signup-page .main .sign-center .page-num2 .sign-form .accept .checkbox3 {
  padding-top: 1px;
}

.signup-page .main .sign-center .page-num2 .sign-form .accept #accept {
  border-bottom: 1px solid #504f57;
  padding-bottom: 4px;
  font-size: 11px;
  color: #504f57;
}

.signup-page .main .sign-center .page-num2 .sign-form .accept #agree3 {
  padding: 0px 10px;
  color: gray;
  font-size: 11px;
}

.signup-page .main .signup-end {
  display: none;
}

.signup-page .main .signup-end .end-center {
  padding-top: 70px;
}

.signup-page .main .signup-end .end-center .end {
  font-size: 25px;
  margin-bottom: 30px;
  color: #504f57;
}

.signup-page .main .signup-end .end-center .sign-text {
  margin-bottom: 70px;
}

.signup-page .main .signup-end .end-center .home-btn #home-btn {
  padding: 10px 50px;
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
}

.signup-page .main .signup-end .end-center .home-btn #home-btn:active {
  background-color: #d8a3d2;
}

.signup-page .accept-contents {
  width: 100%;
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-page .accept-contents .contents {
  width: 90%;
  margin-top: 20px;
}

.signup-page .accept-contents .contents .contents-title {
  margin-bottom: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup-page .accept-contents .contents .contents-title #view-accept {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.signup-page .accept-contents .contents .contents-title .checkbox1, .signup-page .accept-contents .contents .contents-title .checkbox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-page .accept-contents .contents .contents-title .checkbox1 #agree1, .signup-page .accept-contents .contents .contents-title .checkbox1 #agree2, .signup-page .accept-contents .contents .contents-title .checkbox2 #agree1, .signup-page .accept-contents .contents .contents-title .checkbox2 #agree2 {
  float: left;
  padding-right: 10px;
  color: gray;
  font-size: 13px;
}

.signup-page .accept-contents .contents .contents-title .checkbox1 #checkbox1, .signup-page .accept-contents .contents .contents-title .checkbox1 #checkbox2, .signup-page .accept-contents .contents .contents-title .checkbox2 #checkbox1, .signup-page .accept-contents .contents .contents-title .checkbox2 #checkbox2 {
  float: left;
  height: 22px;
  padding-top: 5px;
}

.signup-page .accept-contents .contents .box {
  width: 100%;
  height: 250px;
  border: 2px solid #ebdaeb;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-page .accept-contents .contents .box .contents-box {
  width: 90%;
  height: 90%;
  border: 0px solid #0e080e;
  font-size: 12px;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
}

.signup-page .accept-contents .confirm-btn {
  padding: 30px;
}

.signup-page .accept-contents .confirm-btn #confirm-btn {
  padding: 10px 50px;
  color: white;
  background-color: #504f57;
  font-size: 14px;
  border: 0px solid #504f57;
  border-radius: 20px;
  font-family: "Montserrat-bold", sans-serif;
  letter-spacing: 1px;
}

.signup-page .accept-contents .confirm-btn #confirm-btn:active {
  background-color: #d8a3d2;
}
/*# sourceMappingURL=m.style.css.map */