@font-face {
  font-family: 'NotoSansCJKKR-Bold';
  src: url(/Users/js/Documents/07_Ranking/font/NotoSansCJKkr-Bold.otf) format("opentype");
  font-family: 'NotoSansCJKKR-Demilight';
  src: url(/Users/js/Documents/07_Ranking/font/NotoSansCJKkr-Demilight.otf) format("opentype");
  font-family: 'NotoSansCJKKR-Medium';
  src: url(/Users/js/Documents/07_Ranking/font/NotoSansCJKkr-Medium.otf) format("opentype");
}

body {
  margin: 0;
  font-family: 'NotoSansCJKKR-Bold';
  overflow-x: overlay;
  overflow-y: overlay;
}

.default-page .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.default-page .child-flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.default-page .child-flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.default-page .form input:focus {
  outline: none;
}

.default-page .form button:focus {
  outline: none;
}

.default-page .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-page .all .move-top {
  position: fixed;
  bottom: 100px;
  right: 200px;
  text-align: center;
  z-index: 999;
}

.default-page .all .move-top img {
  color: none;
}

.default-page .all .move-top img:hover {
  color: #d0c1d0;
}

.default-page .all .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-page .all .head .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 20px auto 16px auto;
}

.default-page .all .head .top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.default-page .all .head .top .logo img {
  margin-right: 15px;
}

.default-page .all .head .top .logo-copy {
  display: none;
}

.default-page .all .head .top .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.default-page .all .head .top .login a {
  text-decoration: none;
  color: black;
}

.default-page .all .head .menu {
  width: 100%;
  font-size: 14px;
  max-height: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F1EDF0), to(#FAF6F9));
  background: linear-gradient(to bottom, #F1EDF0, #FAF6F9);
}

.default-page .all .head .menu > div {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-page .all .head .menu > div .rank {
  padding-right: 20px;
}

.default-page .all .head .menu > div .rank a {
  text-decoration: none;
  color: black;
}

.default-page .all .head .menu .news {
  padding-left: 10px;
  padding-right: 20px;
}

.default-page .all .head .menu .news a {
  text-decoration: none;
  color: black;
}

.default-page .all .head .menu .hot-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.default-page .all .head .menu .hot-search .hot-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
}

.default-page .all .head .menu .hot-search .hot-rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  margin-top: 0px;
  z-index: 2;
}

.default-page .all .head .menu .hot-search .hot-rank .hot {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0px 20px;
}

.default-page .all .head .menu .hot-search .hot-rank .hot .hot-list-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  padding-bottom: 13px;
  padding-top: 14px;
}

.default-page .all .head .menu .hot-search .hot-rank .hot .hot-list-h a {
  padding: 0px 40px 0px 15px;
  text-decoration: none;
  color: black;
}

.default-page .all .head .menu .hot-search .hot-rank .hot .hot-list-h:hover {
  font-weight: bold;
}

.default-page .all .head .menu .hot-search .hot-rank .hot .hot-list-h .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #d8a3d2;
  padding-right: 0px;
}

.default-page .all .head .menu .hot-search .hot-rank .hot .hot-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  padding-bottom: 15px;
}

.default-page .all .head .menu .hot-search .hot-rank .hot .hot-list a {
  padding: 0px 40px 0px 15px;
  text-decoration: none;
  color: black;
}

.default-page .all .head .menu .hot-search .hot-rank .hot .hot-list a:hover {
  font-weight: bold;
}

.default-page .all .head .menu .hot-search .hot-rank .hot .hot-list .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #d8a3d2;
  padding-right: 0px;
}

.default-page .all .head .menu .hot-search .rank_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.default-page .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 64px;
  width: 100%;
  background-color: #F1EDF0;
}

.default-page .footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  font-size: 14px;
  margin: 25px auto;
}

.default-page .footer .info .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #a39aa3;
}

.default-page .footer .info .etc {
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.default-page .footer .info .etc a {
  text-decoration: none;
  padding-left: 60px;
  color: #a39aa3;
}

.default-page .footer .info .etc .area-ok {
  color: #a39aa3;
}

.main-page .head {
  margin-bottom: 20px;
}

.main-page .head .where-form2 {
  display: none;
}

.main-page .head .logo-copy {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  font-size: 14px;
  padding-left: 30px;
  border-left: 1px solid #d8a3d2;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.main-page .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main-page .main .picture-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page .main .picture-slide .picture {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-page .main .picture-slide .picture .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.main-page .main .picture-slide .picture .slides img {
  border-radius: 40px;
}

.main-page .main .right {
  right: 340px;
}

.main-page .main .left {
  left: 340px;
}

.main-page .main .arrow {
  cursor: pointer;
  position: absolute;
  top: 47%;
}

.main-page .main .arrow #prev_bt, .main-page .main .arrow #next_bt {
  opacity: 0.7;
}

.main-page .main .arrow #prev_arrow {
  position: absolute;
  top: 20%;
  left: 28%;
  z-index: 2;
}

.main-page .main .arrow #next_arrow {
  position: absolute;
  top: 20%;
  right: 28%;
  z-index: 2;
}

.main-page .main .dot {
  cursor: pointer;
  position: relative;
  top: 90%;
  height: 7px;
  width: 7px;
  border: 1px solid white;
  margin: 0 4px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.main-page .main .dot:hover {
  background-color: white;
}

.main-page .main .active {
  background-color: white;
}

.main-page .main .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-page .main .search-form .where-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.main-page .main .search-form .where-top .where {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2em;
}

.main-page .main .search-form .where-top .where-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.main-page .main .search-form .where-top .where-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.main-page .main .search-form .where-top .where-form .form .search-word {
  position: relative;
  width: 600px;
  margin-right: 30px;
}

.main-page .main .search-form .where-top .where-form .form .search-word #search-word {
  position: absolute;
  padding-left: 20px;
  font-size: 14px;
  height: 49px;
  border: 2px solid #a39aa3;
  border-radius: 51px;
  width: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-page .main .search-form .where-top .where-form .form .search-word #search {
  position: absolute;
  top: 15px;
  right: 25px;
  max-height: 20px;
}

.main-page .main .search-form .where-top .where-form .form #search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 200px;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 51px;
  background-color: #504f57;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-page .main .search-form .where-top .where-form .form #search-btn:hover {
  background-color: #d0c1d0;
}

.main-page .main .search-form .where-top .where-form .form #search-btn:active {
  background-color: #d8a3d2;
}

.search-page .all, .ranking-page .all, .detail-page .all, .magazine-page .all, .asking-page .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-page .where-form2, .ranking-page .where-form2, .detail-page .where-form2, .magazine-page .where-form2, .asking-page .where-form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-page .where-form2 .form, .ranking-page .where-form2 .form, .detail-page .where-form2 .form, .magazine-page .where-form2 .form, .asking-page .where-form2 .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-page .where-form2 .form .search-word, .ranking-page .where-form2 .form .search-word, .detail-page .where-form2 .form .search-word, .magazine-page .where-form2 .form .search-word, .asking-page .where-form2 .form .search-word {
  width: 400px;
  position: relative;
  margin-right: 30px;
}

.search-page .where-form2 .form .search-word #search-word2, .ranking-page .where-form2 .form .search-word #search-word2, .detail-page .where-form2 .form .search-word #search-word2, .magazine-page .where-form2 .form .search-word #search-word2, .asking-page .where-form2 .form .search-word #search-word2 {
  position: absolute;
  font-size: 14px;
  padding-left: 20px;
  height: 49px;
  border: 2px solid #a39aa3;
  border-radius: 51px;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-page .where-form2 .form .search-word #search2, .ranking-page .where-form2 .form .search-word #search2, .detail-page .where-form2 .form .search-word #search2, .magazine-page .where-form2 .form .search-word #search2, .asking-page .where-form2 .form .search-word #search2 {
  position: absolute;
  top: 15px;
  right: 15px;
  max-height: 20px;
}

.search-page .main, .ranking-page .main, .detail-page .main, .magazine-page .main, .asking-page .main {
  width: 1100px;
  margin: 0 auto;
}

.search-page .main .search-center, .ranking-page .main .search-center, .detail-page .main .search-center, .magazine-page .main .search-center, .asking-page .main .search-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-page .main .search-center .main-top, .ranking-page .main .search-center .main-top, .detail-page .main .search-center .main-top, .magazine-page .main .search-center .main-top, .asking-page .main .search-center .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px 0px;
}

.search-page .main .search-center .main-top .search-time, .ranking-page .main .search-center .main-top .search-time, .detail-page .main .search-center .main-top .search-time, .magazine-page .main .search-center .main-top .search-time, .asking-page .main .search-center .main-top .search-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 4%;
  height: 30px;
}

.search-page .main .search-center .main-top .search-time a, .ranking-page .main .search-center .main-top .search-time a, .detail-page .main .search-center .main-top .search-time a, .magazine-page .main .search-center .main-top .search-time a, .asking-page .main .search-center .main-top .search-time a {
  text-decoration: none;
  color: gray;
  margin-right: 25px;
}

.search-page .main .search-center .main-top .search-time a:hover, .ranking-page .main .search-center .main-top .search-time a:hover, .detail-page .main .search-center .main-top .search-time a:hover, .magazine-page .main .search-center .main-top .search-time a:hover, .asking-page .main .search-center .main-top .search-time a:hover {
  text-decoration: none;
  color: black;
}

.search-page .main .search-center .main-top .search-time a:active, .ranking-page .main .search-center .main-top .search-time a:active, .detail-page .main .search-center .main-top .search-time a:active, .magazine-page .main .search-center .main-top .search-time a:active, .asking-page .main .search-center .main-top .search-time a:active {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.search-page .main .search-center .main-top .search-time a:visited, .ranking-page .main .search-center .main-top .search-time a:visited, .detail-page .main .search-center .main-top .search-time a:visited, .magazine-page .main .search-center .main-top .search-time a:visited, .asking-page .main .search-center .main-top .search-time a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.search-page .main .search-center .search-list, .ranking-page .main .search-center .search-list, .detail-page .main .search-center .search-list, .magazine-page .main .search-center .search-list, .asking-page .main .search-center .search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-page .main .search-center .search-list .hideme, .ranking-page .main .search-center .search-list .hideme, .detail-page .main .search-center .search-list .hideme, .magazine-page .main .search-center .search-list .hideme, .asking-page .main .search-center .search-list .hideme {
  opacity: 0;
}

.search-page .main .search-center .search-list .list-line, .ranking-page .main .search-center .search-list .list-line, .detail-page .main .search-center .search-list .list-line, .magazine-page .main .search-center .search-list .list-line, .asking-page .main .search-center .search-list .list-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-page .main .search-center .search-list .list-line .store-list, .ranking-page .main .search-center .search-list .list-line .store-list, .detail-page .main .search-center .search-list .list-line .store-list, .magazine-page .main .search-center .search-list .list-line .store-list, .asking-page .main .search-center .search-list .list-line .store-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 30px;
}

.search-page .main .search-center .search-list .list-line .store-list .img-container, .ranking-page .main .search-center .search-list .list-line .store-list .img-container, .detail-page .main .search-center .search-list .list-line .store-list .img-container, .magazine-page .main .search-center .search-list .list-line .store-list .img-container, .asking-page .main .search-center .search-list .list-line .store-list .img-container {
  width: 232px;
  height: 232px;
  overflow: hidden;
  border-radius: 10px;
}

.search-page .main .search-center .search-list .list-line .store-list .img-container > img, .ranking-page .main .search-center .search-list .list-line .store-list .img-container > img, .detail-page .main .search-center .search-list .list-line .store-list .img-container > img, .magazine-page .main .search-center .search-list .list-line .store-list .img-container > img, .asking-page .main .search-center .search-list .list-line .store-list .img-container > img {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search-page .main .search-center .search-list .list-line .store-list .img-container > img:hover, .ranking-page .main .search-center .search-list .list-line .store-list .img-container > img:hover, .detail-page .main .search-center .search-list .list-line .store-list .img-container > img:hover, .magazine-page .main .search-center .search-list .list-line .store-list .img-container > img:hover, .asking-page .main .search-center .search-list .list-line .store-list .img-container > img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.search-page .main .search-center .search-list .list-line .store-list .store-name, .ranking-page .main .search-center .search-list .list-line .store-list .store-name, .detail-page .main .search-center .search-list .list-line .store-list .store-name, .magazine-page .main .search-center .search-list .list-line .store-list .store-name, .asking-page .main .search-center .search-list .list-line .store-list .store-name {
  font-weight: bold;
  font-size: 15px;
}

.search-page .main .search-center .search-list .list-line .store-list .views, .ranking-page .main .search-center .search-list .list-line .store-list .views, .detail-page .main .search-center .search-list .list-line .store-list .views, .magazine-page .main .search-center .search-list .list-line .store-list .views, .asking-page .main .search-center .search-list .list-line .store-list .views {
  color: #d8a3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-page .main .search-center .search-list .list-line .store-list .keyword, .ranking-page .main .search-center .search-list .list-line .store-list .keyword, .detail-page .main .search-center .search-list .list-line .store-list .keyword, .magazine-page .main .search-center .search-list .list-line .store-list .keyword, .asking-page .main .search-center .search-list .list-line .store-list .keyword {
  margin-right: 10px;
  font-size: 13px;
  min-width: 59px;
  min-height: 22px;
  border: 1px solid #d8a3d2;
  border-radius: 5px;
  padding: 2px 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.detail-page .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 2px;
}

.detail-page .main-top .photo {
  width: 232px;
  height: 232px;
  overflow: hidden;
  border-radius: 50%;
}

.detail-page .main-top .photo > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.detail-page .main-top .photo > img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.detail-page .main-top .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 50px;
}

.detail-page .main-top .info .keyword {
  margin-right: 10px;
  font-size: 13px;
  min-width: 59px;
  min-height: 20px;
  border: 1px solid #d8a3d2;
  border-radius: 5px;
  padding: 1px 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.detail-page .main-top .info .name {
  font-size: 36px;
  padding-bottom: 20px;
}

.detail-page .main-top .info .number {
  font-size: 15px;
  padding-bottom: 3px;
}

.detail-page .main-top .info .adress {
  font-size: 15px;
  padding-bottom: 20px;
}

.detail-page .main-top .info .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-page .main-top .info .hashtag #hashtag {
  color: #d0c1d0;
  padding-right: 10px;
}

.detail-page .main-top .etc {
  width: 200px;
  position: relative;
}

.detail-page .main-top .etc .month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 35px;
}

.detail-page .main-top .etc .month .share {
  padding-right: 5px;
  color: #d0c1d0;
  text-align: center;
}

.detail-page .main-top .etc .month .share img {
  padding-left: 30px;
}

.detail-page .main-top .etc .month .usage {
  text-align: center;
  color: #d0c1d0;
}

.detail-page .main-top .etc .month .usage img {
  padding-left: 5px;
}

.detail-page .main-top .etc .map {
  position: absolute;
  right: 35px;
  bottom: 0px;
}

.detail-page .detail-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detail-page .detail-picture .store-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 40px;
}

.detail-page .detail-picture .store-list .img-container {
  width: 232px;
  height: 232px;
  overflow: hidden;
  border-radius: 5px;
}

.detail-page .detail-picture .store-list .img-container > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.detail-page .detail-picture .store-list .img-container > img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ranking-page .all .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ranking-page .all .head .rank a {
  color: #d8a3d2 !important;
}

.ranking-page .all .main {
  width: 1000px;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ranking-page .all .main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ranking-page .all .main .title .nowdays, .ranking-page .all .main .title .thema, .ranking-page .all .main .title .thismonth {
  font-size: 36px;
  color: gray;
  padding: 40px 80px;
}

.ranking-page .all .main .insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.ranking-page .all .main .insta .insta-tag {
  padding-right: 10px;
}

.ranking-page .all .main .rank-area {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 30px;
}

.ranking-page .all .main .rank-area .ranking5 {
  border-right: 1px solid #9cc7dd;
}

.ranking-page .all .main .rank-area .ranking5, .ranking-page .all .main .rank-area .ranking10 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ranking-page .all .main .rank-area .ranking5 .ranking-store, .ranking-page .all .main .rank-area .ranking10 .ranking-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.ranking-page .all .main .rank-area .ranking5 .ranking-store .rank-num, .ranking-page .all .main .rank-area .ranking10 .ranking-store .rank-num {
  padding-right: 20px;
  font-size: 36px;
  width: 43px;
  text-align: center;
}

.ranking-page .all .main .rank-area .ranking5 .ranking-store .store-img img, .ranking-page .all .main .rank-area .ranking10 .ranking-store .store-img img {
  border-radius: 5px;
  margin: 0 auto;
}

.ranking-page .all .main .rank-area .ranking5 .ranking-store .name, .ranking-page .all .main .rank-area .ranking10 .ranking-store .name {
  padding-bottom: 5px;
}

.ranking-page .all .main .rank-area .ranking5 .ranking-store .keyword, .ranking-page .all .main .rank-area .ranking10 .ranking-store .keyword {
  margin-right: 10px;
  font-size: 13px;
  min-width: 59px;
  min-height: 20px;
  border: 1px solid #d8a3d2;
  border-radius: 5px;
  padding: 1px 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.magazine-page .head {
  padding-bottom: 50px;
}

.magazine-page .head .news a {
  color: #d8a3d2 !important;
}

.magazine-page .main {
  width: 1000px;
}

.magazine-page .main .news-detail {
  display: none;
  padding-bottom: 50px;
}

.magazine-page .main .news-detail .detail-date {
  font-size: 18px;
  color: #b9bbc4;
  padding-bottom: 10px;
}

.magazine-page .main .news-detail .detail-title {
  font-size: 36px;
  padding-bottom: 30px;
}

.magazine-page .main .news-detail .main-photo {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 15px;
}

.magazine-page .main .news-detail .main-photo > img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.magazine-page .main .news-detail .detail-text {
  line-height: 25px;
  padding-bottom: 15px;
}

.magazine-page .main .news-detail .sub-photo {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.magazine-page .main .news-detail .sub-photo > img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.magazine-page .main .news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.magazine-page .main .news-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.magazine-page .main .news-list .list-item .item-picture img {
  border-radius: 10px;
}

.magazine-page .main .news-list .list-item .item-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 80px;
}

.magazine-page .main .news-list .list-item .item-info .info-date {
  font-size: 18px;
  color: #b9bbc4;
  padding-bottom: 20px;
}

.magazine-page .main .news-list .list-item .item-info .thema-title {
  font-size: 36px;
  padding-bottom: 20px;
}

.magazine-page .main .news-list .list-item .item-info .text {
  line-height: 25px;
}

.magazine-page .main .news-list .list-item .item-info .more {
  position: absolute;
  bottom: 20px;
  right: -15px;
}

.magazine-page .main .news-list .list-item .item-info .more > img {
  color: #d8a3d2 !important;
}

.asking-page .main {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
}

.asking-page .main .send-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.asking-page .main .send-help .help-title {
  font-size: 36px;
  padding-bottom: 30px;
}

.asking-page .main .send-help .help {
  padding-bottom: 220px;
}

.asking-page .main .send-help .admin-adress {
  color: gray;
  padding-bottom: 30px;
}

.asking-page .main .send-help .admin-phone, .asking-page .main .send-help .admin-e-mail {
  color: gray;
}

.asking-page .main .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.asking-page .main .support .asking-form input:focus {
  outline: none;
}

.asking-page .main .support .asking-form textarea:focus {
  outline: none;
}

.asking-page .main .support .asking-form button:focus {
  outline: none;
}

.asking-page .main .support #title {
  width: 400px;
  height: 49px;
  font-size: 14px;
  border-radius: 51px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.asking-page .main .support #e_mail {
  width: 400px;
  height: 49px;
  font-size: 14px;
  border-radius: 51px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
}

.asking-page .main .support #contents {
  width: 400px;
  height: 350px;
  font-size: 14px;
  border-radius: 30.0px;
  padding: 30px;
  margin-bottom: 40px;
  border: 1px solid #d0c0d1;
  background-color: #F9F5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #504f57;
  resize: none;
}

.asking-page .main .support #send {
  width: 200px;
  height: 49px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 51px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 200px;
}

.asking-page .main .support #send:hover {
  background-color: #d0c1d0;
}

.asking-page .main .support #send:active {
  background-color: #d8a3d2;
}

.asking-page .main #notice {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
  position: absolute;
  display: none;
  border: 0px solid white;
  background-color: white;
  width: 500px;
  height: 220px;
  z-index: 999;
  border-radius: 10px;
  text-align: center;
  margin: 120px 150px 0px 150px;
}

.asking-page .main #notice #home {
  width: 160px;
  height: 49px;
  color: white;
  background-color: #504f57;
  font-size: 18px;
  border: 0px solid #504f57;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.asking-page .main #notice button:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */