@charset "utf-8";

@font-face{
    font-family: 'NotoSansCJKKR-Bold';
    src: url(/Users/js/Documents/07_Ranking/font/NotoSansCJKkr-Bold.otf) format('opentype');
    font-family: 'NotoSansCJKKR-Demilight';
    src: url(/Users/js/Documents/07_Ranking/font/NotoSansCJKkr-Demilight.otf) format('opentype');
    font-family: 'NotoSansCJKKR-Medium';
    src: url(/Users/js/Documents/07_Ranking/font/NotoSansCJKkr-Medium.otf) format('opentype');
}

body{
  margin: 0;
  font-family: 'NotoSansCJKKR-Bold';
  overflow-x: overlay;
  overflow-y: overlay;
}

.default-page{
  .flex{
    display: flex;
  }
  .child-flex-1{
    flex:1;
  }
  .child-flex-2{
    flex:2;
  }
  .form input:focus{
    outline: none;
  }
  .form button:focus{
    outline: none;
  }  
  .all{
    display: flex;
    flex:1;
    height: 100vh;
    flex-direction: column;

    .move-top{
      position: fixed;
      bottom: 100px;
      right: 200px;
      text-align: center;
      z-index: 999;

      img{
        color: none;

        &:hover{
          color: #d0c1d0;        
        }
      }
    }
    .head{
      display: flex;
      width: 100%;
      flex-direction: column;

      .top{
        display: flex;
        width: 1200px;
        margin: 20px auto 16px auto;
        
        .logo{
          display: flex;

          img{
            margin-right: 15px;
          }
        }
        .logo-copy{
          display: none;
        }

        .login{
          display: flex;
          justify-content: center;
          font-size: 14px;
          
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
      .menu{
        width: 100%;
        font-size: 14px;
        max-height: 45px;
        background: linear-gradient( to bottom, #F1EDF0, #FAF6F9 );
      
        >div{
          width: 1200px;
          margin: 0 auto;
          display: flex;
          align-items: center;

          .rank{
            padding-right: 20px;
          
            a{
              text-decoration: none;
              color: black;
            }
          }
        }
        .news{
          padding-left: 10px;
          padding-right: 20px;
      
          a{
            text-decoration: none;
            color: black;
          }
        }
        .hot-search{
          display: flex;
          flex: 5;
          justify-content: flex-end;
          
          .hot-word{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex:1;
            padding-right: 20px;
          }
          
          .hot-rank{
            display: flex;
            height: 44px;
            margin-top: 0px;
            z-index: 2;
          
            .hot{
              flex-direction: column;
              display: flex;
              border-radius: 5px;
              margin: 0 auto;
              padding: 0px 20px;
          
              .hot-list-h{
                display: flex;
                flex:7;
                padding-bottom:13px; 
                padding-top: 14px;
                a{
                  padding: 0px 40px 0px 15px;
                  text-decoration: none;
                  color: black;
                }
                &:hover{
                  font-weight: bold;
                }
                .num{
                  display: flex;
                  flex: 0 1 auto;
                  color: #d8a3d2;
                  padding-right: 0px;
                }
              }
              .hot-list{
                display: flex;
                flex:7;
                padding-bottom: 15px;
                a{
                  padding: 0px 40px 0px 15px;
                  text-decoration: none;
                  color: black;
                }
                a:hover{
                  font-weight: bold;
                }
                .num{
                  display: flex;
                  flex: 0 1 auto;
                  color: #d8a3d2;
                  padding-right: 0px;
                }
              }
            }
          }
          .rank_btn{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-left: 10px;
          
          }  
        }
      }  
    }
  }
  .footer{
    display: flex;
    max-height: 64px;
    width: 100%;
    background-color: #F1EDF0;

    .info{
      display: flex;
      width: 1200px;
      font-size: 14px;
      margin: 25px auto;

      .copyright{
        display: flex;
        align-items: center;
        flex-shrink: 0;
        color: #a39aa3;
      }
      .etc{
        padding-left: 60px;
        display: flex;
        flex:1;
        align-items: center;
        justify-content: flex-end;

        a{
          text-decoration: none;
          padding-left: 60px;
          color: #a39aa3;
        }
        .area-ok{
          color: #a39aa3;   
        }
      }
    }
  }
}


.main-page{
  .head{
    margin-bottom: 20px;

    .where-form2{
      display:none;
    }
    .logo-copy{
      display: flex !important;
      flex:4;
      align-items: center;
      margin-top: 35px;
      font-size: 14px;
      padding-left: 30px;
      border-left: 1px solid #d8a3d2;
      letter-spacing: 2px;
      word-spacing: 5px;
    }
  }
  .main{
    display: flex;
    flex: 5;
    flex-direction: column;
    width: 100%;

    .picture-slide{
      display: flex;
      flex:5;
      justify-content: center;

      .picture{
        position: absolute;
        display: flex;
        flex:1;

        .slides{
          display: flex;
          flex:1;
          margin-left: 20px;
          margin-right: 20px;

          img{
            border-radius: 40px;
          }
        }
      }
    }
    .right{
      right:340px;
    }
    .left{
      left:340px;
    }
    .arrow{
      cursor: pointer;
      position: absolute;
      top:47%;

      #prev_bt, #next_bt{
        opacity: 0.7;
      }
      #prev_arrow{
        position: absolute;
        top:20%;
        left:28%;
        z-index:2;
      }
      #next_arrow{
        position: absolute;
        top:20%;
        right:28%;
        z-index:2;
      }
    }
    .dot {
      cursor: pointer;
      position: relative;
      top: 90%;
      height: 7px;
      width: 7px;
      border:1px solid white;
      margin: 0 4px;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;

      &:hover{
        background-color: white;
      }
    }
    .active{
      background-color: white;
    }
    .search-form{
      display: flex;
      flex:1;

      .where-top{
        display:flex;
        align-items: center;
        width: 1200px;
        margin: 0 auto;

        .where{
          display: flex;
          width: 180px;
          flex-direction: column;
          font-size: 2em;
        }
        .where-form{
          display: flex;
          flex:5;

          .form{
            display: flex;
            flex:1;
            justify-content: flex-end;
            padding-right: 20px;

            .search-word{
              position: relative;
              width: 600px;
              margin-right:30px;

              #search-word{
                position: absolute;
                padding-left: 20px;
                font-size: 14px;
                height: 49px;
                border: 2px solid #a39aa3;
                border-radius: 51px;
                width: 600px;
                box-sizing: border-box;
              }
              #search{
                position: absolute;
                top: 15px;
                right: 25px;
                max-height: 20px;
              }
            }
            #search-btn{
              display: flex;
              height: 50px;
              width: 200px;
              font-size: 18px;
              border: 0px solid #504f57;
              border-radius: 51px;
              background-color: #504f57;
              color: white;
              letter-spacing: 2px;
              font-weight: bold;
              justify-content: center;
              box-sizing: border-box;
              
              &:hover{
                background-color: #d0c1d0;
              }
              &:active{
                background-color: #d8a3d2;
              }
            }
          }
        }
      }
    }
  }
}

.search-page, .ranking-page, .detail-page, .magazine-page{
  .all{
    display: flex;
    flex:1;
    height: initial;
    flex-direction: column;
  }
  .where-form2{
    display: flex;
    flex:1;
    justify-content: center;

    .form{
      display: flex;
      flex:1;
      justify-content: center;

      .search-word{
        width: 400px;
        position: relative;
        margin-right: 30px;

        #search-word2{
          position: absolute;
          font-size: 14px;
          padding-left: 20px;
          height: 49px;
          border: 2px solid #a39aa3;
          border-radius: 51px;
          width: 400px;
          box-sizing: border-box;
        }
        #search2{
          position: absolute;
          top: 15px;
          right: 15px;
          max-height: 20px;
        }
      }
    }
  }
  .main{
    width: 1100px;
    margin: 0 auto;

    .search-center{
      display: flex;
      flex-direction: column;

      .main-top{
        display: flex;
        flex: 1;
        padding:50px 0px;

        .search-time{
          display: flex;
          flex: 1;
          justify-content: flex-end;
          padding-right: 4%;
          height: 30px;
        
          a{
            text-decoration: none;
            color: gray;
            margin-right: 25px;
          } 
          a:hover{
            text-decoration: none;
            color: black;
          }
          a:active{
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
          a:visited{
            text-decoration: none;
            color: black;
            font-weight: bold;
            border-bottom: 2px solid black;
            padding-bottom: 2px;
          }

        }
      }
      .search-list{
        display: flex;
        flex: 8;
        flex-direction: column;

        .hideme{
          opacity: 0;
        }
        .list-line{
          display: flex;
          margin-bottom: 20px;
          flex-wrap: wrap;

          .store-list{
            flex:1;
            margin-bottom: 30px;

            .img-container{
              width: 232px;
              height: 232px;
              overflow: hidden;
              border-radius: 10px;
              
              >img{
                width:100%; 
                height:100%;
                padding-bottom: 10px;
                cursor: pointer;
                transition:all 0.5s;

                &:hover{
                  transform: scale(1.2);
                }
              }
            }
            .store-name{
              font-weight:bold;
              font-size: 15px;
            }
            .views{
              color:#d8a3d2; 
              display:flex; 
              flex:1; 
              justify-content:center;
            }
            .keyword{
              margin-right: 10px;
              font-size: 13px;
              min-width: 59px;
              min-height: 22px;
              border: 1px solid #d8a3d2;
              border-radius: 5px;
              padding: 2px 5px;
              text-align: center;
              align-items: center;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
.detail-page{

  .main-top{
    display:flex;
    margin: 50px 2px;

    .photo{
      width: 232px;
      height: 232px;
      overflow: hidden;
      border-radius: 50%;
    
      >img{
        width:100%; 
        height:100%;
        cursor: pointer;
        transition:all 0.5s;

        &:hover{
          transform: scale(1.2);
        }
      }
    }
    .info{
      display: flex;
      flex-direction: column;
      flex:1;
      justify-content: center;
      padding:0px 50px;

      .keyword{
        margin-right: 10px;
        font-size: 13px;
        min-width: 59px;
        min-height: 20px;
        border: 1px solid #d8a3d2;
        border-radius: 5px;
        padding: 1px 5px;
        text-align: center;
        align-items: center;
        box-sizing: border-box;
      }
      .name{
        font-size: 36px;
        padding-bottom: 20px
      }
      .number{
        font-size:15px;
        padding-bottom: 3px;
      }
      .adress{
        font-size:15px;
        padding-bottom: 20px;
      }
      .hashtag{
        display: flex;
        
        #hashtag{
          color: #d0c1d0;
          padding-right:10px;
        }
      }
    }
    .etc{
      width: 200px;
      position: relative;

      .month{
        display: flex;
        position: absolute;
        right: 35px;
        
        .share{
          padding-right: 5px;
          color: #d0c1d0;
          text-align: center;
          img{
            padding-left:30px;
          }
        }
        .usage{
          text-align: center;
          color: #d0c1d0;

          img{
            padding-left: 5px;
          }
        }
      }
      .map{
        position: absolute;
        right: 35px;
        bottom: 0px;
      }
    }
  }
  .detail-picture{
    display:flex;
    flex-wrap:wrap;

    .store-list{
      flex:1;
      margin-bottom: 40px;

      .img-container{
        width: 232px;
        height: 232px;
        overflow: hidden;
        border-radius: 5px;
        
        >img{
          width:100%; 
          height:100%;
          cursor: pointer;
          transition:all 0.5s;

          &:hover{
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
.ranking-page{

  .all{

    .head{
      display: flex;
      .rank a{
        color: #d8a3d2 !important;
      }
    }
    .main{
      width: 1000px;
      flex: 5;
      flex-direction: column;

      .title{
        display: flex;
        text-align: center;
        justify-content: center;
        
        .nowdays, .thema, .thismonth{
          font-size: 36px;
          color: gray; 
          padding: 40px 80px;

        }
      }
      .insta{
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .insta-tag{
          padding-right:10px;
        }
      }
      .rank-area{
        padding-top: 10px;
        display: flex;
        width: 800px;
        flex: 1;
        margin:0 auto;
        box-sizing: border-box;
        padding-bottom: 30px;

        .ranking5{
          border-right: 1px solid #9cc7dd;
        }
        .ranking5, .ranking10{
          align-items: center;
          display: flex;
          flex:1;
          flex-direction: column;

          .ranking-store{
            display: flex;
            align-items: center;
            padding-bottom: 30px;

            .rank-num{
              padding-right:20px; 
              font-size:36px;
              width: 43px;
              text-align: center;
            }
            .store-img img{
              border-radius: 5px;
              margin:0 auto;
            }
            .name{
              padding-bottom: 5px;
            }
            .keyword{
              margin-right: 10px;
              font-size: 13px;
              min-width: 59px;
              min-height: 20px;
              border: 1px solid #d8a3d2;
              border-radius: 5px;
              padding: 1px 5px;
              text-align: center;
              align-items: center;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

.magazine-page{
  .head{
    padding-bottom: 50px;

    .news a{
      color: #d8a3d2 !important;
    }
  }
  .main{
    .news-detail{
      display: none;
      padding-bottom: 50px;

      .detail-date{
        font-size: 18px;
        color: #b9bbc4;
        padding-bottom: 10px;
      }
      .detail-title{
        font-size: 36px;
        padding-bottom: 30px;
      }
      .main-photo{
        width: 100%;
        height: fit-content;
        overflow: hidden;
        padding-bottom: 15px;
        
        >img{
          width: inherit;
          height: inherit;
          border-radius: 10px;
        }
      }
      .detail-text{
        line-height: 25px;
        padding-bottom: 15px;
      }
      .sub-photo{
        width: 100%;
        height: fit-content;
        overflow: hidden;

        >img{
          width: inherit;
          height: inherit;
          border-radius: 10px;
        }
      }

    }
    .news-list{
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
    
      .list-item{
        display: flex;
        padding-bottom: 50px;

        .item-picture img{
          border-radius: 10px;
        }
        .item-info{
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 80px;

          .info-date{
            font-size: 18px;
            color: #b9bbc4;
            padding-bottom: 20px;
          }
          .thema-title{
            font-size: 36px;
            padding-bottom: 20px;
          }
          .text{
            line-height: 25px;
          }
          .more{
            position: absolute;
            bottom: 20px;
            right: -15px;

            >img{              
              color:#d8a3d2 !important;
            }
          }
        }
      }
    }
  }
}
