@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat); 
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

body{
  margin: 0;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  overflow-x: overlay;
  overflow-y: overlay;
}

.default-page{
  input:focus{
    outline:none;
  }
  button:focus{
    outline:none; 
  }
  textarea:focus{
    outline:none;
  }
  .flex{
    display: flex;
  }
  .child-flex-1{
    flex:1;
  }
  .child-flex-2{
    flex:2;
  }
  .all{
    display: flex;
    flex:1;
    height: inherit;
    flex-direction: column;

    .modal-container{
      display: none; 
      position: fixed;
      z-index: 9;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.8);
    }
    .move-top{
      position: fixed;
      bottom: 100px;
      right: 100px;
      text-align: center;
      z-index: 999;    
      cursor: default;
      letter-spacing: 3px;
      
      #hover{
        display: none;
      }
      #click{
        display: none;
      }
    }
    .move-top:hover{
      position: fixed;
      bottom: 100px;
      right: 100px;
      text-align: center;
      z-index: 999;    
      cursor: default;

      #top{
        display: none;
      }
      #hover{
        display: inline-block;
      }
      #click{
        display: none;
      }
    }
    .move-top:active{
      position: fixed;
      bottom: 100px;
      right: 200px;
      text-align: center;
      z-index: 999;    
      cursor: default;

      #top{
        display: none;
      }
      #hover{
        display: none;
      }
      #click{
        display: inline-block;
      }
    }
    .head{
      display: flex;
      width: 100%;
      flex-direction: column;

      .top{
        display: flex;
        width: 1200px;
        margin: 20px auto 16px auto;
        
        .logo{
          display: flex;
          width: 190px;

          a{
            cursor: default;
        
            img{
              margin-right: 15px;
            }
          }
        }
        .logo-copy{
          display: none;
        }

        .login{
          display: flex;
          justify-content: center;
          font-size: 14px;
          width: 40px;
          
          a{
            text-decoration: none;
            color: black;
            cursor: default;
          }
        }
      }
      .menu{
        width: 100%;
        font-size: 14px;
        max-height: 45px;
        background: linear-gradient( to bottom, #F1EDF0, #FAF6F9 );
      
        >div{
          width: 1200px;
          margin: 0 auto;
          display: flex;
          align-items: center;

          .rank{
            padding-right: 20px;
          
            a{
              text-decoration: none;
              color: black;
              cursor: default;
            }
          }
        }
        .news{
          padding-left: 10px;
          padding-right: 20px;
      
          a{
            text-decoration: none;
            color: black;
            cursor: default;
          }
        }
        .hot-search{
          display: flex;
          flex: 5;
          justify-content: flex-end;
          
          .hot-word{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex:1;
            padding-right: 20px;
          }
          
          .hot-rank{
            display: flex;
            height: 44px;
            margin-top: 0px;
            z-index: 2;
          
            .hot{
              flex-direction: column;
              display: flex;
              border-radius: 5px;
              margin: 0 auto;
              padding: 0px 20px;
          
              .hot-list-h{
                display: flex;
                flex:7;
                padding-bottom:12px; 
                padding-top: 12px;
                a{
                  padding: 0px 40px 0px 15px;
                  text-decoration: none;
                  color: black;
                  cursor: default;
                }
                &:hover{
                  font-weight: bold;
                }
                .num{
                  display: flex;
                  flex: 0 1 auto;
                  color: #d8a3d2;
                  padding-top:2px;
                }
              }
              .hot-list{
                display: flex;
                flex:7;
                padding-bottom: 15px;
                a{
                  padding: 0px 40px 0px 15px;
                  text-decoration: none;
                  color: black;
                  cursor: default;
                }
                &:hover{
                  font-weight: bold;
                }
                .num{
                  display: flex;
                  flex: 0 1 auto;
                  color: #d8a3d2;
                  padding-top:2px;
                }
              }
            }
          }
          .rank_btn{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-left: 10px;
          
          }  
        }
      }  
    }
  }
  .footer{
    display: flex;
    max-height: 64px;
    width: 100%;
    background-color: #F1EDF0;

    .info{
      display: flex;
      width: 1200px;
      font-size: 14px;
      margin: 25px auto;

      .copyright{
        display: flex;
        align-items: center;
        flex-shrink: 0;
        color: #a39aa3;
      }
      .etc{
        padding-left: 60px;
        display: flex;
        flex:1;
        align-items: center;
        justify-content: flex-end;

        a{
          text-decoration: none;
          margin-left: 75px;
          color: #a39aa3;
          cursor: default;
        }
        .area-ok{
          color: #8D818C;
          cursor: default;
           
          #tooltip{
            position: relative;
            display: inline-block;
          }
          .tooltip-content{
            position: absolute;
            bottom: 0;
            margin-bottom: 75px;
            width: 350px;
            height: auto;
            background-color: #faf6f9;
            border: 1px solid #ebdaeb;
            border-radius: 10px;
            padding: 30px;
            box-shadow:10px 10px 30px 2px rgba(80,79,87, 0.5);
            z-index: 1;
            line-height: 30px;
            visibility: hidden;
            ::after{
              position: absolute;
              content: '';
              left: 0;
              bottom: -30px;
              width: 0;
              height: 0;
              border: 15px solid transparent;
              border-top-color: #faf6f9;
              margin-left: 21px;
            }
          }
        }
      }
    }
  }
}


.main-page{
  .head{
    margin-bottom: 20px;

    .where-form2{
      display:none;
    }
    .logo-copy{
      display: flex !important;
      flex:4;
      align-items: center;
      margin-top: 35px;
      font-size: 14px;
      padding-left: 30px;
      border-left: 1px solid #d8a3d2;
      letter-spacing: 1px;
      word-spacing: 5px;
    }
  }
  .main{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    .item img{
      max-height: 610px;
      min-height: 610px;
      border-radius: 10px;
    }
    .search-form{
      display: flex;
      flex:1;
      width: 1200px;
      margin: 25px auto;

      .where-top{
        display:flex;
        align-items: center;
        width: 1200px;
        margin: 0 auto;

        .where{
          display: flex;
          width: 180px;
          flex-direction: column;
          font-size: 30px;
          margin-right: 50px;
        }
        .where-form{
          display: flex;
          flex:5;

          .form{
            display: flex;
            flex:1;
            justify-content: flex-end;
            padding-right: 20px;

            .search-word{
              position: relative;
              width: 600px;
              margin-right:30px;

              #search-word{
                position: absolute;
                padding-left: 20px;
                font-size: 14px;
                height: 49px;
                border: 2px solid #a39aa3;
                border-radius: 51px;
                width: 600px;
                box-sizing: border-box;
              }
              #search{
                position: absolute;
                top: 15px;
                right: 25px;
                max-height: 20px;
              }
            }
            #search-btn{
              display: flex;
              height: 50px;
              width: 200px;
              font-size: 18px;
              border: 0px solid #504f57;
              border-radius: 51px;
              background-color: #504f57;
              color: white;
              letter-spacing: 2px;
              font-weight: bold;
              justify-content: center;
              box-sizing: border-box;
              
              &:hover{
                background-color: #d0c1d0;
              }
              &:active{
                background-color: #d8a3d2;
              }
            }
          }
        }
      }
    }
  }
}
.search-page, .ranking-theme-page, .ranking-nowdays-page, .ranking-thismonth-page, .detail-page, .magazine-page, .asking-page, .login-page, .find-page, .sign-page, .edit-pw-page, .mypage-page, .myinfo-page, .userule-page{
  .all{
    display: flex;
    flex:1;
    height: initial;
    flex-direction: column;
  }
  .where-form2{
    display: flex;
    flex:1;
    justify-content: center;

    .form{
      display: flex;
      flex:1;
      justify-content: center;

      .search-word{
        width: 400px;
        position: relative;
        margin-right: 150px;

        #search-word2{
          position: absolute;
          font-size: 14px;
          padding-left: 20px;
          height: 49px;
          border: 2px solid #a39aa3;
          border-radius: 51px;
          width: 400px;
          box-sizing: border-box;
        }
        #search2{
          position: absolute;
          top: 15px;
          right: 15px;
          max-height: 20px;
        }
      }
    }
  }
  .main{
    width: 1200px;
    margin: 0 auto;
    

    .search-center{
      width:  1000px;
      margin:0 auto;
      display: flex;
      flex-direction: column;

      .main-top{
        display: flex;
        flex: 1;
        padding:50px 0px;

        .search-time{
          display: flex;
          flex: 1;
          justify-content: flex-end;
          padding-right: 4%;
          height: 34px;
        
          a{
            text-decoration: none;
            color: gray;
            margin-right: 25px;
          } 
          a:hover{
            text-decoration: none;
            color: black;
          }
        }
      }
      .search-list{
        display: flex;
        flex: 8;
        flex-direction: column;

        .list-line{
          display: flex;
          margin-bottom: 20px;
          flex-wrap: wrap;
          animation: fadeInUp 3s;

          .store-list{
            flex:1;
            margin-bottom: 30px;

            .img-container{
              width: 232px;
              height: 232px;
              overflow: hidden;
              border-radius: 10px;
              
              >img{
                width:100%; 
                height:100%;
                padding-bottom: 10px;
                cursor: default;
                transition:all 0.5s;

                &:hover{
                  transform: scale(1.2);
                }
              }
            }
            .store-name{
              font-weight:bold;
              font-size: 17px;
              flex:1;
            }
            .views{
              color:#d8a3d2; 
              display:flex;  
              justify-content:center;
              padding-right:5px;
            }
            .keyword{
              margin-right: 10px;
              font-size: 13px;
              min-width: 59px;
              min-height: 22px;
              border: 1px solid #d8a3d2;
              border-radius: 5px;
              padding: 2px 5px;
              text-align: center;
              align-items: center;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
.detail-page{
  .detail-main{
    font-family: "Noto Sans KR", sans-serif !important;
    width: 1100px;
    margin: 0 auto;

    .main-top{
      display:flex;
      margin: 50px 2px;
      font-family: "Noto Sans KR", sans-serif !important;

      .photo{
        width: 232px;
        height: 232px;
        overflow: hidden;
        border-radius: 50%;
      
        >img{
          width:100%; 
          height:100%;
          cursor: default;
          transition:all 0.5s;

          &:hover{
            transform: scale(1.2);
          }
        }
      }
      .info{
        display: flex;
        flex-direction: column;
        flex:1;
        justify-content: center;
        padding:0px 50px;

        .keyword{
          margin-right: 10px;
          font-size: 13px;
          min-width: 59px;
          min-height: 20px;
          border: 1px solid #d8a3d2;
          border-radius: 5px;
          padding: 1px 5px;
          text-align: center;
          align-items: center;
          box-sizing: border-box;
        }
        .name{
          font-size: 36px;
          padding-bottom: 20px
        }
        .number{
          font-size:15px;
          padding-bottom: 3px;
        }
        .adress{
          font-size:15px;
          padding-bottom: 20px;
        }
        .hashtag{
          display: flex;
          
          #hashtag{
            color: #d0c1d0;
            padding-right:10px;
          }
        }
      }
      .etc{
        width: 200px;
        position: relative;

        .month{
          display: flex;
          position: absolute;
          right: 35px;
          
          .share{
            padding-right: 5px;
            color: #d0c1d0;
            text-align: center;
            img{
              padding-left:30px;
            }
          }
          .usage{
            text-align: center;
            color: #d0c1d0;

            img{
              padding-left: 5px;
            }
          }
        }
        .map{
          position: absolute;
          right: 35px;
          bottom: 0px;
        }
      }
    }
    .detail-map{
      width:1050px;
      padding: 10px;
      height: 0; 
      border: 0;
      transition: all 0.5s;
    }
    .detail-picture{
      animation: fadeInUp 2s;
      display:flex;
      flex-wrap:wrap;

      .store-list{
        flex:1;
        margin-bottom: 40px;

        .img-container{
          width: 232px;
          height: 232px;
          overflow: hidden;
          border-radius: 5px;
          
          >img{
            width:100%; 
            height:100%;
            cursor: default;
            transition:all 0.5s;

            &:hover{
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
.ranking-thismonth-page{
  .nowdays, .theme{
    font-size: 36px;
    color: gray; 
    padding: 30px 80px;
    cursor: default;
  }
  .thismonth{
    font-size: 36px;
    color:black;
    padding: 30px 80px;
    cursor: default;
    
    .margin{
      border-bottom:4px solid black;
      width:50px;
      margin: 0 auto;
      padding: 8px 0; 
    }
  }
}
.ranking-nowdays-page{
  .theme, .thismonth{
    font-size: 36px;
    color: gray; 
    padding: 30px 80px;
    cursor: default;
  }
  .nowdays{
    font-size: 36px;
    color:black;
    padding: 30px 80px;
    cursor: default;

    .margin{
      border-bottom:4px solid black;
      width:50px;
      margin: 0 auto;
      padding: 8px 0; 
    }
  }
}
.ranking-theme-page{
  .nowdays, .thismonth{
    font-size: 36px;
    color: gray; 
    padding: 30px 80px;
    cursor: default;
  }
  .theme{
    font-size: 36px;
    color:black;
    padding: 30px 80px;
    cursor: default;

    .margin{
      border-bottom:4px solid black;
      width:50px;
      margin: 0 auto;
      padding: 8px 0; 
    }
  }
}
.ranking-theme-page, .ranking-thismonth-page, .ranking-nowdays-page{

  .all{

    .head{
      display: flex;
      .rank a{
        color: #d8a3d2 !important;
      }
    }
    .main{
      flex: 5;
      flex-direction: column;

      .title{
        display: flex;
        text-align: center;
        justify-content: center;
        
        
      }
      .insta{
        display: flex;
        justify-content: center;
        margin-top: 6px;
        max-height: 24px;

        .insta-container{
          display: flex;
          padding-left: 10px;
          
          .insta-btn{
            padding-top:10px; 
            padding-left:3px;
          }
          .insta-tag{
            display: flex;
            z-index: 2;

            .insta-list{
              display: flex;
              flex-direction: column;
              border-radius: 5px;
              padding: 0 2px 0 0;
              background-color: white;
            }
            .insta-list a{
              padding-right:10px;
              padding-left: 10px;
              color: #D8A3D2;
              font-size: 14px;
              font-weight: bold;
              text-decoration: none;
              cursor: default;
            }
          }
        }
      }
      .rank-area{
        margin: 0 auto;
        display: flex;
        width: 800px;
        flex: 1;
        box-sizing: border-box;
        padding: 20px 0px;
        animation: fadeInUp 1s;

        .ranking5{
          border-right: 1px solid #9cc7dd;
        }
        .ranking5, .ranking10{
          align-items: center;
          display: flex;
          flex:1;
          flex-direction: column;

          .ranking-store{
            display: flex;
            align-items: center;
            padding: 10px 0px;

            .rank-num{
              padding-right:20px; 
              font-size:36px;
              width: 43px;
              text-align: center;
            }
            .store-img img{
              width: 77px;
              height: 77px;
              border-radius: 5px;
              margin:0 auto;
            }
            .name{
              padding-bottom: 5px;
              font-size: 18px;
              cursor: default;
            }
            .keyword{
              margin-right: 10px;
              font-size: 13px;
              min-width: 59px;
              min-height: 20px;
              border: 1px solid #d8a3d2;
              border-radius: 5px;
              padding: 1px 5px;
              text-align: center;
              align-items: center;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

.magazine-page{
  .head{
    padding-bottom: 50px;

    .news a{
      color: #d8a3d2 !important;
    }
  }
  .main{
    width: 1200px;

    .news-detail{
      display: none;
      padding-bottom: 50px;
      margin: 0px 100px;
      width: 1000px;

      .detail-date{
        font-size: 18px;
        color: #b9bbc4;
        padding-bottom: 10px;
      }
      .detail-title{
        font-size: 36px;
        padding-bottom: 30px;
      }
      .main-photo{
        width: 100%;
        height: fit-content;
        overflow: hidden;
        padding-bottom: 15px;
        
        >img{
          width: inherit;
          height: inherit;
          border-radius: 10px;
        }
      }
      .detail-text{
        line-height: 25px;
        padding-bottom: 15px;
      }
      .sub-photo{
        width: 100%;
        height: fit-content;
        overflow: hidden;

        >img{
          width: inherit;
          height: inherit;
          border-radius: 10px;
        }
      }

    }
    .news-list{
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      margin: 0px 100px;
      width: 1000px;
    
      .list-item{
        animation: fadeInUp 3s;
        display: flex;
        padding-bottom: 50px;

        .item-picture img{
          border-radius: 10px;
        }
        .item-info{
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 80px;

          .info-date{
            font-size: 18px;
            color: #b9bbc4;
            padding-bottom: 20px;
            letter-spacing: 3px;
          }
          .theme-title{
            font-size: 36px;
            padding-bottom: 20px;
          }
          .text{
            line-height: 25px;
          }
          .more{
            position: absolute;
            bottom: 20px;
            right: -15px;
            display: flex;
            cursor: default;
            
            #text{
              font-size:16px;
              letter-spacing: 4px;
              font-weight: bold;
            }
            >img{              
              color:#d8a3d2 !important;
              padding-top: 3px;
              padding-left: 10px; 
              width: 9px;
              height: 15px;
            }
          }
          .more:hover #text{
            color: #d0c1d0;
          }
          .more:active #text{
            color: #d8a3d2;
          }
        }
      }
    }
  }
}
.asking-page{
  .main{
    font-family: "Noto Sans KR", sans-serif !important;
    width: 1200px;
    margin: 0 auto;
    .ask-main{
      width:800px; 
      display: flex; 
      margin: 95px auto;
      
      .send-help{
        display: flex;
        flex: 1;
        flex-direction: column;

        .help-title{
          font-size:36px;
          padding-bottom: 30px;
        }
        .help{
          padding-bottom: 220px;
        }
        .admin-adress{
          color: gray;
          padding-bottom: 30px;
          font-weight: 500;
        }
        .admin-phone, .admin-e-mail{
          color: gray;
          font-weight: 500;
        }
      }
      .support{
        display: flex;

        #title{
          width: 400px;
          height: 49px;
          font-size: 14px;
          border-radius: 51px;
          padding-left: 30px;
          padding-right: 30px;
          margin-bottom: 20px;
          border: 1px solid #d0c0d1;
          background-color: #F9F5F8;
          box-sizing: border-box;
          color: #504f57;
        }
        #e_mail{
          width: 400px;
          height: 49px;
          font-size: 14px;
          border-radius: 51px;
          padding-left: 30px;
          padding-right: 30px;
          margin-bottom: 20px;
          border: 1px solid #d0c0d1;
          background-color: #F9F5F8;
          box-sizing: border-box;
          color: #504f57;
        }
        #contents{
          width: 400px;
          height: 350px;
          font-size: 14px;
          border-radius: 30.0px;
          padding: 30px;
          margin-bottom: 40px;
          border: 1px solid #d0c0d1;
          background-color: #F9F5F8;
          box-sizing: border-box;
          color: #504f57;
          resize: none;
          caret-color: #ADCFE2;
        }
        #send{
          width: 200px;
          height: 49px;
          color: white;
          background-color: #504f57;
          font-size: 18px;
          border: 0px solid #504f57;
          border-radius: 51px;
          font-weight: bold;
          letter-spacing: 2px;
          box-sizing: border-box;
          margin-left: 200px;
          
          &:hover{
            background-color: #d0c1d0;
          }
          &:active{
            background-color: #d8a3d2;
          }
        }
      }
      #notice{
        display:none;
        border: 0px solid white;
        background-color: white;
        width: 500px;
        height: 220px;
        border-radius: 10px;
        text-align: center;
        margin: 350px auto;

        #home{
          width: 160px;
          height: 49px;
          color: white;
          background-color: #504f57;
          font-size: 18px;
          border: 0px solid #504f57;
          border-radius: 50px;
          font-weight: bold;
          letter-spacing: 2px;
          box-sizing: border-box;

          &:hover{
            background-color: #d0c1d0;
          }
          &:active{
            background-color: #d8a3d2;
          }
        }
      }
    }
  } 
}
.login-page{
  .main{
    width: 1200px;
    margin: 0px auto;
    text-align: center;

    .login-center{
      margin: 120px auto 70px auto;
      width: 800px;

      .login-form{
      
        .login-title{
          font-size: 36px;
          font-weight: bold;
          padding-bottom: 50px;
        }
        .login-input{
          display:flex;
          flex-direction:column;
          align-items: center;

          #e-mail{
            width: 400px;
            height: 49px;
            font-size: 14px;
            border-radius: 51px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 15px;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
          #password{
            width: 400px;
            height: 49px;
            font-size: 14px;
            border-radius: 51px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 40px;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
        }
        .login-help{
          display: flex;
          justify-content: center;
          margin-bottom: 30px;
          font-size:14px;

          a{
            text-decoration: none;
            color: black;
            cursor: default;
          }
        }
        .login-btn{
          #login-btn{
            width: 180px;
            height: 49px;
            color: white;
            background-color: #504f57;
            font-size: 18px;
            border: 0px solid #504f57;
            border-radius: 51px;
            font-weight: bold;
            letter-spacing: 2px;
            box-sizing: border-box;

            &:hover{
              background-color: #d0c1d0;
            }
            &:active{
              background-color: #d8a3d2;
            }
          }
        }
        .sns-login{
          margin-top: 50px;
          font-size:14px;

          .sns-login-btn{
            display: flex;
            justify-content: center;

            .sns-btn{
              margin: 15px;
              
              .btn-box{
                width: 70px;
                height: 70px;
                border: 2px solid #EEE1EE;
                border-radius: 50%;
                margin: 6px auto;
                padding: 16px;
                box-sizing: border-box;
              }
              #naverIdLogin{

              }
              .text-box{
                font-size: 13px;
                color: gray;
              }
            }
            .sns-btn:hover > .btn-box:hover{
              border: 2px solid #E9CBE5; 
            }
            .sns-btn:hover > .text-box:not(:hover){
              color: black;
            }
          }
        }
      }
    }
  }
}
.find-page{

  .find-center{
    display: flex;
    flex-direction: column;
    margin: 120px auto 70px auto;
    width: 800px;
    text-align: center;

    .find-form{
      margin-bottom: 224px;

      #post-mail{
        width: 500px;
        height: 49px;
        font-size: 14px;
        border-radius: 51px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 70px;
        border: 1px solid #d0c0d1;
        background-color: #F9F5F8;
        box-sizing: border-box;
        color: #504f57;
      }
      #mail-send{
        width: 180px;
        height: 49px;
        color: white;
        background-color: #504f57;
        font-size: 18px;
        border: 0px solid #504f57;
        border-radius: 51px;
        font-weight: bold;
        letter-spacing: 2px;
        box-sizing: border-box;

        &:hover{
          background-color: #d0c1d0;
        }
        &:active{
          background-color: #d8a3d2;
        }
      }
    }
  }
  .notice{
    display:none;
    text-align: center;
    border: 0px solid white;
    background-color: white;
    width: 600px;
    height: 240px;
    border-radius: 10px;
    text-align: center;
    margin: 380px auto;

    #home{
      width: 200px;
      height: 45px;
      color: white;
      background-color: #504f57;
      font-size: 18px;
      border: 0px solid #504f57;
      border-radius: 50px;
      font-weight: bold;
      letter-spacing: 2px;
      box-sizing: border-box;

      &:hover{
        background-color: #d0c1d0;
      }
      &:active{
        background-color: #d8a3d2;
      }
    }
  }
}
.sign-page{
  .main{
    display: flex;
    .sign-center{
      display: flex;
      flex-direction: column;
      margin: 30px auto 140px auto;
      width: 800px;
      text-align: center;

      .page-num1{
        margin-top: 130px;

        .num{
          font-size: 40px;
          margin-bottom: 30px;
          color: #CFBFCF;
          font-weight: bold;
          letter-spacing: 10px;
        }
        .sign-form{

          #sign-mail{
            width: 400px;
            height: 49px;
            font-size: 14px;
            border-radius: 51px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 15px;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
          #sign-pw{
            width: 400px;
            height: 49px;
            font-size: 14px;
            border-radius: 51px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 62px;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
          #next-btn1{  
            width: 200px;
            height: 46px;
            color: white;
            background-color: #504f57;
            font-size: 18px;
            border: 0px solid #504f57;
            border-radius: 50px;
            font-weight: bold;
            letter-spacing: 2px;
            box-sizing: border-box;
      
            &:hover{
              background-color: #d0c1d0;
            }
            &:active{
              background-color: #d8a3d2;
            }
          }
        }
      }
      .page-num2{
        margin-top: 130px;  
        display: none;

        .num{
          font-size: 40px;
          margin-bottom: 30px;
          color: #CFBFCF;
          font-weight: bold;
          letter-spacing: 10px;
        }
        .sign-form{

          #username{
            width: 400px;
            height: 49px;
            font-size: 14px;
            border-radius: 51px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 50px;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
          .accept{
            display:flex; 
            justify-content:center; 
            margin-bottom: 50px;

            .checkbox3{
              padding-top: 1px;
            }
            #accept{
              border-bottom: 2px solid black;
              padding-bottom: 4px;
              cursor: default;
              font-size: 14px;
            }
            #agree3{
              padding:0px 10px;
              color: gray;
              font-size: 14px;
              cursor: default;
            }
          }
          #next-btn2{  
            width: 200px;
            height: 46px;
            color: white;
            background-color: #504f57;
            font-size: 18px;
            border: 0px solid #504f57;
            border-radius: 50px;
            font-weight: bold;
            letter-spacing: 2px;
            box-sizing: border-box;
      
            &:hover{
              background-color: #d0c1d0;
            }
            &:active{
              background-color: #d8a3d2;
            }
          }
        }
      }
      .page-num3{
        margin-top: 130px;
        display: none;

        .num{
          font-size: 40px;
          margin-bottom: 30px;
          color: #CFBFCF;
          font-weight: bold;
          letter-spacing: 10px;
        }
        .sign-form{

          #get-mail{
            width: 400px;
            height: 49px;
            font-size: 14px;
            border-radius: 51px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 116px;
            border: 1px solid #d0c0d1;
            background-color: #F9F5F8;
            box-sizing: border-box;
            color: #504f57;
          }
          #send-btn{  
            width: 200px;
            height: 46px;
            color: white;
            background-color: #504f57;
            font-size: 18px;
            border: 0px solid #504f57;
            border-radius: 50px;
            font-weight: bold;
            letter-spacing: 2px;
            box-sizing: border-box;
      
            &:hover{
              background-color: #d0c1d0;
            }
            &:active{
              background-color: #d8a3d2;
            }
          }
        }
      }
    }
    .accept-contents{
      display: none;
      width:  660px;
      height: 600px;
      border: 0px solid white !important;
      background-color: white;
      border-radius: 10px;
      text-align: center;
      margin: 170px auto;
      padding: 30px 50px;
      .contents{
      
        #view-accept{
          font-size:20px; 
          flex:1; 
          text-align:left;
        }
        .box{
          width: 660px;
          height: 200px;
          border: 2px solid #ebdaeb;
          border-radius: 10px;
          font-size: 15px;
          box-sizing: border-box;
          margin: 20px 0px;

          .contents-box{
            width: 600px;
            height: 160px;
            border: 0px solid #ebdaeb;
            margin: 20px auto;
            font-size: 14px;
            overflow-x:hidden;
            box-sizing: border-box;
            padding-right: 50px;
          }
        }
        .checkbox1, .checkbox2{
          display: flex;
          flex:1;
          justify-content: flex-end;
          align-items: center;
          
          #agree1, #agree2{
            float:left; 
            padding-right: 10px;
            color: gray;
          }
          #checkbox1, #checkbox2{
            float:left; 
            height:22px;
            padding-top: 5px;
          }
        }
      }
      #confirm-btn{
        width: 200px;
        height: 46px;
        color: white;
        background-color: #504f57;
        font-size: 18px;
        border: 0px solid #504f57;
        border-radius: 50px;
        font-weight: bold;
        letter-spacing: 2px;
        box-sizing: border-box;
        margin-top: 10px;
  
        &:hover{
          background-color: #d0c1d0;
        }
        &:active{
          background-color: #d8a3d2;
        }   
      }
    }
    .signup-end{
      margin-top:220px;
      display: none;
      .end{
        font-size:32px;
        margin-bottom: 40px;
      }
      .home-btn{
        margin-bottom: 130px;

        #home-btn{
          width: 200px;
          height: 46px;
          color: white;
          background-color: #504f57;
          font-size: 18px;
          border: 0px solid #504f57;
          border-radius: 50px;
          font-weight: bold;
          letter-spacing: 2px;
          box-sizing: border-box;
    
          &:hover{
            background-color: #d0c1d0;
          }
          &:active{
            background-color: #d8a3d2;
          }
        }
      }
    }
  }
}
.edit-pw-page{
  .edit-center{
    display: flex;
    flex-direction: column;
    margin: 120px auto 175px auto;
    width: 800px;
    text-align: center;
    width: 600px;
    .edit-form{

      #new_pw{
        width: 400px;
        height: 49px;
        font-size: 14px;
        border-radius: 51px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 15px;
        border: 1px solid #d0c0d1;
        background-color: #F9F5F8;
        box-sizing: border-box;
        color: #504f57;
      }
      #new_pw2{
        width: 400px;
        height: 49px;
        font-size: 14px;
        border-radius: 51px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 70px;
        border: 1px solid #d0c0d1;
        background-color: #F9F5F8;
        box-sizing: border-box;
        color: #504f57;
      }
      #new-btn{
        width: 200px;
        height: 49px;
        color: white;
        background-color: #504f57;
        font-size: 18px;
        border: 0px solid #504f57;
        border-radius: 51px;
        font-weight: bold;
        letter-spacing: 2px;
        box-sizing: border-box;
        
        &:hover{
          background-color: #d0c1d0;
        }
        &:active{
          background-color: #d8a3d2;
        }
      }
    }
    .notice{
      display:none;
      text-align: center;
      border: 0px solid white;
      background-color: white;
      width: 600px;
      height: 260px;
      border-radius: 10px;
      text-align: center;
      margin: 400px auto;

      #home{
        width: 200px;
        height: 45px;
        color: white;
        background-color: #504f57;
        font-size: 18px;
        border: 0px solid #504f57;
        border-radius: 50px;
        font-weight: bold;
        letter-spacing: 2px;
        box-sizing: border-box;
  
        &:hover{
          background-color: #d0c1d0;
        }
        &:active{
          background-color: #d8a3d2;
        }
      }
    }
  }
}
.mypage-page, .myinfo-page, .userule-page{
  .main{
    .mypage{
      width: 1100px;
      margin: 0 auto ;
      
      .mypage-top{
        display: flex;
        margin: 50px auto;

        .my-list{
          display: flex;
          flex: 1;
          justify-content: flex-end;
          
          .favorite, .user-info, .use-rule{
            margin-right: 20px;
            font-size: 14px; 
            color: gray;
            cursor: default;
             
            .margin{
              display: none;
              width: 30px;
              border-bottom: 2px solid black;
              margin: 0px auto;
              padding-bottom: 10px;  
            }
            .favorite-text:hover + .margin{
              display: block;
            }
            .user-info-text:hover + .margin{
              display: block;
            }
            .use-rule-text:hover + .margin{
              display: block;
            }
          }
          .favorite-text:hover, .user-info-text:hover, .use-rule-text:hover{
            color:black;
            font-weight:bold;
          }
        }
      }
    }
    .favorite-list{

      .list-line{
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
        animation: fadeInUp 3s;

        .store-list{
          flex:1;
          margin-bottom: 30px;

          .img-container{
            width: 232px;
            height: 232px;
            overflow: hidden;
            border-radius: 10px;
            
            >img{
              width:100%; 
              height:100%;
              padding-bottom: 10px;
              cursor: default;
              transition:all 0.5s;

              &:hover{
                transform: scale(1.2);
              }
            }
          }
          .store-name{
            font-weight:bold;
            font-size: 18px;
            flex:1;
          }
          .views{
            color:#d8a3d2; 
            display:flex; 
            padding-right: 7px;
            justify-content:center;
          }
          .keyword{
            margin-right: 10px;
            font-size: 13px;
            min-width: 59px;
            min-height: 22px;
            border: 1px solid #d8a3d2;
            border-radius: 5px;
            padding: 2px 5px;
            text-align: center;
            align-items: center;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
.mypage-page{
  .favorite{
    color: black !important;
    font-weight: bold !important;
    .margin{
      display: block !important;
    }
  }
}
.myinfo-page{
  .main{
    display:flex;

    .user-info{
      color: black !important;
      font-weight: bold !important;
      .margin{
        display: block !important;
      }
    }
    .myinfo{
      height: 560px;
      margin: auto;

      .user-mail{
        display: flex;
      }
      .user-id{
        display:flex;
      }
      .logout{
        display: flex;
        flex: 1;
        color: #E5C4E3;
        cursor: default;

        #logout{
          margin-bottom: 50px;
        }
      }
      .edit-btn{
        width:200px;
        margin: 0 auto;

        #edit{
          width: 200px;
          height: 45px;
          color: white;
          background-color: #504f57;
          font-size: 18px;
          border: 0px solid #504f57;
          border-radius: 50px;
          font-weight: bold;
          letter-spacing: 2px;
          box-sizing: border-box;
    
          &:hover{
            background-color: #d0c1d0;
          }
          &:active{
            background-color: #d8a3d2;
          }
        }
      }
    }
    .edit-info{
      display: none;
      height: 560px;
      margin: 0 auto;

      #edit-form{

        #password, #new_pw, #new_pw2, #username{
          width: 400px;
          height: 49px;
          font-size: 14px;
          border-radius: 51px;
          padding-left: 30px;
          padding-right: 30px;
          border: 1px solid #d0c0d1;
          background-color: #F9F5F8;
          box-sizing: border-box;
          color: #504f57;
        }
        .edit-line{
          display: flex;
          margin-bottom: 20px;
          align-items: center;

          .line-title{
            color:gray; 
            font-size: 15px;
            width: 300px;
          }
        }
      }
      #cancel{
        margin-right: 100px;
      }
      #save{
        margin-right: 30px;
      }
      #save, #cancel{
        width: 180px;
        height: 50px;
        color: white;
        background-color: #504f57;
        font-size: 18px;
        border: 0px solid #504f57;
        margin-top: 50px;
        border-radius: 50px;
        font-weight: bold;
        letter-spacing: 2px;
        box-sizing: border-box;
  
        &:hover{
          background-color: #d0c1d0;
        }
        &:active{
          background-color: #d8a3d2;
        }
      }
    }
    .logout-box{
      display: none;
      border: 0px solid white;
      background-color: white;
      width: 460px;
      height: 220px;
      border-radius: 10px;
      text-align: center;
      margin: 430px auto;

      .answer{
        display: flex;
        justify-content: center;

        .yes, .no{
          margin: 50px 85px;
          cursor: default;
        }
      }
    }
  }
}
.userule-page{
  .main{
    .use-rule{
      color: black !important;
      font-weight: bold !important;
      .margin{
        display: block !important;
      }
    }
    .contents-center{
      height: 560px;
      .box{
        width: 660px;
        height: 200px;
        border: 2px solid #ebdaeb;
        border-radius: 10px;
        font-size: 15px;
        box-sizing: border-box;
        margin-bottom: 20px;

        .contents-box{
          width: 600px;
          height: 160px;
          border: 0px solid #0e080e;
          margin: 20px auto;
          font-size: 14px;
          overflow-x:hidden;
          box-sizing: border-box;
          padding-right: 50px;
        }
      }
    }
  }
}