@charset "utf-8";

@font-face{
    font-family: 'NotoSansCJKKR-Bold';
    src: url(/Users/js/Documents/07_Ranking/font/NotoSansCJKkr-Bold.otf) format('opentype');
    font-family: 'NotoSansCJKKR-Demilight';
    src: url(/Users/js/Documents/07_Ranking/font/NotoSansCJKkr-Demilight.otf) format('opentype');
    font-family: 'NotoSansCJKKR-Medium';
    src: url(/Users/js/Documents/07_Ranking/font/NotoSansCJKkr-Medium.otf) format('opentype');
}

body{
  margin: 0;
  font-family: 'NotoSansCJKKR-Bold';
}

.default-page{
  .flex{
    display: flex;
  }
  .child-flex-1{
    flex:1;
  }
  .child-flex-2{
    flex:2;
  }
  .form input:focus{
    outline: none;
  }
  .form button:focus{
    outline: none;
  }  
  .all{
    display: flex;
    flex:1;
    height: 100vh;
    flex-direction: column;

    .head{
      display: flex;
      width: 100%;
      flex-direction: column;

      .top{
        display: flex;
        width: 1200px;
        margin: 20px auto 16px auto;
        
        .logo{
          display: flex;

          img{
            margin-right: 15px;
          }
        }
          .logo-copy{
          display: none;
        }

        .login{
          display: flex;
          justify-content: center;
          font-size: 14px;
          
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
      .menu{
        width: 100%;
        font-size: 14px;
        max-height: 45px;
        background: linear-gradient( to bottom, #F1EDF0, #FAF6F9 );
      
        >div{
          width: 1200px;
          margin: 0 auto;
          display: flex;
          align-items: center;

          .rank{
            padding-right: 20px;
          
            a{
              text-decoration: none;
              color: black;
            }
          }
          .news{
            padding-left: 10px;
            padding-right: 20px;
        
            a{
              text-decoration: none;
              color: black;
            }
          }
          .hot-search{
            display: flex;
            flex: 5;
            justify-content: flex-end;
            
            .hot-word{
              display: flex;
              align-items: center;
              justify-content: flex-end;
              flex:1;
              padding-right: 20px;
            }
            
            .hot-rank{
              display: flex;
              height: 44px;
              margin-top: 0px;
              z-index: 2;
            
              .hot{
                flex-direction: column;
                display: flex;
                border-radius: 5px;
                margin: 0 auto;
                padding: 0px 20px;
            
                .hot-list-h{
                  display: flex;
                  flex:7;
                  padding-bottom:13px; 
                  padding-top: 14px;
                  a{
                    padding: 0px 40px 0px 10px;
                    text-decoration: none;
                    color: black;
                  }
                  &:hover{
                    font-weight: bold;
                  }
                  .num{
                    display: flex;
                    flex: 0 1 auto;
                    color: #d8a3d2;
                    padding-right: 0px;
                  }
                }
                .hot-list{
                  display: flex;
                  flex:7;
                  padding-bottom: 15px;
                  a{
                    padding: 0px 40px 0px 10px;
                    text-decoration: none;
                    color: black;
                  }
                  a:hover{
                    font-weight: bold;
                  }
                  .num{
                    display: flex;
                    flex: 0 1 auto;
                    color: #d8a3d2;
                    padding-right: 0px;
                  }
                }
              }
            }
            .rank_btn{
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding-left: 10px;
            
            }  
          }
        }  
      }
    }
    .footer{
      display: flex;
      max-height: 64px;
      justify-content: flex-end;
      width: 100%;
      background-color: #F1EDF0;

      .info{
        display: flex;
        font-size: 14px;
        width: 1200px;
        margin: 25px auto;

        .copyright{
          display: flex;
          flex:1;
          align-items: center;
          flex-shrink: 0;
          color: #a39aa3;
        }
        .etc{
          display: flex;
          flex:1;
          align-items: center;
          justify-content: flex-end;

          a{
            text-decoration: none;
            padding-left: 60px;
            flex-shrink: 0;
            color: #a39aa3;
          }

          .area-ok{
            flex-shrink: 0;
            color: #a39aa3;
          }
        }
      }
    }
  }
}

.main-page{
  .where-form2{
    display:none;
  }
  .logo-copy{
    display: flex !important;
    flex:4;
    align-items: center;
    margin-top: 35px;
    font-size: 14px;
    padding-left: 30px;
    border-left: 1px solid #d8a3d2;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  .main{
    display: flex;
    flex: 5;
    flex-direction: column;
    width: 100%;

    .picture-slide{
      display: flex;
      flex:5;
      justify-content: center;

      .picture{
        position: absolute;
        display: flex;
        flex:1;

        .slides{
          display: flex;
          flex:1;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
    .right{
      right:340px;
    }
    .left{
      left:340px;
    }
    .arrow{
      cursor: pointer;
      position: absolute;
      top:47%;

      #prev_bt, #next_bt{
        opacity: 0.7;
      }
      #prev_arrow{
        position: absolute;
        top:20%;
        left:28%;
        z-index:2;
      }
      #next_arrow{
        position: absolute;
        top:20%;
        right:28%;
        z-index:2;
      }
    }
    .dot {
      cursor: pointer;
      position: relative;
      top: 90%;
      height: 7px;
      width: 7px;
      border:1px solid white;
      margin: 0 4px;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;

      &:hover{
        background-color: white;
      }
    }
    .active{
      background-color: white;
    }
    .search-form{
      display: flex;
      flex:1;
      justify-content: center;
      align-items: center;

      .where-top{
        display:flex;
        align-items: center;
        width: 1200px;
        margin: 0 auto;

        .where{
          display: flex;
          flex:2;
          flex-direction: column;
          font-size: 2em;
        }
        .where-form{
          display: flex;
          flex:5;

          .form{
            position: relative;

            .search-word{
              display: flex;
              flex:3;

              #search-word{
                position: absolute;
                display: flex;
                flex:3;
                padding-left: 20px;
                margin-right: 40px;
                font-size: 14px;
                height: 49px;
                border: 2px solid #a39aa3;
                border-radius: 51px;
              }
              #search{
                position: absolute;
                top: 17px;
                right: 30px;
                max-height: 20px;
              }
            }
            #search-btn{
              display: flex;
              flex:1;
              height: 53px;
              font-size: 18px;
              border: 0px solid #504f57;
              border-radius: 51px;
              background-color: #504f57;
              color: white;
              letter-spacing: 2px;
              font-weight: bold;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

.search-page{
  .all{
    display: flex;
    flex:1;
    height: initial;
    flex-direction: column;
  }
  .where-form2{
    display: flex;
    flex:1;
    justify-content: center;

    .search-word2{
      width: 300px;

      .form{
        position: relative;

        #search-word2{
          position: relative;
          display: flex;
          flex:3;
          padding-left: 20px;
          margin-right: 40px;
          font-size: 14px;
          height: 49px;
          border: 2px solid #a39aa3;
          border-radius: 51px;
          width: 300px;
        }
        #search2{
          position: absolute;
          top: 17px;
          right: -5px;
          max-height: 20px;
        }
      }
    }
  }
  .main{
    width: 1100px;
    margin: 0 auto;

    .search-center{
      display: flex;
      flex:7;
      flex-direction: column;

      .main-top{
        display: flex;
        flex: 1;
        padding:50px 0px;

        .search-time{
          display: flex;
          flex: 1;
          justify-content: flex-end;
          padding-right: 4%;
          height: 30px;
        
          a{
            text-decoration: none;
            color: gray;
            margin-right: 25px;
          } 
          a:hover{
            text-decoration: none;
            color: black;
          }
          a:active{
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        }
      }
      .search-list{
        display: flex;
        flex: 8;
        flex-direction: column;

        .hideme{
          opacity: 0;
        }
        .list-line{
          display: flex;
          margin-bottom: 20px;
          flex-wrap: wrap;

          .store-list{
            flex:1;
            margin-bottom: 30px;

            .img-container{
              width: 232px;
              height: 232px;
              overflow: hidden;
              border-radius: 10px;
              
              >img{
                width:100%; 
                height:100%;
                padding-bottom: 10px;
                cursor: pointer;
                transition:all 0.5s;

                &:hover{
                  transform: scale(1.2);
                }
              }
            }
            .store-name{
              font-weight:bold;
              font-size: 15px;
            }
            .views{
              color:#d8a3d2; 
              display:flex; 
              flex:1; 
              justify-content:center;
            }
            .keyword{
              margin-right: 10px;
              font-size: 13px;
              min-width: 59px;
              min-height: 22px;
              border: 1px solid #d8a3d2;
              border-radius: 5px;
              padding: 2px 5px;
              text-align: center;
              align-items: center;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}